@射影机取得
PRINTFORMW 轻轻擦去盒子表面的灰尘，掀开盖子
PRINTFORMW 里面是一个老式照相机
PRINTFORMW 在盖子上还有一张纸条
PRINTL
PRINTL
PRINTL
PRINTFORML ┌%"─" * 21%┐
PRINTFORML ｜%" ", 6, LEFT%%"这是一台来自外界的摄像机", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"据说其出自民俗学家", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORM ｜%" ", 6, LEFT%
SETCOLOR C_RED
PRINTFORM %"麻生邦彦博士", 30, LEFT%
RESETCOLOR
PRINTFORML	%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"之手", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"可以拍摄到", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"“看不见的东西”", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"请根据您的需要", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML ｜%" ", 6, LEFT%%"尽情使用吧", 30, LEFT%%" ", 6, LEFT%｜
PRINTFORML └%"─" * 21%┘
PRINTL
PRINTL
PRINTW
SETCOLOR C_YELLOW
FONTSTYLE 1
PRINTFORMW 取得了【奇怪的摄影机】
FONTSTYLE 0
RESETCOLOR
射影机 = 1

@摄像(ARG)
IF AT_HOME(MASTER) && (ROOMDATA:(CFLAG:MASTER:現在位置 % 100) & 場所_風呂 || ROOMDATA:(CFLAG:MASTER:現在位置 % 100) & 場所_廁所)
	PRINTFORML 这里不太适合进行拍照……
	RETURN -1
ENDIF
LOCALS = %照片拍摄(ARG, !RAND:5)%
LOCALS:1 = 拍摄于%胶片时间信息()%
PRINTFORMW 获得了【%LOCALS%】的照片
CALL 照片存储(LOCALS, LOCALS:1)


@照片拍摄(ARG, 拍摄察觉)
#FUNCTIONS
#DIMS DYNAMIC 时间描述
#DIMS DYNAMIC 天气描述
#DIMS DYNAMIC 地点描述
#DIMS DYNAMIC 服装描述
#DIMS DYNAMIC 行动描述
#DIMS DYNAMIC 人物描述
#DIMS DYNAMIC 完整胶片
#DIM _COUNT
#DIM DYNAMIC 拍摄察觉
IF CFLAG:ARG:诶嘿嘿 == 0
	;时间
	SELECTCASE TIME:2
		CASE 1
			时间描述 = %TEXTR("破晓/拂晓/凌晨/黎明/薄晓")%
		CASE 2
			时间描述 = %TEXTR("早朝/早晨/上午/日间")%
		CASE 3
			时间描述 = %TEXTR("中午/午间/白昼/昼")%
		CASE 4
			时间描述 = %TEXTR("午后/下午/下昼/下晌")%
		CASE 5
			时间描述 = %TEXTR("落日/暮色/暮间/傍晚/薄暮")%
		CASE 6
			时间描述 = %TEXTR("夜晚/夜幕/晚间/夜色")%
		CASE 7
			时间描述 = %TEXTR("午夜/深夜/半夜/夜阑")%
	ENDSELECT
	时间描述 += "时"
	;天气，无天气感知区不显示天气描述
	IF !IS_NO_WEATHER_SEE(AT_AREA(ARG)) && OUTROOF(CFLAG:ARG:現在位置)
		IF INRANGE(FLAG:異常気象, 0, 8) || FLAG:異常気象 > 10
			SELECTCASE TIME:5
				CASE 0, 1
					天气描述 = %TEXTR("晴日/晴空/晴天")%
				CASE 2, 3
					天气描述 = %TEXTR("阴天/多云/云海/稠云")%
				CASE 4
					天气描述 = %TEXTR("雨天/细雨/轻雨/小雨")%
				CASE 5
					天气描述 = %TEXTR("大雨/落雨")%
				CASE 6
					天气描述 = %TEXTR("雾雨/薄雨")%
				CASE 7
					天气描述 = %TEXTR("青雾/雾/薄雾/雾色朦胧")%
				CASE 8
					天气描述 = %TEXTR("雪/落雪/飘雪/飞雪")%
				CASE 9
					天气描述 = %TEXTR("大雪/纷飞大学/鹅毛大雪/漫天飞雪")%
				CASE 10
					天气描述 = %TEXTR("冰雾/细雪")%
				CASE 11
					天气描述 = 雾雪
				CASE 12
					天气描述 = %TEXTR("雨夹雪/交加雪雨")%
				CASE 13
					天气描述 = %TEXTR("下落冰雹/下落冰粒")%
				CASE 14
					天气描述 = %TEXTR("暴雨/倾盆大雨/滂沱大雨")%
				CASE 15
					天气描述 = 落下大块冰雹
				; CASE 16
				; 	天气描述 = 交加风雨
				; CASE 17
				; 	天气描述 = 晴岚
			ENDSELECT
		ELSE
			SELECTCASE FLAG:異常気象
				CASE 9
					天气描述 = %TEXTR("台风/狂风暴雨/疾风骤雨/狂风骤雨/暴风骤雨")%
				CASE 10
					天气描述 = %TEXTR("猛吹雪/暴雪/雪虐风饕")%
				; CASE 11
				; 	天气描述 = 钻石尘
				; CASE 12
				; 	天气描述 = %TEXTR("沙尘暴/漫天黄沙/肆虐黄风")%
				; CASE 13
				; 	天气描述 = %TEXTR("烈日/毒日")%
				; CASE 14
				; 	天气描述 = 极光
			ENDSELECT
		ENDIF
	ENDIF

	;无时间感知区，以前包括地底之类，现在可以直接用精细一点
	;SIF GET_MAPID(CFLAG:ARG:現在位置) == 9 || GET_MAPID(CFLAG:ARG:現在位置) == 11
	SIF IS_NO_TIME_SEE(AT_AREA(ARG))
		VARSET 时间描述

	IF GET_MAPID(CFLAG:ARG:現在位置) == MAIN_MAP
		地点描述 = %STR_TR(8000 + CFLAG:ARG:現在位置)%
	ELSE
		地点描述 = %STR_TR(6000 + CFLAG:ARG:現在位置 / 10)%
	ENDIF

	SIF CURRENT_CLOTHES_SET(ARG) != CSVCFLAG(NO:ARG, GETNUM(CFLAG, "基本服装セット")) && (INRANGE(CURRENT_CLOTHES_SET(ARG), 1, 30) || INRANGE(CURRENT_CLOTHES_SET(ARG), 50, 99))
		服装描述 = %GET_STR(ARG, "衣装セット", CURRENT_CLOTHES_SET(ARG), "名前")%
	;自由行动、工作（正常工作或宴会）或无特殊行动
	IF Activity_Duration:ARG > 0
		IF !FreeAct_Chain(ARG)
			行动描述 = %FreeAct_Name(ARG)%
		ELSE
			FOR _COUNT, 2, GET_TARGETNUM() + 1
				IF RELATION:ARG:(TARGET:_COUNT) > 100 && Activity_Duration:ARG == Activity_Duration:(TARGET:_COUNT)
					行动描述 += @"和%CALLNAME:(TARGET:_COUNT)%一起"
					BREAK
				ENDIF
			NEXT
			行动描述 += FreeAct_Name(ARG)
		ENDIF
	ELSEIF CFLAG:ARG:行動 == 5
		IF INRANGE(CFLAG:ARG:宴会参加, 1, 2) || CFLAG:ARG:職種 == JOB_酔いつぶれる
			SELECTCASE CFLAG:ARG:職種
				CASE JOB_宴会準備
					行动描述 += @"进行宴会的准备工作"
				CASE JOB_宴会参加
					行动描述 += @"参加%EnkaiTitle%"
				CASE JOB_宴会の片づけ
					行动描述 += @"进行宴会的善后工作"
				CASE JOB_酔いつぶれる
					行动描述 += @"烂醉如泥"
			ENDSELECT
		ELSE
			行动描述 += @"进行%GET_JOBNAME(ARG)%"
		ENDIF
	ELSE
		IF FLAG:時間停止
			行动描述 = %通常行动描述_时停(ARG)%
		ELSE
			IF !拍摄察觉
				IF OUTROOF(CFLAG:ARG:現在位置)
					IF !IS_NO_WEATHER_SEE(AT_AREA(ARG))
						IF 天候造成的影響(ARG, CFLAG:ARG:現在位置) <= -3
							行动描述 = %通常行动描述_未察觉_室外_天气可用_适宜气候(ARG)%
							; 	IF OUTROOF(CFLAG:ARG:現在位置) && !IS_NO_WEATHER_SEE(AT_AREA(ARG))
							; 		IF (MAIN_MAP != 8 && CFLAG:ARG:現在位置 != 天界) || (MAIN_MAP == 8 && MAP_SEARCH_REPLACEMENT_8(CFLAG:ARG:現在位置) != 天界)
							; 			IF !(GROUPMATCH(TIME:5, 5, 9, 12, 13, 14, 15, 16) || GROUPMATCH(FLAG:異常気象, 9, 10, 12))
							; 				SELECTCASE RAND:10
							; 					CASE 0
							; 						行动描述 = 静静注视着远方不知在看什么
							; 					CASE 1
							; 						行动描述 = 似乎被什么吸引了注意力而看向旁边
							; 					CASE 2
							; 						行动描述 = 正闭着眼伸了个懒腰
							; 					CASE 3
							; 						行动描述 = 似乎被什么东西吓了一跳
							; 					CASE 4
							; 						行动描述 = 正用手整理自己眼前的头发
							; 					CASE 5
							; 						行动描述 = 背对着镜头
							; 					CASE 6
							; 						行动描述 = 抬头45°角望着天空
							; 					CASE 7
							; 						行动描述 = 正弯下腰去不知发现了什么
							; 					CASE 8
							; 						行动描述 = 正放空视线发着呆
							; 					CASE 9
							; 						行动描述 = 低着头不知在想什么
							; 				ENDSELECT
							; 			ELSEIF GROUPMATCH(TIME:5, 5, 12, 14, 16) || FLAG:異常気象 == 9
							; 				SELECTCASE RAND:4
							; 					CASE 0
							; 						行动描述 = 急切寻找能够避雨的地方
							; 					CASE 1
							; 						行动描述 = 用手臂遮挡防止雨水遮挡视野
							; 					CASE 2
							; 						行动描述 = 衣服因为湿透而变得半透明
							; 					CASE 3
							; 						行动描述 = 雨水顺着脸不断滑落
							; 				ENDSELECT
							; 			ELSEIF TIME:5 == 9 || FLAG:異常気象 == 9
							; 				SELECTCASE RAND:4
							; 					CASE 0
							; 						行动描述 = 在大雪中蜷缩着身子
							; 					CASE 1
							; 						行动描述 = 被风雪吹得睁不开眼
							; 					CASE 2
							; 						行动描述 = 寻找着躲避风雪的地方
							; 					CASE 3
							; 						行动描述 = 将手放在口边呼气
							; 				ENDSELECT
							; 			ELSEIF GROUPMATCH(TIME:5, 13, 15)
							; 				SELECTCASE RAND:3
							; 					CASE 0
							; 						行动描述 = 用手挡在头上面阻挡冰雹
							; 					CASE 1
							; 						行动描述 = 用手捂住刚被冰雹砸中的地方
							; 					CASE 2
							; 						行动描述 = 正弯腰捡起一块落在地上的冰雹
							; 				ENDSELECT
							; 			ELSEIF FLAG:異常気象 == 12
							; 				SELECTCASE RAND:3
							; 					CASE 0
							; 						行动描述 = 被沙尘暴迷住眼睛
							; 					CASE 1
							; 						行动描述 = 正在清理沾在身上的沙土
							; 					CASE 2
							; 						行动描述 = 护住口鼻防止吸入风沙
							; 				ENDSELECT
							; 			ENDIF
							; 		ELSE
							; 			SELECTCASE RAND:3
							; 				CASE 0
							; 					行动描述 = 望着处在下方的云海
							; 				CASE 1
							; 					行动描述 = 眺望着远处的地平线
							; 				CASE 2
							; 					行动描述 = 抬头看向头顶的深空
							; 			ENDSELECT
							; 		ENDIF
							; 	ELSEIF OUTROOF(CFLAG:ARG:現在位置) && IS_NO_WEATHER_SEE(AT_AREA(ARG))
							; 		SELECTCASE RAND:10
							; 			CASE 0
							; 				行动描述 = 静静注视着远方不知在看什么
							; 			CASE 1
							; 				行动描述 = 似乎被什么吸引了注意力而看向旁边
							; 			CASE 2
							; 				行动描述 = 正闭着眼伸了个懒腰
							; 			CASE 3
							; 				行动描述 = 似乎被什么东西吓了一跳
							; 			CASE 4
							; 				行动描述 = 正用手整理自己眼前的头发
							; 			CASE 5
							; 				行动描述 = 背对着镜头
							; 			CASE 6
							; 				行动描述 = 抬头看着上方的岩石天顶
							; 			CASE 7
							; 				行动描述 = 正弯下腰去不知发现了什么
							; 			CASE 8
							; 				行动描述 = 正放空视线发着呆
							; 			CASE 9
							; 				行动描述 = 低着头不知在想什么
							; 		ENDSELECT
							; 	ELSE
							; 		SELECTCASE RAND:9
							; 			CASE 0
							; 				行动描述 = 静静注视着窗外
							; 			CASE 1
							; 				行动描述 = 似乎被什么吸引了注意力而看向旁边
							; 			CASE 2
							; 				行动描述 = 正闭着眼伸了个懒腰
							; 			CASE 3
							; 				行动描述 = 靠在墙上
							; 			CASE 4
							; 				行动描述 = 正用手整理自己眼前的头发
							; 			CASE 5
							; 				行动描述 = 背对着镜头
							; 			CASE 6
							; 				行动描述 = 正弯下腰去不知发现了什么
							; 			CASE 7
							; 				行动描述 = 正放空视线发着呆
							; 			CASE 8
							; 				行动描述 = 低着头不知在想什么
							; 		ENDSELECT
							; 	ENDIF
						ELSE
							行动描述 = %通常行动描述_未察觉_室外_天气可用_恶劣气候(ARG)%
						ENDIF
					ELSE
						行动描述 = %通常行动描述_未察觉_室外_天气不可用(ARG)%
					ENDIF
				ELSE
					行动描述 = %通常行动描述_未察觉_室内(ARG)%
				ENDIF
			ELSE
				行动描述 = %通常行动描述_察觉(ARG)%
				; IF TALENT:ARG:思慕
				; 	SELECTCASE RAND:3
				; 		CASE 0
				; 			行动描述 = 发现了你而眼神有些回避
				; 		CASE 1
				; 			行动描述 = 向这边轻轻微笑
				; 		CASE 2
				; 			行动描述 = 发现了你而有些慌张的遮挡
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:恋慕
				; 	SELECTCASE RAND:3
				; 		CASE 0
				; 			行动描述 = 对着你开心地笑着
				; 		CASE 1
				; 			行动描述 = 发现了你并向你靠近了过来
				; 		CASE 2
				; 			行动描述 = 贴在你身边
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:炮友 || TALENT:ARG:愛欲 || TALENT:ARG:淫乱
				; 	SELECTCASE RAND:3
				; 		CASE 0
				; 			行动描述 = 有意无意地向你展示着自己的身体
				; 		CASE 1
				; 			行动描述 = 用带有情欲的眼神望着你
				; 		CASE 2
				; 			行动描述 = 摆出暗示性的手势
				; 	ENDSELECT
				; ELSE
				; 	SELECTCASE RAND:4
				; 		CASE 0
				; 			行动描述 = 试图用手遮住你的镜头
				; 		CASE 1
				; 			行动描述 = 用手遮挡着自己的脸
				; 		CASE 2
				; 			行动描述 = 迅速转过身去
				; 		CASE 3
				; 			行动描述 = 快速离开只留下模糊的虚影
				; 	ENDSELECT
				; ENDIF
			ENDIF
		ENDIF
		; 种族 開朗／阴郁 冷漠 喜欢引人注目 心情
		;IF TALENT:ARG:思慕

		;ELSEIF TALENT:ARG:恋慕

		;ELSEIF TALENT:ARG:炮友 || TALENT:ARG:愛欲 || TALENT:ARG:淫乱

		;ELSE
			; IF (OUTROOF(CFLAG:ARG:現在位置) && !IS_NO_WEATHER_SEE(AT_AREA(ARG)) && !(GROUPMATCH(TIME:5, 0, 1, 2, 3, 7, 17, 18) || INRANGE(FLAG:異常気象, 0, 8))
			; 	SELECTCASE TIME:5
			; 		CASE
			; 	ENDSELECT
				; IF TALENT:ARG:人类 > 0
				; 	SELECTCASE TALENT:ARG:人类
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:妖怪 > 0
				; 	SELECTCASE TALENT:ARG:妖怪
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:妖精 > 0
				; 	SELECTCASE TALENT:ARG:妖精
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:神霊 > 0
				; 	SELECTCASE TALENT:ARG:神霊
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:幽霊 > 0
				; 	SELECTCASE TALENT:ARG:幽霊
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:付喪神 > 0
				; 	SELECTCASE TALENT:ARG:付喪神
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:人形 > 0
				; 	SELECTCASE TALENT:ARG:人形
				; 	ENDSELECT
				; ELSEIF TALENT:ARG:追加種族 > 0
				; 	SELECTCASE TALENT:ARG:追加種族
				; 	ENDSELECT
				; ENDIF



		;ENDIF

	ENDIF
	完整胶片 = %时间描述%\@STRLENS(天气描述) > 0 ? 在%天气描述%下的%地点描述% # 在%地点描述% \@\@STRLENS(服装描述) > 0 ? ，穿着%服装描述% # \@%行动描述%的%CALLNAME:ARG%
ELSE

ENDIF
RETURNF 完整胶片

; 行动描述 =

; 被雨淋湿了
; 寻找可以挡雨的地方
; 伸出手去接雨滴

; 衣服因为湿透而变得半透明
; ;小孩吗
; 用力踩下地上的水坑而导致积水四溅
; 抬头看天而导致雨水滴入眼睛
; 扯了扯因为湿透而沾在身上的衣服
; 出神地看着不断落下的雨水
; ;动物吗
; 抖动着甩掉身上沾着的雨水

@通常行动描述_时停(ARG)
#FUNCTIONS
VARSET RESULTS
RESULTS = 保持着绝对静止的状态
RETURNF RESULTS
@通常行动描述_未察觉_室外_天气可用_适宜气候(ARG)
#FUNCTIONS
VARSET RESULTS
IF !RAND:4
	SELECTCASE TIME:5
		CASE 0, 1
			IF TALENT:ARG:妖怪 == 3 || EQUIP:ARG:飾品 == 6
				RESULTS = 正高举着伞遮阳
			ELSE
				SELECTCASE RAND:3
					CASE 0
						RESULTS = 寻找阴凉地方避暑
					CASE 1
						RESULTS = 半眯着眼并用手遮挡阳光
					CASE 2
						RESULTS = 用着小手为自己扇风
				ENDSELECT
			ENDIF
		CASE 4
			IF (TALENT:ARG:幼稚 || TALENT:ARG:幼児／幼児退行) && !RAND:3
				RESULTS = 用力踩下地上的水坑而导致积水四溅
			ELSEIF (TALENT:ARG:狐 || TALENT:ARG:妖狐 || TALENT:ARG:動物耳 || GROUPMATCH(TALENT:ARG:妖怪, 6, 7)) && !RAND:3
				RESULTS = 抖动着甩掉身上沾着的雨水而显得有些炸毛
			ELSEIF TALENT:ARG:音楽知識 == 3 && !RAND:3
				RESULTS = 在雨中如一只鹤般高兴地翩翩起舞着
			ELSE
				SELECTCASE RAND:3
					CASE 0
						RESULTS = 伸出手去接雨滴
					CASE 1
						RESULTS = 抬头看天时被一滴雨水正好滴入眼睛
					CASE 2
						RESULTS = 出神地看着不断落下的雨水
				ENDSELECT
			ENDIF
		CASEELSE
			RESULTS = %通常行动描述_未察觉_正常通用(ARG)%
	ENDSELECT
ELSEIF !RAND:10
	RESULTS = 静静注视着远方不知在看什么
ELSE
	RESULTS = %通常行动描述_未察觉_正常通用(ARG)%
ENDIF
RETURNF RESULTS

@通常行动描述_未察觉_室外_天气可用_恶劣气候(ARG)
#FUNCTIONS
VARSET RESULTS
SELECTCASE TIME:5
	;烈日，夏日时对水栖生物和蕾蒂恶劣
	; CASE 1
	; 	IF DAY:2 == 2 && (TALENT:ARG:水棲 || TALENT:ARG:氷精 == 2)
	; 	ENDIF
	;大雨/豪雨，对非水栖生物恶劣
	CASE 5, 14
		IF !TALENT:ARG:水棲
			SELECTCASE RAND:5
				CASE 0
					RESULTS = 急切寻找能够避雨的地方
				CASE 1
					RESULTS = 用手臂遮挡防止雨水遮挡视野
				CASE 2
					RESULTS = 衣服因为湿透而变得半透明
				CASE 3
					RESULTS = 雨水顺着脸不断滑落
				CASE 4
					RESULTS = 扯了扯因为湿透而沾在身上的衣服
			ENDSELECT
		ENDIF
	;吹雪，对非冰精恶劣
	CASE 9, 13
		IF !TALENT:ARG:氷精
			SELECTCASE RAND:4
				CASE 0
					RESULTS = 在大雪中蜷缩着身子
				CASE 1
					RESULTS = 被风雪吹得睁不开眼
				CASE 2
					RESULTS = 寻找着躲避风雪的地方
				CASE 3
					RESULTS = 将冻得有些发红的手放在口边呼气
			ENDSELECT
		ENDIF
	;冰雹，对非冰精恶劣
	CASE 13
		IF !TALENT:ARG:氷精
			SELECTCASE RAND:3
				CASE 0
					RESULTS = 用手挡在头上面阻挡冰雹
				CASE 1
					RESULTS = 用手捂住刚被冰雹砸中的地方
				CASE 2
					RESULTS = 被正好落到衣服内的冰块吓了一跳
			ENDSELECT
		ENDIF
	;大冰雹，任何对象均恶劣
	; CASE 15

	CASEELSE
ENDSELECT
RETURNF RESULTS

@通常行动描述_未察觉_室外_天气不可用(ARG)
#FUNCTIONS
VARSET RESULTS
IF !RAND:5
	IF GET_MAPID(CFLAG:ARG:現在位置) == 9
		RESULTS = 抬头看着上方的岩石天顶
	ELSEIF (MAIN_MAP != 8 && CFLAG:ARG:現在位置 == 天界) || (MAIN_MAP == 8 && MAP_SEARCH_REPLACEMENT_8(CFLAG:ARG:現在位置) == 天界)
		SELECTCASE RAND:3
			CASE 0
				RESULTS = 望着处在下方的云海
			CASE 1
				RESULTS = 眺望着远处的地平线
			CASE 2
				RESULTS = 抬头看向头顶的深空
		ENDSELECT
	ENDIF
ELSEIF !RAND:10
	RESULTS = 静静注视着远方不知在看什么
ELSE
	RESULTS = %通常行动描述_未察觉_正常通用(ARG)%
ENDIF
RETURNF RESULTS

@通常行动描述_未察觉_室内(ARG)
#FUNCTIONS
VARSET RESULTS
IF !RAND:6
	SELECTCASE RAND:2
		CASE 0
			RESULTS = 静静注视着窗外
		CASE 1
			RESULTS = 靠在墙上
	ENDSELECT
ELSE
	RESULTS = %通常行动描述_未察觉_正常通用(ARG)%
ENDIF
RETURNF RESULTS

@通常行动描述_未察觉_正常通用(ARG)
#FUNCTIONS
VARSET RESULTS
SELECTCASE RAND:7
	CASE 0
		RESULTS = 似乎被什么吸引了注意力而看向旁边
	CASE 1
		RESULTS = 正闭着眼伸了个懒腰
	CASE 2
		RESULTS = 似乎被什么东西吓了一跳
	CASE 3
		RESULTS = 正用手整理自己眼前的头发
	CASE 4
		RESULTS = 背对着镜头
	CASE 5
		RESULTS = 正弯下腰去不知发现了什么
	CASE 6
		RESULTS = 正放空视线发着呆
ENDSELECT
RETURNF RESULTS

@通常行动描述_察觉(ARG)
#FUNCTIONS
VARSET RESULTS
IF !RAND:4
	SELECTCASE TIME:5
		CASE 4
			IF TALENT:ARG:恋慕 || TALENT:ARG:恋人
				RESULTS = 坏笑着用力踩下地上的水坑激起向着你飞来的水花
			ELSE
				RESULTS = %通常行动描述_察觉_通用(ARG)%
			ENDIF
		CASEELSE
			RESULTS = %通常行动描述_察觉_通用(ARG)%
	ENDSELECT
ELSE
	RESULTS = %通常行动描述_察觉_通用(ARG)%
ENDIF
RETURNF RESULTS

@通常行动描述_察觉_通用(ARG)
#FUNCTIONS
VARSET RESULTS

IF TALENT:ARG:恋慕 || TALENT:ARG:恋人
	SELECTCASE RAND:3
		CASE 0
			RESULTS = 对着你开心地笑着
		CASE 1
			RESULTS = 发现了你并向你靠近了过来
		CASE 2
			RESULTS = 贴在你身边
	ENDSELECT
ELSEIF TALENT:ARG:炮友 || TALENT:ARG:愛欲
	SELECTCASE RAND:3
		CASE 0
			RESULTS = 有意无意地向你展示着自己的身体
		CASE 1
			RESULTS = 用带有情欲的眼神望着你
		CASE 2
			RESULTS = 摆出暗示性的手势
	ENDSELECT
ELSEIF TALENT:ARG:思慕
	SELECTCASE RAND:3
		CASE 0
			RESULTS = 发现了你而眼神有些回避
		CASE 1
			RESULTS = 向这边轻轻微笑
		CASE 2
			RESULTS = 发现了你而有些慌张的遮挡
	ENDSELECT
ELSE
	SELECTCASE RAND:4
		CASE 0
			RESULTS = 试图用手遮住你的镜头
		CASE 1
			RESULTS = 用手遮挡着自己的脸
		CASE 2
			RESULTS = 迅速转过身去
		CASE 3
			RESULTS = 快速离开只留下模糊的虚影
	ENDSELECT
ENDIF
RETURNF RESULTS

@胶片时间信息
#FUNCTIONS
RETURNF @"%GETTIMES()% 第{DAY,3,RIGHT}日(%GET_MONTH()%{DAY:3}日)"


@照片存储(ARGS, ARGS:1)
FOR LOCAL, 0, 100
	IF STRLENS(相册照片:LOCAL) > 0
		SIF LOCAL < 99
			CONTINUE
	ELSE
		相册照片:LOCAL = %ARGS%
		照片信息:LOCAL = %ARGS:1%
		BREAK
	ENDIF
	CALL 照片删除(0, 1)
	相册照片:LOCAL = %ARGS%
	照片信息:LOCAL = %ARGS:1%
NEXT

@照片删除(ARG, ARG:1)
ARRAYREMOVE 相册照片, ARG, ARG:1
ARRAYREMOVE 照片信息, ARG, ARG:1

@相册
#DIM DYNAMIC MAXPAGE
#DIM DYNAMIC PAGE
#DIM DYNAMIC LINE_RECORD
#DIM DYNAMIC LINE_RECORD2
#DIM DYNAMIC CHOOSE_COMMAND
FOR LOCAL, 0, 100
	IF STRLENS(相册照片:LOCAL) > 0
		LOCAL:1 ++
	ELSE
		BREAK
	ENDIF
NEXT
MAXPAGE = (LOCAL:1 - 1) / 20
LINE_RECORD = LINECOUNT
WHILE 1
	CUSTOMDRAWLINE =
	HTML_PRINT @"<b><font color='#0xFFFF00'>　　　　相册照片（第{PAGE+1}／{MAXPAGE+1}页）　　　　</font></b>"
	CUSTOMDRAWLINE =
	FOR LOCAL, PAGE * 20, (PAGE + 1) * 20
		IF STRLENS(相册照片:LOCAL) > 0
			HTML_PRINT @"<button value='{LOCAL}'>--%相册照片:LOCAL%</button>"
		ELSE
			HTML_PRINT @"<font color='#0x404040'><nonbutton>---------------------------</nonbutton></font>"
		ENDIF
	NEXT
	{
	HTML_PRINT @"<button value = '1001'>［上一页］</button><button value = '1002'>［下一页］</button>　　　　
	<button value = '1010'>［删除十张最旧的照片］</button><button value = '1100'>［清空］</button><br>
	<button value = '1101'>［退出］</button>"
	}
	INPUT
	CHOOSE_COMMAND = RESULT
	LINE_RECORD2 = LINECOUNT
	SELECTCASE CHOOSE_COMMAND
		CASE 0 TO 99
			WHILE 1
				CUSTOMDRAWLINE =
				HTML_PRINT @"<u><b>%相册照片:CHOOSE_COMMAND%<br>%照片信息:CHOOSE_COMMAND%</b></u>"
				HTML_PRINT @"<button value = '1'>［返回］</button><button value = '2'>［删除］</button>"
				INPUT
				SELECTCASE RESULT
					CASE 1
						CLEARLINE LINECOUNT - LINE_RECORD2
						BREAK
					CASE 2
						PRINTFORML 确定要删除这张照片吗？
						CALL ASK_YN
						IF !RESULT
							CLEARLINE LINECOUNT - LINE_RECORD2
							CALL 照片删除(CHOOSE_COMMAND, CHOOSE_COMMAND + 1)
							BREAK
						ENDIF
				ENDSELECT
				CLEARLINE LINECOUNT - LINE_RECORD2
			WEND
		CASE 1001
			SIF PAGE > 0
				PAGE --
		CASE 1002
			SIF PAGE < MAXPAGE
				PAGE ++
		CASE 1010
			PRINTFORML 确定要删除十张最旧的照片吗？
			CALL ASK_YN
			SIF !RESULT
				CALL 照片删除(0, 10)
		CASE 1100
			PRINTFORML 确定要删除这张照片吗？
			CALL ASK_YN
			SIF !RESULT
				CALL 照片删除(0, 100)
		CASE 1101
			CLEARLINE LINECOUNT - LINE_RECORD
			BREAK
	ENDSELECT
	CLEARLINE LINECOUNT - LINE_RECORD
WEND
