@Xray_modding_setting
WHILE 1
    LOCAL = LINECOUNT
    DRAWLINE
    FONTSTYLE 1
    PRINTL 透视图优化补丁设定界面
    FONTREGULAR
    DRAWLINE
    PRINTFORML [·]全局设定
    HTML_PRINT @"<button value='1'>　\@GETBIT(Xray_display_mode, 1)? %UNICODE(0x2611)% # %UNICODE(0x2610)% \@日常时不显示透视图</button>"
    HTML_PRINT @"<\@ GETBIT(Xray_display_mode, 1) ? button value='2' # nonbutton \@>\@ GETBIT(Xray_display_mode, 1) ? # <font color='#0x696969'> \@　　\@GETBIT(Xray_display_mode, 2)? %UNICODE(0x2611)% # %UNICODE(0x2610)% \@日常时若阴道/肛内润滑则显示透视图\@ GETBIT(Xray_display_mode, 1) ? # </font> \@<\@ GETBIT(Xray_display_mode, 1) ? /button # /nonbutton \@>"
    HTML_PRINT @"<\@ GETBIT(Xray_display_mode, 1) ? button value='3' # nonbutton \@>\@ GETBIT(Xray_display_mode, 1) ? # <font color='#0x696969'> \@　　\@GETBIT(Xray_display_mode, 3)? %UNICODE(0x2611)% # %UNICODE(0x2610)% \@日常时若阴道/肛内存在精液则显示透视图\@ GETBIT(Xray_display_mode, 1) ? # </font> \@<\@ GETBIT(Xray_display_mode, 1) ? /button # /nonbutton \@>"
	HTML_PRINT @"<button value='0'>　[0]退出设定</button>"
    INPUT
    SELECTCASE RESULT
        CASE 0
            CLEARLINE LINECOUNT - LOCAL
            BREAK
        CASE 1
            INVERTBIT Xray_display_mode, 1
			IF !GETBIT(Xray_display_mode, 1)
				CLEARBIT Xray_display_mode, 2
				CLEARBIT Xray_display_mode, 3
			ENDIF
        CASE 2
            INVERTBIT Xray_display_mode, 2
        CASE 3
            INVERTBIT Xray_display_mode, 3
    ENDSELECT
    DRAWLINE
    CLEARLINE LINECOUNT - LOCAL
WEND
