/.project
*.config
/sav
chara_*.dat
*.sav
*.mp3
/debug
*.log
*.bak
*.orig
/.vscode
setting.json
profile
lazyloading.dat
lazyloadingfiles.dat
lazyloading.bin
lazyloadingfiles.bin
[Tt]emp/
;自用
ERB/口上・メッセージ関連/個人口上/012 Rumia \[ルーミア]/露米娅~宵暗之花 - Moe茗
ERB/口上・メッセージ関連/個人口上/118 Larva \[ラルバ]/拉尔瓦~永恒之蝶 - Moe茗
ERB/口上・メッセージ関連/個人口上/001 Reimu \[霊夢]/灵梦-少女之梦
ERB/キャラデータ/Special_Menu_Addition.ERB
ERB/DLC/梦世界
ERB/口上・メッセージ関連/個人口上/028 Mystia \[ミスティア]/夜雀井
ERB/口上・メッセージ関連/個人口上/102 Shinki \[神綺]/神綺自制
plugins/ChatCallSharp.dll
serverapi.exe
魔改版更新记录文档/指令集工具.xlsx
ERB/口上・メッセージ関連/個人口上/080 Akyuu \[阿求]/阿求/M_KOJO_K80_派生コマンド.ERB
