/.project
.trae/
*.config
/sav
chara_*.dat
*.sav
*.mp3
/debug
*.log
*.bak
*.orig
/.vscode
setting.json
profile
lazyloading.dat
lazyloadingfiles.dat
lazyloading.bin
lazyloadingfiles.bin
[Tt]emp/
update_debug_log.txt
更新文件/
