/.project
*.config
/sav
chara_*.dat
*.sav
/debug
*.log
*.bak
*.orig
/.vscode
setting.json
profile
lazyloading.dat
lazyloadingfiles.dat
;自用
ERB/口上・メッセージ関連/個人口上/012 Rumia \[ルーミア]/露米娅~宵暗之花 - Moe茗
ERB/口上・メッセージ関連/個人口上/118 Larva \[ラルバ]/拉尔瓦~永恒之蝶 - Moe茗
ERB/口上・メッセージ関連/個人口上/001 Reimu \[霊夢]/灵梦-少女之梦
ERB/キャラデータ/Special_Menu_Addition.ERB
update_debug_log.txt
更新文件/
