@GET_HTML_COLORMESSAGE(MESSAGE, COLOR, NEWLINE)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#FUNCTIONS
	#DIMS MESSAGE
	#DIMS COLOR
	#DIM NEWLINE
	#DIMS HTMLText
	VARSET HTMLText
	HTMLText '= @"<FONT COLOR='%SUBSTRING(COLOR,2)%'>%MESSAGE%</FONT>"
	SIF NEWLINE
		HTMLText += @"<br>"
	RETURNF HTMLText

@GET_STRING_STATE_GENERAL(選択中キャラID, functionName)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#DIM 選択中キャラID
	#DIMS HOGES, 20
	#DIMS functionName
	#DIM lineRecord, 2

	VARSET HOGES
	VARSET LOCALS
	lineRecord:0 = LINECOUNT
	
	TRYCCALLFORM %functionName%, 選択中キャラID
	CATCH
		RETURN -1
	ENDCATCH

	lineRecord:1 = LINECOUNT
	FOR LOCAL,0,(lineRecord:1-lineRecord:0)
		HOGES:(lineRecord:1-lineRecord:0 -LOCAL) = %HTML_GETPRINTEDSTR(LOCAL)%
	NEXT
	CLEARLINE LINECOUNT - lineRecord:0
	FOR LOCAL, 0, lineRecord:1-lineRecord:0+1
		; 移除左右空白
		HOGES:LOCAL '= TRIM_STRING(HOGES:LOCAL)
		; 移除 用不到的 tag
		HOGES:LOCAL '= BAN_TAG_STRING(HOGES:LOCAL)
		SIF STRLENS(HOGES:LOCAL) < 1
			CONTINUE
		;不要 □ 開頭的，這是排版行
		SIF CHARATU(HOGES:LOCAL,0) == "□"
			CONTINUE
		LOCALS += HOGES:LOCAL + "<br>"
	NEXT
	RESULTS '= LOCALS


@GET_STRING_STATE_FORMAT(strings)
	#LOCALSIZE 1
	#FUNCTIONS
	#DIMS strings
	#DIMS HTMLText
	#DIM cnt
	VARSET HTMLText
	VARSET LOCALS
	SPLIT strings, "、", LOCALS
	RETURNF STRJOIN(LOCALS, "<br>")

@PRINT_STATE_BODYGRAPH(選択中キャラID)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#DIM 選択中キャラID
	#DIMS HTMLText
	#DIM windowsWidth
	#DIM portraitWidth
	#DIM textboxWidth
	#DIM circleWidth
	#DIM gapHeight
	#DIM totalLines
	#DIM infoTotalWidth
	#DIM infoHalfWidth
	#DIM infoHeight
	#DIM infoX
	#DIM infoY
	VARSET LOCALS
	VARSET LOCAL
	VARSET HTMLText

PRINTBUTTON "□ 身体情报 □",89999
IF ALTER_statusDisplay
	PRINT ==
	SIF ((FLAG:立絵種類 == 1 && CFLAG:選択中キャラID:別顔有) || (FLAG:立絵種類 == 0 && CFLAG:選択中キャラID:別立ち有)) && FLAG:画像表示
		PRINTBUTTON @"[98]立绘包:\@CFLAG:選択中キャラID:差し替え適用?可选立绘{CFLAG:選択中キャラID:差し替え適用}#初始立绘\@",98
ENDIF
HTML_POPPRINTINGSTR
HTML_PRINT RESULTS + @"%"=" * MAX(MAXWIDTH() - HTML_STRINGLEN(RESULTS), 0)%"

	; CALL Qol_Info_Body(選択中キャラID)
	IF TALENT:選択中キャラID:性別 == 3
		; 男性的話下面會再次輸出P，這邊就不用了
		CALL ちん遍歴(選択中キャラID)
		DRAWLINE
	ENDIF

	totalLines = 34

	windowsWidth = GETCONFIG("ウィンドウ幅")
	portraitWidth = GETCONFIG("一行の高さ") *18
	circleWidth = portraitWidth/2
	textboxWidth = (windowsWidth - portraitWidth)/2 - circleWidth
	gapHeight = portraitWidth/4

	; mouth
	CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "M", circleWidth, circleWidth)
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{textboxWidth}px' ypos='0'>%LOCALS%</div>"
	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_M")
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='0' ypos='0'><p align='right'>%LOCALS%</p></div>"

	IF TALENT:選択中キャラID:性別 == 2
		; 男性輸出 penis		
		CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "PC", circleWidth, circleWidth)
		LOCALS = %RESULTS%
		HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{textboxWidth}px' ypos='{circleWidth+gapHeight}px'>%LOCALS%</div>"
		CALL GET_STRING_STATE_GENERAL(選択中キャラID, "ちん遍歴")
		LOCALS = %RESULTS%
		HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='0' ypos='{circleWidth+gapHeight}px'><p align='right'>%LOCALS%</p></div>"
	ELSE
		; 女性或扶她輸出 vagina
		CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "V", circleWidth, circleWidth)
		LOCALS = %RESULTS%
		HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{textboxWidth}px' ypos='{circleWidth+gapHeight}px'>%LOCALS%</div>"
		CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_V")
		LOCALS = %RESULTS%
		CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_W")
		LOCALS += RESULTS
		HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='0' ypos='{circleWidth+gapHeight}px'><p align='right'>%LOCALS%</p></div>"
	ENDIF

	; breasts
	CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "B", circleWidth, circleWidth)
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{windowsWidth-textboxWidth-circleWidth}px' ypos='0'>%LOCALS%</div>"
	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_B")
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{windowsWidth-textboxWidth}px' ypos='0'>%LOCALS%</div>"

	; anus
	CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "A", circleWidth, circleWidth)
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{windowsWidth-textboxWidth-circleWidth}px' ypos='{circleWidth+gapHeight}px'>%LOCALS%</div>"
	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_A")
	LOCALS = %RESULTS%
	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_C")
	LOCALS += RESULTS
	HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{windowsWidth-textboxWidth}px' ypos='{circleWidth+gapHeight}px'>%LOCALS%</div>"

	; penis mushroom
	IF TALENT:選択中キャラID:性別 == 3
		CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "P", circleWidth, circleWidth)
		LOCALS = %RESULTS%
		HTMLText += @"<div width='{textboxWidth}px' height='2000' xpos='{windowsWidth-circleWidth}px' ypos='{-circleWidth * 6/5}px'>%LOCALS%</div>"
	ENDIF

	; 身心
	infoTotalWidth = portraitWidth + circleWidth * 8 / 5
	infoHeight = GETCONFIG("一行の高さ") * totalLines - 2 * circleWidth - gapHeight * 3 / 2
	infoX = (windowsWidth - portraitWidth) / 2 - circleWidth * 4 / 5
	infoY = gapHeight + portraitWidth + gapHeight / 2
	infoHalfWidth = infoTotalWidth / 2

	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_BODY")
	LOCALS = <p align='center'>%RESULTS%</p>
	HTMLText += @"<div border='1px' width='{infoHalfWidth}px' height='{infoHeight}px' xpos='{infoX}px' ypos='{infoY}px'>%LOCALS%</div>"
	RESULTS = 
	CALL GET_STRING_STATE_GENERAL(選択中キャラID, "肉体情報_HEART")
	LOCALS = <p align='center'>%RESULTS%</p>
	HTMLText += @"<div border='1px' width='{infoHalfWidth}px' height='{infoHeight}px' xpos='{infoX + infoHalfWidth}px' ypos='{infoY}px'>%LOCALS%</div>"

	; chara
	CALL GET_HTML_BODYGRAPH_IMAGE(選択中キャラID, "F", portraitWidth, portraitWidth)
	LOCALS = %RESULTS%
	HTMLText += @"<div width='{portraitWidth}px' height='{portraitWidth}px' xpos='{textboxWidth+circleWidth}px' ypos='{gapHeight}px'>%LOCALS%</div>"

	HTML_PRINT HTMLText

	FOR LOCAL, 0, totalLines
		PRINTL
	NEXT

@CHECK_BODYGRAPH_RECORD(TYPE="get", idxPart=-1, value=-1)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#DIMS TYPE
	#DIM idxPart
	#DIM value
	#DIM record, 10
	; 0: photo, 1:A, 2:B, 3:C, 4:V, 5:M
	SIF idxPart == -1
		RETURN 0

	SELECTCASE TYPE
		CASE "get"
			RETURN record:idxPart
		CASE "set"
			IF value != -1
				record:idxPart = value
				RETURN 1
			ENDIF
			IF idxPart == 4
				record:idxPart += 1
				record:idxPart = record:idxPart % 3
			ELSE
				IF record:idxPart == 0
					record:idxPart = 1
				ELSE
					record:idxPart = 0
				ENDIF
			ENDIF
		CASEELSE
			RETURN 0
	ENDSELECT

@TRIM_STRING(string)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#FUNCTIONS
	#DIMS string
	VARSET LOCALS
	LOCALS '= REPLACE(string, "^\s+", "")
	LOCALS '= REPLACE(LOCALS, "\s+$", "")
	RETURNF LOCALS

@BAN_TAG_STRING(string)
	#LOCALSIZE 1
	#LOCALSSIZE 1
	#FUNCTIONS
	#DIMS string
	VARSET LOCALS
	LOCALS '= REPLACE(string, "^<p[^>]*>", "")
	LOCALS '= REPLACE(LOCALS, "<\/p>$", "")
	LOCALS '= REPLACE(LOCALS, "^<nobr>", "")
	LOCALS '= REPLACE(LOCALS, "<\/nobr>$", "")
	RETURNF LOCALS