;-------------------------------------------------
;子选单的便利切换
;框架来自ERAFL
;-------------------------------------------------
@COM_OPTION(COM)
#DIM COM
#DIM DYNAMIC OPTIONNUM
#DIM DYNAMIC MOUSE_BTN
#DIM DYNAMIC INPUT_VALUES
#DIMS DYNAMIC ATR
#DIMS DYNAMIC TITLE
#DIMS DYNAMIC TITLE_STR
#DIMS DYNAMIC BODY
#DIMS DYNAMIC HTML
#DIMS DYNAMIC COM_NAME
#DIM DYNAMIC OPTION_COLOR

SIF !EXISTMETH(@"COM_HAS_OPTION{COM}")
	RETURN

OPTIONNUM = GETMETH(@"COM_HAS_OPTION{COM}")
FOR LOCAL, 0, OPTIONNUM
	RESULT = 0
	TRYCALLFORM COM_OPTION_ABLE{COM}(LOCAL)
	SIF !RESULT
		CONTINUE
	RESULT = -1
	TRYCALLFORM COM_OPTION_COLOR{COM}(LOCAL)
	OPTION_COLOR = RESULT
	
	CALLFORM COM_NAME{COM}(LOCAL)
	COM_NAME = %RESULTS%
	BODY += @"<font color = '%HTMLCOLOR(OPTION_COLOR)%'><button value = '{LOCAL}'>[%COM_NAME%]</button></font>"
	BODY += "<br>"
NEXT

BODY += @"<br>"
BODY += @"<button value = '99'>[关闭]</button>"
BODY += @"<br><br>"

ATR += @"<div rect='{MOUSEX() + 20}px, {MOUSEY() - 100}px, 1500, {HTML_STRINGLINES(BODY, 50) * 100}' border = '2px' depth='-1' padding = '25' color = '%HTMLCOLOR(GETBGCOLOR())%'>"
HTML = %TITLE + ATR + BODY + "</div>"%
CLEARLINE 1
HTML_PRINT HTML, 1

INPUT -1,1
INPUT_VALUES = RESULT
MOUSE_BTN = RESULT:1
;单击时处理
IF MOUSE_BTN == 1
	IF INRANGE(INPUT_VALUES, 0, OPTIONNUM)
		SETVAR @"COM_ALTER_{COM}",INPUT_VALUES
	ENDIF
ENDIF

RETURN