[SKIPSTART]
◆服装设定的规格
・基本上只是改变了记法，提高了可读性
・通过使用GET_INT/GET_STR可以获取信息
・每个服装使用2个函数（其中1个是存在与否函数）
・各个服装按服装类别（≒EQUIPNAME，但稍微改变）进行管理
・在同一服装类别中不能制作相同名称的装备品
　反过来说，如果是不同的服装类别，名称可以重复
　例）“头部装备”的蝴蝶结和“其他服装”的蝴蝶结
　但是，“外套”的白衣（はくい）和“上身衣服_不可敞开”的白衣（はくえ、びゃくえ）的情况下
　因为“同一表记所指的东西完全不同”，所以更改了上身衣服１的一侧（容易混淆）
・服装类别和装备部位基本上是一对一的对应关系
　例如，“头部装备”只能装备在EQUIP:帽子上
　但是，作为例外，“其他服装”可以装备在EQUIP:其他１、EQUIP:其他２、EQUIP:其他３的所有部位
　如果想改变这个规格，需要重新设定@CLOTHES_ID和所有服装ID（也就是很麻烦）
・服装的参照像这样
　GET_INT(注册号码等, 服装类别, 服装的类别内ID, 想要参照的信息的种类)
・想要获取特定名称的服装ID时，像这样
　CLOTHES_ID(装备部位名, 装备名)
・想要从装备部位获取对应的服装类别时，像这样
　CLOTHES_PARTS_TO_CATEGORY(装备部位名)
・从以上的函数中，只用装备部位和装备名（不使用号码）就可以参照装备
　GET_INT(注册号码等, CLOTHES_PARTS_TO_CATEGORY(装备部位名), CLOTHES_ID(装备部位名, 装备名), 想要参照的信息的种类)
　嘛，如果是参照现在装备中的装备，CLOTHES_ID是不需要的
　GET_INT(注册号码等, CLOTHES_PARTS_TO_CATEGORY(装备部位名), EQUIP:注册号码:装备部位名, 想要参照的信息的种类)
　会变成这样

・给自己用的备忘录
　（下半身内衣系又另算）
　我认为大概用这种思考方式就可以了
　上身衣服１（不可敞开）是外侧，上身衣服２（可以敞开）是内侧穿的服装


・服装名获取函数@CLOTHNAME
因为可以从各装备的设定中拉取，所以大幅简化

・服装名获取函数（@SHOW_BOTTOM等）
变更为单纯地返回最上面的装备的名字（简化）
如果想和名字分开，可以用STR用为所有服装设定“描写”之类的东西，可以简单地参照

・换装相关也用类似的规格实现
・服装套装函数群
　这个函数群描述换装套装的内容
・角色数据函数群
　这个函数群统一管理各个角色的个别数据
　因为便服的设定在各个角色中是独立的，所以在这里描述
　另外，为了实现爱丽丝的服装中存在的过年和服处理
　还追加了便服切换控制的功能
　如果想根据星期几切换也可以做到
　目标是七彩魔法使
・关于服装设定
　通过换装可以指定“每天都穿这件服装”
　0　　　保持默认
　1～99　指定COORDINATE1～99
　100　　手动设定（CFLAG:600～630）
　101～　模仿特定角色（参照特定角色的便服，101是灵梦）
・关于睡衣设定
　因为觉得睡衣没必要那么讲究
　所以采用了从COORDINATE函数中选择穿哪件的模式
　・睡衣（内衬）
　・睡衣（睡衣）
　・睡衣（吊带裙）
　・睡衣（连衣裙）
　・睡衣（裤子套装）
　・睡衣（裙子套装）
　・睡衣（裤子＋兜帽）
　・睡衣（裙子＋兜帽）
　但是，作为例外，可以用"パンイチ"只穿内裤，用"全裸"赤身裸体地睡觉
　（因为有实装了这种处理的姑娘）



◆关于各个装备品的变更
・名称变更
　睡衣→长睡衣
　因为图片搜索的结果过于激烈，所以更改名称
　为了和吊带裙衣区分，设想了比较安静的服装
・类别变更
　将“上身衣服_不可敞开”的“白衣（はくえ、びゃくえ）”的名称变更为“白小袖”
　在服装套装系中只有“一套神官服”使用，在“保健室的女教师套装”和“白衣天使套装”中都没有使用
　另外，因为也没有使用便服的角色，所以进行了变更
　
　而且，考虑到这个“白小袖”是穿在里面的服装，
　将服装类别移动到了“上身衣服_可以敞开”
・追加服装
　头部装备“兜帽”，为睡衣新设
　采用了在讨论串中出现的想法
・追加服装
　腕部装束“臂套”，为帕露西新设
・追加服装
　上半身衣服_不可敞开“水干”，为布都酱新设
　似乎也有巫女使用
・追加服装
　上半身衣服_不可敞开“狩衣”
　想要扩充和风方向
　如果是白色的话，会非常像神职人员
・追加服装
　鞋子“沓”
　因为是神职人员和贵族风格的服装，所以设想了和“水干”“狩衣”的套装，并追加了
・追加服装
　其他“胸针”
　因为没有影狼酱领口非常显眼的胸针，所以增设了
　蕾蒂也装备了



◆关于服装类别的名称
虽然知道规格会变得有些复杂，
但之所以改变一部分服装类别的名称，使其与EQUIPNAME不同，
是因为以下理由：
　理由１：函数名里出现@下半身内衣１2或者@下半身内衣１_2之类的实在太恶心了
　理由２：存在不直观的EQUIPNAME
　　　　　・蝴蝶结和发箍是“帽子”
　　　　　・下半身内衣１和下半身内衣２的区别难以理解（这个号码也是魔法数字）
　　　　　・暂且命名为“可敞开・不可敞开”“可错位・不可错位”
　　　　　・似乎这个分类也不明确，但总比号码好？
　　　　　・暂且是暂定的规格
　理由３：如果想修改EQUIPNAME侧，需要修改的地方太多
　　　　　只改变追加部分比较轻松

以下是EQUIPNAME和服装类别的对应关系

饰品
→饰品
　与其他不同，可能具有某种效果
　伞可能会在天气依赖的情况下用于减轻行动时的BASE消耗

帽子
→頭装备
　不仅指帽子，还指女仆发箍和蝴蝶结等头部装饰品

靴
→靴
　在室内脱掉

襪子
→襪子
　一部分角色可以通过配置使便服的服装变成过膝袜

下半身内衣１
→下半身内衣_不可错位

下半身内衣２
→下半身内衣_可错位
　下半身内衣（可错位）
　所谓的胖次（＋比基尼的下半身部分）
　因为独特的处理很多，所以与其他服装分开管理

上半身内衣１
→上半身内衣_不可敞开

上半身内衣２
→上半身内衣_可敞开

紧身内衣
→紧身内衣

连体内衣
→连体内衣

裤子
→裤子
　不可错位

下身衣服
→因为对应的装备太少所以废止，如果想复活请用其他之类的追加

裙子
→裙子
　可以掀起来的下半身装备

上身衣服１
→上身衣服_不可敞开

上身衣服２
→上身衣服_可敞开

连衣裙
→连衣裙

和服
→和服

外搭
→外搭
　与衣服不同，从上面披着的服装

其他１、其他２、其他３
→将１～３全部合并为“其他服装”

腕部装束
→腕部装束
　主要是手套系



◆胖次
因为特殊的处理很多，所以分开处理
・CFLAG:今天的胖次
　在一天开始时设定今天的胖次，并用CFLAG保持
・CFLAG:睡衣胖次
　在一天开始时设定睡衣用的胖次，并用CFLAG保持
　在换上睡衣时，如果没有穿内裤，就穿上睡衣胖次
　在穿上睡衣胖次的时候，睡衣胖次会被代入0
　所以不可能无限睡衣胖次



◆关于属性

装备品系类的属性
CASE "名字"
	名字，该服装的名称（STR）
	不能在服装类别内重复
	CALLF MAKE_STR(V_NAME, "眼镜")
CASE "装备部位"
	装备该服装的EQUIP（STR）
	CALLF MAKE_STR(V_NAME, "「饰品」")
CASE "可换装"
	胖次限定，是否可以用换装指令设定
	比基尼内裤、迷你比基尼内裤限定
	CALLF MAKE_INT(V_NAME, 1)
	虽然做了，但是因为没有手动换装功能，所以实际上没有实装
CASE "能穿"
	用于今天穿的内裤的判定（INT，或者说是真伪值1/0）
	不制作这个项目的胖次，角色不会自发地穿



衣装套装类的属性
CASE "名字"
	名字，该服装套装的名称（STR）
	不能在服装套装类内重复
CASE "各种装备部位"
	穿在该装备部位的服装的内容（INT）
	没有制作项目的部位会被视为0，什么都不穿
CASE "基本套装"
CASE "睡衣套装"
CASE "cosplay服装"
CASE "角色特殊服装集"
	这些都表示服装套装的种类（INT）
	嘛，现状只是随便做了做
	设为1的话，会被视为该属性的服装套装
	是列表显示用的设定



角色数据类的属性
CASE "称呼"
	必须，STR
	称呼，该角色的名称
	不能在角色数据类内重复
CASE "今天的睡衣"
	必须，STR
	描述穿的睡衣的种类
	睡衣种类的判定是
	１．首先，处理例外（参照恋）
	如果指定"パンイチ"，则睡衣不穿，只穿内衣
	如果指定"全裸"，则什么都不穿
	２．然后，根据STR参照服装套装
	如果存在一致的服装套装，则穿上该服装套装
	只穿白衬衫也是可以的（胖次的有无另行指定）
	３．最后，根据STR参照角色数据
	如果STR == "便装"，则参照该角色的便服

CASE "便装：各种装备部位"
	必须，INT
	便服的服装设定
	穿在该装备部位的服装的内容
	没有制作项目的部位会被视为0，什么都不穿
	也可以角色别指定“便装”以外的服装
	例）可以用"过年：各种装备部位"制作过年用的服装套装
	但是，这种情况下需要设定"今天的服装", "明天的服装"
CASE "今天的服装", "明天的服装"
	可省略，STR
	如果不设定便服以外的服装则不需要
	用于想要配合特定条件改变服装的时候
	SIF (DAY:2 == 1 && DAY:3 == 1) || (DAY:2 == 4 && DAY:3 == 31)
		CALLF MAKE_STR(V_NAME, "过年")
	这样描述的话，在符合条件的时候会穿上“过年”的服装（参照爱丽丝的处理）
	
	"今天的服装", "明天的服装"有什么不同呢
	服装的更新处理是在MASTER起床的时候进行的
	所以在那个时间点如果正在睡眠中（＝睡衣姿态），则设定明天的服装
	在那个时间点如果正在活动中，则设定现在穿着的便服
	
	注）功能追加
	追加了STR返回服装套装中存在的名字时，会套装该服装的功能


	作为服装指定用的字符串，"推荐", "固定"不能使用（在其他功能中使用）
	
CASE "推荐：各种装备部位", "固定：各种装备部位"
	未实装
	想做的话可以做，正在犹豫要不要做
	
	可省略，INT
	角色固有的“这个不能脱掉吧”的装备用的处理
	推荐・强制指定部位的装备
	类似于Emuera的config中的default/fix
	这个信息会在换装相关处理的最后适用
	例）华扇
	・束发簪是“推荐”
	・绷带和拘束具是“固定”
	指定推荐的情况下，如果该部位没有装备任何东西，则进行装备
	指定固定的情况下，会覆盖该部位的装备
	想要裸体的时候
	在EQUIP:0 = 0的基础上只穿固定装备
[SKIPEND]


;EQUIP:X:ARGに装備した
;ARG:1の衣装の名前を返す
@CLOTHNAME(ARG,ARG:1)
#FUNCTIONS
RETURNF CLOTHES_TR(GET_STR(, CLOTHES_PARTS_TO_CATEGORY(EQUIPNAME:(ARG:0)), ARG:1, "名前"))



;装備部位から該当する衣装カテゴリを返す
@CLOTHES_PARTS_TO_CATEGORY(ARGS)
#FUNCTIONS
SELECTCASE ARGS
[SKIPSTART]
;衣装の統合化
;途中まで考えたがめんどくてやめた
CASE "下半身内衣２"
	RETURNF "胖次"
CASE "和服", "レオタード", "ボディースーツ", "連衣裙"
	RETURNF "全身衣装"
CASE "帽子", "外搭", "腕部装束", "上身衣服１", "上身衣服２", "上半身内衣１", "上半身内衣２"
	RETURNF "上半身衣装"
CASE "裙子", "裤子", "靴", "襪子", "下半身内衣１"
	RETURNF "下半身衣装"
CASE "飾品", "其他１", "其他２", "其他３"
	RETURNF "其他衣装"
[SKIPEND]

CASE "飾品", "靴", "襪子", "レオタード", "ボディースーツ", "裤子", "裙子", "連衣裙", "和服", "外搭", "腕部装束"
	RETURNF ARGS
CASE "帽子"
	RETURNF "頭装備"
CASE "下半身内衣１"
	RETURNF "下半身内衣_ずらし不可"
CASE "下半身内衣２"
	RETURNF "下半身内衣_ずらし可能"
CASE "上半身内衣１"
	RETURNF "上半身内衣_はだけ不可"
CASE "上半身内衣２"
	RETURNF "上半身内衣_はだけ可能"
CASE "上身衣服１"
	RETURNF "上身衣服_はだけ不可"
CASE "上身衣服２"
	RETURNF "上身衣服_はだけ可能"
CASE "其他１", "其他２", "其他３"
	RETURNF "其他衣装"
ENDSELECT
THROW 不明な部位%ARGS%


;装備部位と衣装名から各衣装のカテゴリ内IDを返す
@CLOTHES_ID(PARTS, C_NAME)
#FUNCTION
#DIMS PARTS
#DIMS C_NAME
#DIM  C_ID
C_ID = OBJNAME_TO_ID(, "GET", CLOTHES_PARTS_TO_CATEGORY(PARTS), C_NAME)
;SIF C_ID == -1
;	THROW %C_NAME%は%CLOTHES_PARTS_TO_CATEGORY(PARTS)%には存在しません
RETURNF C_ID



;-------------------------------------------------
;関数名:SHOW_BOTTOM
;概　要:下半身服装名取得関数
;戻り値:服装名(文字列)
;引数:0 参照する角色番号
;引数:1裙子、2ずらし可、3ずらし不可、4下身衣服ずらし不可の種別(省略した場合は最も露出を妨げているもの)
;備　考:文中関数
;TEQUIP:0に対応して一番上に着ている衣装の種類を返す
;
;引数:1に複数のビットを指定すればその中から優先されるものを表示させることができる
;引数:1が9なら裙子と下身衣服ずらし不可のどちらか着ているものを表示、など
;COUNTER_MESSAGE.ERB内の@DATUI_MESSAGEが使用例になってるのでピンとこない人は見てね
;-------------------------------------------------
@SHOW_BOTTOM(ARG, ARG:1)
#FUNCTIONS
#DIMS CONST TYPE, 5 = "", "裙子", "ずらし可", "ずらし不可", "下身衣服ずらし不可"
#DIMS PARTS
#DIM EQUIP_TARGET

;引数1とTEQUIP:0を照らし合わせて表示するものを選ぶ
IF ARG:1
	EQUIP_TARGET = ARG:1 & TEQUIP:ARG:0
ELSE
	EQUIP_TARGET = TEQUIP:ARG:0
ENDIF

IF EQUIP_TARGET & 8
	LOCAL = 4
	;4下半身服装描写_下身衣服ずらし不可
ELSEIF EQUIP_TARGET & 4
	;3下半身服装描写_ずらし不可
	LOCAL = 3
ELSEIF EQUIP_TARGET & 2
	;2下半身服装描写_ずらし可
	LOCAL = 2
ELSEIF EQUIP_TARGET & 1
	;1下半身服装描写_裙子
	LOCAL = 1
ELSE
	LOCAL = 0
ENDIF
PARTS '= COVER_CLOTHES(ARG, @"下半身服装描写_%TYPE:LOCAL%")
SIF STRLENS(PARTS)
	RETURNF CLOTHES_TR(GET_STR(ARG, CLOTHES_PARTS_TO_CATEGORY(PARTS), EQUIP:ARG:PARTS, "名前"))



;-------------------------------------------------
;関数名:SHOW_下半身内衣
;概　要:下半身内衣名取得関数
;戻り値:内衣名(文字列)
;引数:0 参照する角色番号
;引数:1裙子、2ずらし可、3ずらし不可、4下身衣服ずらし不可の種別(省略した場合は最も露出を妨げているもの)
;備　考:文中関数
;TEQUIP:0に対応して一番上に着ている衣装の種類を返す
;
;引数:1に複数のビットを指定すればその中から優先されるものを表示させることができる
;引数:1が9なら裙子と下身衣服ずらし不可のどちらか着ているものを表示、など
;COUNTER_MESSAGE.ERB内の@DATUI_MESSAGEが使用例になってるのでピンとこない人は見てね
;-------------------------------------------------
@SHOW_下半身内衣(ARG, ARG:1)
#FUNCTIONS
#DIMS CONST TYPE, 5 = "", "裙子", "ずらし可", "ずらし不可", "下身衣服ずらし不可"
#DIMS PARTS
#DIM EQUIP_TARGET

;引数1とTEQUIP:0を照らし合わせて表示するものを選ぶ
IF ARG:1
	EQUIP_TARGET = ARG:1 & TEQUIP:ARG:0
ELSE
	EQUIP_TARGET = TEQUIP:ARG:0
ENDIF

IF EQUIP_TARGET & 8
	LOCAL = 4
	;4下半身服装描写_下身衣服ずらし不可
ELSEIF EQUIP_TARGET & 4
	;3下半身服装描写_ずらし不可
	LOCAL = 3
ELSEIF EQUIP_TARGET & 2
	;2下半身服装描写_ずらし可
	LOCAL = 2
ELSEIF EQUIP_TARGET & 1
	;1下半身服装描写_裙子
	LOCAL = 1
ELSE
	LOCAL = 0
ENDIF
PARTS '= COVER_CLOTHES(ARG, @"下半身内衣描写_%TYPE:LOCAL%")
SIF STRLENS(PARTS)
	RETURNF CLOTHES_TR(GET_STR(ARG, CLOTHES_PARTS_TO_CATEGORY(PARTS), EQUIP:ARG:PARTS, "名前"))



;-------------------------------------------------
;関数名:SHOW_TOP
;概　要:上半身服装名取得関数
;戻り値:服装名(文字列)
;引数:0 参照する角色番号
;引数:1はだけ可、2はだけ不可(省略した場合は最も露出を妨げているもの)
;備　考:文中関数
;TEQUIP:1に対応して一番上に着ている衣装の種類を返す
;-------------------------------------------------
@SHOW_TOP(ARG, ARG:1)
#FUNCTIONS
#DIMS CONST TYPE, 3 = "", "はだけ可", "はだけ不可"
#DIMS PARTS
IF ARG:1
	LOCAL = ARG:1
ELSEIF TEQUIP:ARG:1 & 2
	LOCAL = 2
ELSEIF TEQUIP:ARG:1 & 1
	LOCAL = 1
ENDIF
PARTS '= COVER_CLOTHES(ARG, @"上半身服装描写_%TYPE:LOCAL%")
SIF STRLENS(PARTS)
	RETURNF CLOTHES_TR(GET_STR(ARG, CLOTHES_PARTS_TO_CATEGORY(PARTS), EQUIP:ARG:PARTS, "名前"))



;-------------------------------------------------
;関数名:SHOW_上半身内衣
;概　要:上半身内衣名取得関数
;戻り値:上半身内衣名(文字列)
;引数:0 参照する角色番号
;引数:1はだけ可、2はだけ不可(省略した場合は最も露出を妨げているもの)
;備　考:文中関数
;TEQUIP:1に対応して一番上に着ている衣装の種類を返す
;-------------------------------------------------
@SHOW_上半身内衣(ARG, ARG:1)
#FUNCTIONS
#DIMS CONST TYPE, 3 = "", "はだけ可", "はだけ不可"
#DIMS PARTS
LOCAL = 0
IF ARG:1
	LOCAL = ARG:1
ELSEIF TEQUIP:ARG:1 & 2
	LOCAL = 2
ELSEIF TEQUIP:ARG:1 & 1
	LOCAL = 1
ENDIF
PARTS '= COVER_CLOTHES(ARG, @"上半身内衣描写_%TYPE:LOCAL%")
SIF STRLENS(PARTS)
	RETURNF CLOTHES_TR(GET_STR(ARG, CLOTHES_PARTS_TO_CATEGORY(PARTS), EQUIP:ARG:PARTS, "名前"))




;最も露出を妨げている衣装の装備部位を返す
;@SHOW_装備系の判定が煩わしかったので簡略化用に
@COVER_CLOTHES(ARG, TYPE)
#FUNCTIONS
#DIMS TYPE
SELECTCASE TYPE
CASE "上半身服装描写_はだけ不可"
	SIF EQUIP:ARG:上身衣服１
		RETURNF "上身衣服１"
	SIF EQUIP:ARG:連衣裙
		RETURNF "連衣裙"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	; SIF EQUIP:ARG:ボディースーツ
	; 	RETURNF "ボディースーツ"
	SIF EQUIP:ARG:上半身内衣１
		RETURNF "上半身内衣１"
	RETURNF
CASE "上半身服装描写_はだけ可"
	SIF EQUIP:ARG:上身衣服２
		RETURNF "上身衣服２"
	SIF EQUIP:ARG:和服
		RETURNF "和服"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
	SIF EQUIP:ARG:上半身内衣２
		RETURNF "上半身内衣２"
	RETURNF


CASE "上半身内衣描写_はだけ不可"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
	SIF EQUIP:ARG:上半身内衣１
		RETURNF "上半身内衣１"
	RETURNF
CASE "上半身内衣描写_はだけ可"
	SIF EQUIP:ARG:上半身内衣２
		RETURNF "上半身内衣２"
	RETURNF


CASE "下半身内衣描写_下身衣服ずらし不可"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
CASE "下半身内衣描写_ずらし不可"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
	SIF EQUIP:ARG:下半身内衣１
		RETURNF "下半身内衣１"
	;ずらし不可这一属性有可能不是安全裤而是裤子赋予
	SIF EQUIP:ARG:下半身内衣２
		RETURNF "下半身内衣２"
CASE "下半身内衣描写_ずらし可"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	SIF EQUIP:ARG:下半身内衣２
		RETURNF "下半身内衣２"
CASE "下半身内衣描写_裙子"
	SIF EQUIP:ARG:裙子
		RETURNF "裙子"
	SIF EQUIP:ARG:和服
		RETURNF "和服"
	RETURNF


CASE "下半身服装描写_下身衣服ずらし不可"
	SIF EQUIP:ARG:裤子
		RETURNF "裤子"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
	RETURNF
CASE "下半身服装描写_ずらし不可"
	SIF EQUIP:ARG:裤子
		RETURNF "裤子"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	SIF EQUIP:ARG:ボディースーツ
		RETURNF "ボディースーツ"
	SIF EQUIP:ARG:下半身内衣１
		RETURNF "下半身内衣１"
	SIF EQUIP:ARG:下半身内衣２
		RETURNF "下半身内衣２"
	RETURNF
CASE "下半身服装描写_ずらし可"
	SIF EQUIP:ARG:レオタード
		RETURNF "レオタード"
	SIF EQUIP:ARG:下身衣服
		RETURNF "下身衣服"
	SIF EQUIP:ARG:下半身内衣２
		RETURNF "下半身内衣２"
	RETURNF
CASE "下半身服装描写_裙子"
	SIF EQUIP:ARG:裙子
		RETURNF "裙子"
	SIF EQUIP:ARG:連衣裙
		RETURNF "連衣裙"
	SIF EQUIP:ARG:和服
		RETURNF "和服"
	SIF EQUIP:ARG:連衣裙
		RETURNF "連衣裙"
	RETURNF
ENDSELECT



;全キャラの衣装を默认に戻す
@RESET_ALL_CLOTHES
FOR LOCAL, 0, CHARANUM
	CFLAG:LOCAL:基本服装セット = 0
	CALL SELECT_CLOTHES(LOCAL, "今日の衣装")
	CALL CTRL_CLOTHES_SET(LOCAL, "現在衣装の変更_便装")
	CALL CTRL_CLOTHES_SET(LOCAL, "套装のリセット")
	CFLAG:LOCAL:指定胖次 = 0
	CFLAG:LOCAL:睡衣胖次 = 0
	CALL CLOTHES_SETTING_TRAIN(LOCAL)
NEXT



;EQUIPからTEQUIPに変換
;このタイミングで靴脱ぎと全裸チェック
@CLOTHES_SETTING_TRAIN(ARG)
TEQUIP:ARG:0 = 0
TEQUIP:ARG:1 = 0

;ぶっちゃけここの処理は適当
IF INROOM(CFLAG:ARG:現在位置)
	SIF EQUIP:ARG:飾品 == 6
		EQUIP:ARG:飾品 = 0
	SIF INROOM(CFLAG:ARG:現在位置) == 1 && !CFLAG:ARG:うふふ
		EQUIP:ARG:靴 = 0
ELSE
	IF CFLAG:ARG:203
		EQUIP:ARG:靴 = CFLAG:ARG:203
	ELSEIF CFLAG:ARG:603
		EQUIP:ARG:靴 = CFLAG:ARG:603
	ENDIF
	IF !EQUIP:ARG:飾品 && CFLAG:ARG:201 == 6 && !FLAG:時間停止
		EQUIP:ARG:飾品 = CFLAG:ARG:201
	ELSEIF !EQUIP:ARG:飾品 && CFLAG:ARG:601 == 6 && !FLAG:時間停止
		EQUIP:ARG:飾品 = CFLAG:ARG:601
	ENDIF
ENDIF

IF CHECK_CHARA(ARG, "全裸")
	EQUIP:ARG:0 = 0
	EQUIP:ARG:靴 = 0
ELSE
	EQUIP:ARG:0 = 1
ENDIF

;換装が有効でない
SIF !EQUIP:ARG:0
	RETURN 0
;下半身
;TEQUIP:0 下半身着衣状況(ビット0=裙子 1=ずらし可 2=ずらし不可 3=ずらせない下身衣服)
;	(ビットを使いたくない人用 0=無 1=没穿内裤裙子 2=内褲のみ 3=裙子+内褲 
;	4=安全褲(内衣)もしくは没穿内裤裤子 5=裙子+安全褲 6=裤子+内褲 7=フル装備(このバリアントでは無理)）
;EQUIP:5,6 下半身内衣
SIF EQUIP:ARG:下半身内衣１
	TEQUIP:ARG:0 |= 4
SIF EQUIP:ARG:下半身内衣２
	TEQUIP:ARG:0 |= 2
;EQUIP:7～9 下身衣服
IF EQUIP:ARG:裤子
	TEQUIP:ARG:0 |= 4
	TEQUIP:ARG:0 |= 8
ENDIF
SIF EQUIP:ARG:下身衣服
	TEQUIP:ARG:0 |= 2
SIF EQUIP:ARG:裙子
	TEQUIP:ARG:0 |= 1
;EQUIP:14～16 全身外套
IF EQUIP:ARG:ボディースーツ
	TEQUIP:ARG:0 |= 4
	TEQUIP:ARG:0 |= 8
	TEQUIP:ARG:0 |= 16	
ENDIF
SIF EQUIP:ARG:連衣裙
	TEQUIP:ARG:0 |= 1
SIF EQUIP:ARG:和服
	TEQUIP:ARG:0 |= 1
IF EQUIP:ARG:レオタード
	TEQUIP:ARG:0 |= 2
	TEQUIP:ARG:0 |= 16
ENDIF
;上半身
;TEQUIP:1 上半身着衣状況(0=無 1=はだけ可 2=はだけ不可 3=突っ込み不可)
;	(ビットを使いたくない人用 0=無 1=ノーブラ和服 2=ブラのみ 3=和服+ブラ）
;EQUIP:10,11 上半身内衣
IF EQUIP:ARG:上半身内衣１
	TEQUIP:ARG:1 |= 2
	TEQUIP:ARG:1 |= 4
ENDIF
SIF EQUIP:ARG:上半身内衣２
	TEQUIP:ARG:1 |= 1
;EQUIP:12,13 上身衣服
IF EQUIP:ARG:上身衣服１
	TEQUIP:ARG:1 |= 2
	TEQUIP:ARG:1 |= 4
ENDIF
SIF EQUIP:ARG:上身衣服２
	TEQUIP:ARG:1 |= 1
;EQUIP:14～16 全身外套
IF EQUIP:ARG:ボディースーツ
	TEQUIP:ARG:1 |= 2
	TEQUIP:ARG:1 |= 4
ENDIF
SIF EQUIP:ARG:連衣裙
	TEQUIP:ARG:1 |= 2
SIF EQUIP:ARG:和服
	TEQUIP:ARG:1 |= 1
IF EQUIP:ARG:レオタード
	TEQUIP:ARG:1 |= 2
	TEQUIP:ARG:1 |= 4
ENDIF

;ずらし処理
SIF TEQUIP:ARG:上半身裸露状態
	CLEARBIT TEQUIP:ARG:1, 2
SIF TEQUIP:ARG:4
	CLEARBIT TEQUIP:ARG:1, 1



;特殊衣装への一時きせかえ
;とりあえず衣装セットにあるやつ・もしくは他角色の便装だけ
;着替えたらRESULT==1
@EX_COSTUME(C_ID, TYPE)
#DIM  C_ID
#DIM  EX_COS
#DIMS TYPE
EX_COS = GET_INT(C_ID, "キャラデータ", NO:C_ID, @"%TYPE%衣装")
;#; PRINTFORML {C_ID}特殊衣装変更%TYPE% {EX_COS}
SIF !EX_COS
	RETURN
CALL OKIGAE(C_ID, EX_COS)
;#; CALL SHOW_CLOTHES(C_ID, "現在的衣装")
RETURN 1


;一時お着替え関数
@OKIGAE(C_ID, COS_ID, COS_TYPE)
#DIM C_ID      ;着せ替えを行うキャラクター
#DIM COS_ID    ;衣装セットのID、101以上だとキャラ衣装だとみなされる（キャラ衣装を指定したい時はNO + 100にすること）
#DIMS COS_TYPE ;参照衣装文字列、キャラデータに記載があるのが前提なので、未実装だと真っ裸になる
SIF !TCVAR:C_ID:本来的服装
	TCVAR:C_ID:本来的服装 = CFLAG:C_ID:基本服装セット
CFLAG:C_ID:基本服装セット = COS_ID

IF STRLENS(COS_TYPE)
;文字列指定で便装以外も指定できるように
	;#; PRINTFORML {COS_ID}特殊衣装変更%COS_TYPE%
	CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_角色衣装", COS_ID, COS_TYPE)
	CALL CLOTHES_SETTING_TRAIN(C_ID)
	RETURN
ENDIF

SELECTCASE COS_ID
CASE 100
	CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_おきにいり")
CASE 1 TO 99
	CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_衣装セット", COS_ID)
CASE 101 TO 100 + 人物数量上限
	CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_角色衣装", COS_ID - 100, "便装")
CASEELSE
	THROW 错误的衣装ID {COS_ID}
ENDSELECT
CALL CHANGE_CLOTHES(C_ID, "复原衣服")
CALL CLOTHES_SETTING_TRAIN(C_ID)




@SET_UNDERWEAR(C_ID, TIME_TYPE)
#DIM  C_ID
#DIMS TIME_TYPE
#DIM DYNAMIC TOP_OVERRIDDEN
#DIM DYNAMIC BOTTOM_OVERRIDDEN



IF TIME_TYPE != "今天的睡衣"
	LOCAL:10 = CFLAG:C_ID:基本服装セット

	IF CHECK_CLO("bra_overridden", C_ID)
		TOP_OVERRIDDEN = 1
		IF LOCAL:10 == 100
			CFLAG:C_ID:207 = CFLAG:C_ID:607
			CFLAG:C_ID:208 = CFLAG:C_ID:608
		ELSEIF LOCAL:10 > 100 ;shouldn't be possible, but covered regardless
			CFLAG:C_ID:207 = GET_INT(C_ID, "キャラデータ", LOCAL:10 - 100, @"便装：上半身内衣１")
			CFLAG:C_ID:208 = GET_INT(C_ID, "キャラデータ", LOCAL:10 - 100, @"便装：上半身内衣２")
		ELSE
			CFLAG:C_ID:207 = GET_INT(C_ID, "衣装セット", LOCAL:10, @"上半身内衣１")
			CFLAG:C_ID:208 = GET_INT(C_ID, "衣装セット", LOCAL:10, @"上半身内衣２")
		ENDIF
	ENDIF
	IF CHECK_CLO("panties_overridden", C_ID)
		TOP_OVERRIDDEN = 1
		IF LOCAL:10 == 100
			CFLAG:C_ID:205 = CFLAG:C_ID:605
			CFLAG:C_ID:206 = CFLAG:C_ID:606
		ELSEIF LOCAL:10 > 100 ;shouldn't be possible, but covered regardless
			CFLAG:C_ID:205 = GET_INT(C_ID, "キャラデータ", LOCAL:10 - 100, @"便装：下半身内衣１")
			CFLAG:C_ID:206 = GET_INT(C_ID, "キャラデータ", LOCAL:10 - 100, @"便装：下半身内衣２")
		ELSE
			CFLAG:C_ID:205 = GET_INT(C_ID, "衣装セット", LOCAL:10, @"下半身内衣１")
			CFLAG:C_ID:206 = GET_INT(C_ID, "衣装セット", LOCAL:10, @"下半身内衣２")
		ENDIF
	ENDIF
ENDIF

CALL SET_PANTS(C_ID, TIME_TYPE, BOTTOM_OVERRIDDEN)
CALL SET_BRA(C_ID, TIME_TYPE, TOP_OVERRIDDEN)

;胖次设置函数
;覆盖CFLAG中设置的服装
;有胖次指定时，解除下半身内衣1
;指定了下半身内衣1时，优先于胖次
@SET_PANTS(C_ID, TIME_TYPE, OVERRIDDEN)
#DIM  C_ID
#DIMS TIME_TYPE
#DIM  P_ID
#DIM  OVERRIDDEN
IF TIME_TYPE == "今天的睡衣"
	IF CFLAG:C_ID:睡衣胖次 == 100
		P_ID =  0
		CFLAG:C_ID:245 = 0
	ELSEIF CFLAG:C_ID:睡衣胖次
		P_ID = CFLAG:C_ID:睡衣胖次
		CFLAG:C_ID:245 = 0
	ELSEIF CFLAG:C_ID:245
		CFLAG:C_ID:246 = 0
		RETURN
	ELSEIF CFLAG:C_ID:246
		CFLAG:C_ID:245 = 0
		; CFLAG:C_ID:睡衣胖次 = CFLAG:C_ID:246
		RETURN
	ELSEIF !GETBIT(TALENT:C_ID:2, 0)
		P_ID = CLOTHES_ID("下半身内衣２", "四角裤")
	ELSEIF !CFLAG:C_ID:245
		P_ID = 今天穿的内裤(C_ID)
	ENDIF
	;PRINTFORMW %CALLNAME:C_ID%のぱじゃまぱんつ：%GET_STR(C_ID, "下半身内衣_ずらし可能", P_ID, "名前")%
	; CFLAG:C_ID:睡衣胖次 = P_ID
	CFLAG:C_ID:246 = P_ID
	RETURN
ENDIF

IF OVERRIDDEN
	IF CFLAG:C_ID:205
		CFLAG:C_ID:206 = 0
		RETURN
	ELSE
		CFLAG:C_ID:205 = 0
		CFLAG:C_ID:きょうのぱんつ = CFLAG:C_ID:206
		RETURN
	ENDIF
ELSEIF CFLAG:C_ID:指定胖次 == 100
;没穿内裤指定
	P_ID =  0
	CFLAG:C_ID:205 = 0
ELSEIF CFLAG:C_ID:指定胖次
;指定胖次があるなら下半身内衣１を剥ぐ
	CFLAG:C_ID:205 = 0
	P_ID = CFLAG:C_ID:指定胖次
ELSEIF CFLAG:C_ID:205
;下半身内衣１が指定なら胖次は無し
	CFLAG:C_ID:206 = 0
	RETURN
ELSEIF CFLAG:C_ID:206
;下半身内衣２が指定なら胖次抽選は無し
	CFLAG:C_ID:205 = 0
	CFLAG:C_ID:きょうのぱんつ = CFLAG:C_ID:206
	RETURN
ELSEIF !GETBIT(TALENT:C_ID:2, 0)
;男人ならとりあえず四角裤で
	P_ID = CLOTHES_ID("下半身内衣２", "四角裤")
ELSEIF !CFLAG:C_ID:205
;上記以外で胖次抽選
	P_ID = 今天穿的内裤(C_ID)
ENDIF
CFLAG:C_ID:きょうのぱんつ = P_ID
CFLAG:C_ID:206 = P_ID

@SET_BRA(C_ID, TIME_TYPE, OVERRIDDEN)
#DIM  C_ID
#DIMS TIME_TYPE
#DIM  DYNAMIC B_ID
#DIM  OVERRIDDEN
IF TIME_TYPE == "今天的睡衣"
	IF CFLAG:C_ID:247
		CFLAG:C_ID:248 = 0
		B_ID = CFLAG:C_ID:247
	ELSEIF CFLAG:C_ID:248
	ELSEIF !GETBIT(TALENT:C_ID:2, 0)
		B_ID = CLOTHES_ID("上半身内衣１", "Ｔ恤衫")
	ELSE
		B_ID = 今日の文胸(C_ID, CFLAG:C_ID:246)
	ENDIF
	CFLAG:C_ID:睡衣ブラ = B_ID
	CFLAG:C_ID:247 = B_ID
	RETURN
ENDIF

IF OVERRIDDEN
	IF CFLAG:C_ID:207
		CFLAG:C_ID:208 = 0
		B_ID = CFLAG:C_ID:207
	ENDIF
ELSEIF CFLAG:C_ID:207
	CFLAG:C_ID:208 = 0
	B_ID = CFLAG:C_ID:207
ELSEIF CFLAG:C_ID:208
ELSEIF !GETBIT(TALENT:C_ID:2, 0)
	B_ID = CLOTHES_ID("上半身内衣１", "Ｔ恤衫")
ELSE
	B_ID = 今日の文胸(C_ID, CFLAG:C_ID:きょうのぱんつ)
ENDIF
CFLAG:C_ID:きょうのブラ = B_ID
CFLAG:C_ID:207 = B_ID


;今日の衣装決定関数
;必ず衣装→睡衣でセットで使用こと
@SELECT_CLOTHES(C_ID, TIME_TYPE)
#DIM  C_ID
#DIMS TIME_TYPE
#DIM  衣装C_ID
#DIMS 衣装TYPE

VARSET 衣装C_ID
VARSET 衣装TYPE
;先に睡衣の設定
IF TIME_TYPE == "今天的睡衣"
	SELECTCASE CFLAG:C_ID:睡衣指定
	CASE 1000
		CFLAG:C_ID:246 = 0
		CALL SET_UNDERWEAR(C_ID, TIME_TYPE)
		RETURN
	CASE 300
	;个別設定
		CALL CTRL_CLOTHES_SET(C_ID, "睡衣的变更_套装")
		CALL SET_UNDERWEAR(C_ID, TIME_TYPE)
		RETURN
	CASE 301
	;パンイチ
		衣装TYPE '= "パンイチ"
	CASE 302
	;全裸
		衣装TYPE '= "全裸"
	CASE 1 TO 99
	;衣装セットの指定
		衣装TYPE '= GET_STR(C_ID, "衣装セット", CFLAG:C_ID:睡衣指定, "名前")
	CASE 0
	;默认服装による設定
		IF !(C_ID == MASTER)
			衣装C_ID = NO:C_ID
			衣装TYPE '= GET_STR(C_ID, "キャラデータ", 衣装C_ID, TIME_TYPE)
		ELSEIF FLAG:扮演
			衣装C_ID = FLAG:扮演
			衣装TYPE '= GET_STR(C_ID, "キャラデータ", 衣装C_ID, TIME_TYPE)
		ENDIF
	ENDSELECT
	;未設定なら睡裤
	SIF !STRLENS(衣装TYPE)
		衣装TYPE '= "睡衣（裤子）套"
	CALL CHANGE_CLOTHES(C_ID, TIME_TYPE, 衣装C_ID, 衣装TYPE)
	SIF 衣装TYPE == "パンイチ"
		JUMP SET_PANTS(C_ID, TIME_TYPE)
	SIF !(衣装TYPE == "全裸")
		CALL SET_UNDERWEAR(C_ID, TIME_TYPE)
	RETURN
ENDIF

;今日の衣装、明日の衣装
SELECTCASE CFLAG:C_ID:基本服装セット
CASE 1000
	CFLAG:C_ID:206 = 0
	CALL SET_UNDERWEAR(C_ID, TIME_TYPE)
	RETURN
CASE 100
;个別設定
	CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_套装")
	CALL SET_UNDERWEAR(C_ID, TIME_TYPE)
CASE 1 TO 99
;衣装セットの指定
	衣装TYPE '= GET_STR(C_ID, "衣装セット", CFLAG:C_ID:基本服装セット, "名前")
	;念のため
	SIF !STRLENS(衣装TYPE)
		GOTO DEFAULT
CASE 101 TO 100 + 人物数量上限
;特定角色の衣装を参照するとき
	衣装C_ID = CFLAG:C_ID:基本服装セット - 100
	衣装TYPE '= "便装"
	;念のため
	SIF !EXISTCSV(衣装C_ID)
		GOTO DEFAULT
CASE 0
;默认服装による設定
	$DEFAULT
	IF !(C_ID == MASTER)
		衣装C_ID = NO:C_ID
		衣装TYPE '= GET_STR(C_ID, "キャラデータ", 衣装C_ID, TIME_TYPE)
	ELSEIF FLAG:扮演
		衣装C_ID = FLAG:扮演
		衣装TYPE '= GET_STR(C_ID, "キャラデータ", 衣装C_ID, TIME_TYPE)
	ELSEIF GETBIT(TALENT:C_ID:2, 0)
	;まんまんがあるときは女装を基本とする
		衣装TYPE '= "一套女装"
	ELSE
	;♂は男装を基本とする
		衣装TYPE '= "一套男装"
	ENDIF
	;未設定なら便装
	SIF !STRLENS(衣装TYPE)
		衣装TYPE '= "便装"
ENDSELECT
CALL CHANGE_CLOTHES(C_ID, TIME_TYPE, 衣装C_ID, 衣装TYPE)
CALL SET_UNDERWEAR(C_ID, TIME_TYPE)



;衣装更新関数
@CHANGE_CLOTHES(C_ID, TYPE, 衣装C_ID, 衣装TYPE)
#DIM  C_ID
#DIMS TYPE
#DIM  衣装C_ID
#DIMS 衣装TYPE
#DIM  衣装SET_ID
衣装SET_ID = 0
SIF STRLENS(衣装TYPE)
	衣装SET_ID = OBJNAME_TO_ID(C_ID, "GET", "衣装セット", 衣装TYPE)
SELECTCASE TYPE
CASE "今天的睡衣"
	SIF 衣装TYPE == "パンイチ"
		JUMP CTRL_CLOTHES_SET(C_ID, "睡衣的变更_パンイチ", 衣装SET_ID)
	SIF 衣装TYPE == "全裸"
		JUMP CTRL_CLOTHES_SET(C_ID, "睡衣的变更_全裸", 衣装SET_ID)
	
	IF 衣装SET_ID > 0
		CALL CTRL_CLOTHES_SET(C_ID, "睡衣的变更_衣装セット", 衣装SET_ID)
	ELSE
		CALL CTRL_CLOTHES_SET(C_ID, "睡衣的变更_角色衣装", 衣装C_ID, 衣装TYPE)
	ENDIF
	
CASE "今日の衣装", "明日の衣装"
	IF 衣装SET_ID > 0
		CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_衣装セット", 衣装SET_ID)
	ELSE
		CALL CTRL_CLOTHES_SET(C_ID, "便装の変更_角色衣装", 衣装C_ID, 衣装TYPE)
	ENDIF
CASE "复原衣服"
	;#;SIF C_ID == TARGET
	;#;	PRINTFORML TARGET复原衣服
	IF 睡眠時間(C_ID)
		CALL CTRL_CLOTHES_SET(C_ID, "現在衣装の変更_睡衣")
		CFLAG:C_ID:睡衣 = 1
	ELSE
		IF TCVAR:C_ID:EVENT_CLOTHING_SET
			SELECTCASE TCVAR:C_ID:EVENT_CLOTHING_SET
				CASE IS < 100
					FOR LOCAL, 1, 23
						EQUIP:C_ID:LOCAL = GET_INT(C_ID, "衣装セット", TCVAR:C_ID:EVENT_CLOTHING_SET, EQUIPNAME:LOCAL)
					NEXT
				CASE 101 TO 100 + 人物数量上限
					FOR LOCAL, 1, 23
						EQUIP:C_ID:LOCAL = GET_INT(C_ID, "キャラデータ", TCVAR:C_ID:EVENT_CLOTHING_SET - 100, @"便装：%EQUIPNAME:LOCAL%")
					NEXT
			ENDSELECT
		ELSE
			SELECTCASE CFLAG:C_ID:衣装一時変更
				CASE 0
					SELECTCASE CFLAG:C_ID:基本服装セット
						CASE IS < 100
							FOR LOCAL, 1, 23
								SIF !GROUPMATCH(LOCAL, 6, 7)							
									CFLAG:C_ID:(200 + LOCAL) = GET_INT(C_ID, "衣装セット", CFLAG:C_ID:基本服装セット, EQUIPNAME:LOCAL)
							NEXT
						CASE 100
							FOR LOCAL, 1, 23
								SIF !GROUPMATCH(LOCAL, 6, 7)		
									CFLAG:C_ID:(200 + LOCAL) = CFLAG:C_ID:(600 + LOCAL)
							NEXT
						CASE 101 TO 100 + 人物数量上限
							FOR LOCAL, 1, 23
								SIF !GROUPMATCH(LOCAL, 6, 7)		
									CFLAG:C_ID:(200 + LOCAL) = GET_INT(C_ID, "キャラデータ", CFLAG:C_ID:基本服装セット - 100, @"便装：%EQUIPNAME:LOCAL%")
							NEXT
					ENDSELECT

					CALL CTRL_CLOTHES_SET(C_ID, "現在衣装の変更_便装")
				CASE 100
					CALL CTRL_CLOTHES_SET(C_ID, "現在衣装の変更_おきにいり")
				CASE 1 TO 99
					CALL CTRL_CLOTHES_SET(C_ID, "現在衣装の変更_衣装セット", CFLAG:C_ID:衣装一時変更)
				CASE 101 TO 100 + 人物数量上限
					CALL CTRL_CLOTHES_SET(C_ID, "現在衣装の変更_キャラ衣装", CFLAG:C_ID:衣装一時変更 - 100, "便装")
			ENDSELECT
		ENDIF
		CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")
		CFLAG:C_ID:睡衣 = 0
	ENDIF
ENDSELECT



[SKIPSTART]
衣装セットのコントロール関数
CFLAGとEQUIPのやりとりを行う
EQUIP:0の扱いとしては
・@CLOTHES_SETTING_TRAINの冒頭に更新処理を仕込んだ
・SAVE/LOADの範囲を1～22までにする（EQUIP:0は保存されない）
これでだいたいいいと思う
[SKIPEND]
@CTRL_CLOTHES_SET(C_ID, TYPE, ARG, ARGS)
#DIM  C_ID
#DIMS TYPE
SELECTCASE TYPE
; ;リセット用に記録する
;暂时封闭
; CASE "現在衣装の保存_便装"
; 	FOR LOCAL, 1, 23
; 		CFLAG:C_ID:(200 + LOCAL) = EQUIP:C_ID:LOCAL
; 	NEXT
; CASE "現在衣装の保存_睡衣"
; 	FOR LOCAL, 1, 23
; 		CFLAG:C_ID:(240 + LOCAL) = EQUIP:C_ID:LOCAL
; 	NEXT
CASE "現在衣装の保存_おきにいり"
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(600 + LOCAL) = EQUIP:C_ID:LOCAL
	NEXT
	;CFLAG:ARG:套装 = 1

	LOCAL = CURRENT_CLOTHES_SET(C_ID)
	IF INRANGE(LOCAL, 0, 99)
		CFLAG:C_ID:FAVORITE_OVERRIDE_UNDERWEAR = GET_INT(C_ID, "衣装セット", LOCAL, "OVERRIDE_UNDERWEAR_TOP") || GET_INT(C_ID, "衣装セット", LOCAL, "OVERRIDE_UNDERWEAR_BOTTOM")
	ELSE
		CFLAG:C_ID:FAVORITE_OVERRIDE_UNDERWEAR = 0
	ENDIF
;リセット
CASE "套装のリセット"
	FOR LOCAL, 0, 23
		CFLAG:C_ID:(600 + LOCAL) = 0
	NEXT
	; SIF CFLAG:C_ID:基本服装セット == 100
		CFLAG:C_ID:基本服装セット = 100 + C_ID
	; SIF CFLAG:C_ID:睡衣指定 == 300
		CFLAG:C_ID:睡衣指定 = 0
	;CFLAG:C_ID:套装 = 0

	CFLAG:C_ID:FAVORITE_OVERRIDE_UNDERWEAR = 0

;セットした衣装をロード
;ここらへんあくまでロード処理であって睡衣フラグはいじらないので注意ね
CASE "現在衣装の変更_便装"
	FOR LOCAL, 1, 23
		EQUIP:C_ID:LOCAL = CFLAG:C_ID:(200 + LOCAL)
	NEXT
	CFLAG:C_ID:衣装一時変更 = 0
	CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")


CASE "現在衣装の変更_睡衣"
	FOR LOCAL, 1, 23
		EQUIP:C_ID:LOCAL = CFLAG:C_ID:(240 + LOCAL)
	NEXT
	CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")
	; IF CFLAG:C_ID:睡衣胖次 == 100
	; 	EQUIP:C_ID:下半身内衣１ = 0
	; 	EQUIP:C_ID:下半身内衣２ = 0
	; 	CFLAG:C_ID:245 = 0
	; 	CFLAG:C_ID:246 = 0
	; 	;CFLAG:C_ID:睡衣胖次 = 0
	; 	SIF CFLAG:C_ID:没穿内裤 != 2
	; 		CFLAG:C_ID:没穿内裤 = 1
	; ELSEIF CFLAG:C_ID:没穿内裤 && CFLAG:C_ID:睡衣胖次
	; 	EQUIP:C_ID:下半身内衣１ = 0
	; 	EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:睡衣胖次
	; 	SIF !CFLAG:C_ID:245
	; 		CFLAG:C_ID:246 = CFLAG:C_ID:睡衣胖次
	; 	;CFLAG:C_ID:睡衣胖次 = 0
	; 	SIF CFLAG:C_ID:没穿内裤 != 2
	; 		CFLAG:C_ID:没穿内裤 = 0
	; ELSEIF CFLAG:C_ID:没穿内裤 && (EQUIP:C_ID:下半身内衣１ || EQUIP:C_ID:下半身内衣２)
	; 	EQUIP:C_ID:下半身内衣１ = 0
	; 	EQUIP:C_ID:下半身内衣２ = 0
	; 	CFLAG:C_ID:245 = 0
	; 	CFLAG:C_ID:246 = 0
	; ENDIF
	CFLAG:C_ID:衣装一時変更 = 0

CASE "現在衣装の変更_おきにいり"
	FOR LOCAL, 1, 23
		EQUIP:C_ID:LOCAL = CFLAG:C_ID:(600 + LOCAL)
	NEXT
	; IF CFLAG:C_ID:FAVORITE_OVERRIDE_UNDERWEAR
	; ELSEIF CFLAG:C_ID:没穿内裤
	; 	EQUIP:C_ID:下半身内衣１ = 0
	; 	EQUIP:C_ID:下半身内衣２ = 0
	; ELSEIF EQUIP:C_ID:下半身内衣１
	; 	EQUIP:C_ID:下半身内衣２ = 0
	; ELSEIF EQUIP:C_ID:下半身内衣２
	; 	EQUIP:C_ID:下半身内衣１ = 0
	; ELSEIF CFLAG:C_ID:睡衣
	; 	EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:246
	; ELSE
	; 	EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:206
	; ENDIF
	CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")
	; CFLAG:C_ID:衣装一時変更 = 100
	
CASE "現在衣装の変更_角色衣装"
;ARGで指定された角色の衣装を参照する
	CFLAG:C_ID:衣装一時変更 = 100 + ARG
	FOR LOCAL, 1, 23
		EQUIP:C_ID:LOCAL = GET_INT(C_ID, "キャラデータ", ARG, @"%ARGS%：%EQUIPNAME:LOCAL%")
	NEXT
	CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")

CASE "現在衣装の変更_衣装セット"
;ARGで指定されたIDの衣装セットを参照する
    ;as this should never happen, show a warning if a nonexisting clothing set is called
    SIF !GET_EXIST("衣装セット", ARG) && ARG
        PRINTFORML ＊WARNING＊: Clothing set {ARG} does not exist. %CALLNAME:C_ID% will be nude.
	CFLAG:C_ID:衣装一時変更 = ARG
	FOR LOCAL, 1, 23
		EQUIP:C_ID:LOCAL = GET_INT(C_ID, "衣装セット", ARG, EQUIPNAME:LOCAL)
	NEXT
	CALL CTRL_CLOTHES_SET(C_ID, "内衣一括設定")
CASE "内衣一括設定"
	SIF !GET_INT(C_ID, "衣装セット", CURRENT_CLOTHES_SET(C_ID), "OVERRIDE_UNDERWEAR_BOTTOM")
	CALL CTRL_CLOTHES_SET(C_ID, "胖次一括設定")
	SIF !GET_INT(C_ID, "衣装セット", CURRENT_CLOTHES_SET(C_ID), "OVERRIDE_UNDERWEAR_TOP")
	CALL CTRL_CLOTHES_SET(C_ID, "ブラ一括設定")
CASE "胖次一括設定"
	IF !CFLAG:C_ID:睡衣
		IF CFLAG:C_ID:没穿内裤
			EQUIP:C_ID:下半身内衣１ = 0
			EQUIP:C_ID:下半身内衣２ = 0
		ELSEIF EQUIP:C_ID:下半身内衣１
			EQUIP:C_ID:下半身内衣２ = 0
		ELSE
			EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:きょうのぱんつ
		ENDIF
	ELSE
		IF CFLAG:C_ID:没穿内裤
			EQUIP:C_ID:下半身内衣１ = 0
			EQUIP:C_ID:下半身内衣２ = 0
		ELSEIF EQUIP:C_ID:下半身内衣１
			EQUIP:C_ID:下半身内衣２ = 0
		ELSEIF CFLAG:C_ID:睡衣胖次 == 100
			EQUIP:C_ID:下半身内衣２ = 0
		ELSEIF CFLAG:C_ID:睡衣胖次 > 0
			EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:睡衣胖次
		ELSE
			EQUIP:C_ID:下半身内衣２ = CFLAG:C_ID:246
		ENDIF
	ENDIF
CASE "ブラ一括設定"
	IF !CFLAG:C_ID:睡衣
		EQUIP:C_ID:上半身内衣１ = CFLAG:C_ID:きょうのブラ
	ELSE
		EQUIP:C_ID:上半身内衣１ = CFLAG:C_ID:247
	ENDIF

;脱衣処理
CASE "現在衣装の変更_全裸"
	FOR LOCAL, 1, 23
		SIF LOCAL == 3 && FLAG:時間停止
			CONTINUE
		SIF LOCAL == 4 && EQUIP:C_ID:靴
			CONTINUE
		EQUIP:C_ID:LOCAL = 0
	NEXT

CASE "現在衣装の変更_下着姿"
;このコードなんか気持ち悪いんだけどとりあえずこのままで
	FOR LOCAL, 18, 10, -1
		EQUIP:C_ID:LOCAL = 0
	NEXT
	EQUIP:C_ID:帽子 = 0
	TEQUIP:C_ID:上半身着衣状況 = 2
	TEQUIP:C_ID:上衣脱衣完毕 = 1
	
CASE "現在衣装の変更_半脱"
	EQUIP:C_ID:上半身内衣１ = 0
	TEQUIP:C_ID:上半身裸露状態 = 1
	SIF EQUIP:C_ID:裤子
		EQUIP:C_ID:裤子 = 0



CASE "便装の変更_角色衣装"
;ARGで指定された角色のARGSで指定された衣装を参照する
	CFLAG:C_ID:基本服装セット = 100 + ARG
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(200 + LOCAL) = GET_INT(C_ID, "キャラデータ", ARG, @"%ARGS%：%EQUIPNAME:LOCAL%")
	NEXT

CASE "便装の変更_衣装セット"
;ARGで指定されたIDの衣装セットを参照する
	CFLAG:C_ID:基本服装セット = ARG
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(200 + LOCAL) = GET_INT(C_ID, "衣装セット", ARG, EQUIPNAME:LOCAL)
	NEXT
CASE "便装の変更_套装"
	CFLAG:C_ID:基本服装セット = 100
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(200 + LOCAL) = CFLAG:C_ID:(600 + LOCAL)
	NEXT

CASE "睡衣的变更_角色衣装"
;ARGで指定された角色のARGSで指定された衣装を参照する
	CFLAG:C_ID:睡衣指定 = 100 + ARG
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(240 + LOCAL) = GET_INT(C_ID, "キャラデータ", ARG, @"%ARGS%：%EQUIPNAME:LOCAL%")
	NEXT
CASE "睡衣的变更_衣装セット"
	CFLAG:C_ID:睡衣指定 = ARG
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(240 + LOCAL) = GET_INT(C_ID, "衣装セット", ARG, EQUIPNAME:LOCAL)
	NEXT
CASE "睡衣的变更_套装"
	CFLAG:C_ID:睡衣指定 = 300
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(240 + LOCAL) = CFLAG:C_ID:(600 + LOCAL)
	NEXT
CASE "睡衣的变更_パンイチ"
	CFLAG:C_ID:睡衣指定 = 301
	FOR LOCAL, 0, 23
		CFLAG:C_ID:(240 + LOCAL) = 0
	NEXT
	CFLAG:C_ID:246 = CFLAG:C_ID:睡衣胖次
	SIF CFLAG:C_ID:246 == 100
		CFLAG:C_ID:246 = 0
	
CASE "睡衣的变更_全裸"
	CFLAG:C_ID:睡衣指定 = 302
	FOR LOCAL, 0, 23
		CFLAG:C_ID:(240 + LOCAL) = 0
	NEXT
	CFLAG:C_ID:睡衣胖次 = 100

CASE "套装の変更_角色衣装"
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(600 + LOCAL) = GET_INT(C_ID, "キャラデータ", ARG, @"%ARGS%：%EQUIPNAME:LOCAL%")
	NEXT
	;CFLAG:C_ID:套装 = 1

CASE "套装の変更_衣装セット"
	FOR LOCAL, 1, 23
		CFLAG:C_ID:(600 + LOCAL) = GET_INT(C_ID, "衣装セット", ARG, EQUIPNAME:LOCAL)
	NEXT
	;CFLAG:C_ID:套装 = 1
ENDSELECT


TRYCCALLFORM KOJO_ACTIVE_INFO(C_ID)
	TRYCALLFORM CTRL_CLOTHES_SET_K{C_ID}%RESULTS%
CATCH
ENDCATCH


;特定角色の衣装設定の内容を表示する
@SHOW_CHARA_CLOTHES(C_ID, PAGE = 0)
#DIM  C_ID
#DIMS CONST 表示衣装, 4 = "現在的衣装", "今日の衣装", "今天的睡衣", "套装"
#DIMS CONST 表示标签, 4 = "现在的服装", "今天的服装", "今天的睡衣", "套装"
#DIM  PAGE
PRINTFORML %CALLNAME:C_ID%的%表示衣装:PAGE%
SELECTCASE CFLAG:C_ID:指定胖次
CASE 0
	PRINTFORML 　现在的胖次设定：无指定
CASE 100
	PRINTFORML 　现在的胖次设定：指定不穿内裤
CASEELSE
	PRINTFORML 　现在的胖次设定：%GET_STR(C_ID, "下半身内衣_ずらし可能", CFLAG:C_ID:指定胖次, "名前")%
ENDSELECT
PRINTFORML 
CALL SHOW_CLOTHES(C_ID, 表示衣装:PAGE)
PRINTFORML 
PRINTBUTTON @"[1] - %表示标签:((PAGE + 4 - 1) % 4), 14%", 1
PRINTFORM 　　　　　　　　　　
PRINTBUTTON @"[3] - %表示标签:((PAGE + 4 + 1) % 4), 14%", 3
PRINTFORML 
PRINTBUTTON "[0] - 返回", 0
DO
	INPUT
	SELECTCASE RESULT
	CASE 0
		RETURN
	CASE 1
		PAGE = (PAGE + 4 - 1) % 4
	CASE 3
		PAGE = (PAGE + 4 + 1) % 4
	CASEELSE
		REUSELASTLINE 无效输入
		CONTINUE
	ENDSELECT
	RESTART
LOOP 1


;衣装系の表示関数
@SHOW_CLOTHES(C_ID, TYPE, ID)
#DIM  C_ID
#DIMS TYPE
#DIM  ID
;#DIM  装備部位
#DIM  DYNAMIC CLOTHES, 23
#DIMS 表示内容
{
#DIMS CONST 表示部位, 23 = "", 
	"帽子", "飾品", "腕部装束", 
	"外搭",
	"上身衣服１","上身衣服２", 
	"和服", "連衣裙",
	"裙子", "下身衣服", "裤子", 
	"レオタード", "ボディースーツ", 
	"上半身内衣１", "上半身内衣２", 
	"下半身内衣１", "下半身内衣２", 
	"其他１", "其他２", "其他３", 
	"襪子", "靴"
}
{
#DIMS CONST 表示ラベル, 23 = "", 
	"装备:头饰　　", "装备:饰品　　", "装备:腕　　　", 
	"装备:外搭　　",
	"装备:上衣１　", "装备:上衣２　", 
	"装备:和服　　", "装备:连衣裙袍",
	"装备:裙子　　", "装备:下身衣物", "装备:裤子　　", 
	"装备:紧身衣　", "装备:连体服　", 
	"装备:内衣１　", "装备:内衣２　", 
	"装备:内裤１　", "装备:内裤２　", 
	"装备:附属　　", "装备:附属　　", "装备:附属　　", 
	"装备:袜子　　", "装备:鞋　　　"
}

SELECTCASE TYPE
CASE "現在的衣装"
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = EQUIP:C_ID:(FINDELEMENT(EQUIPNAME, 表示部位:LOCAL))
		;ノーブラ、没穿内裤用の例外処理
		;ここから
		; IF 装備部位 == "上半身内衣１" && TALENT:C_ID:性別 != 2 && EQUIP:C_ID:上半身内衣２ == 0 && EQUIP:C_ID:上半身内衣１ == 0 && EQUIP:C_ID:ボディースーツ == 0 && EQUIP:C_ID:レオタード == 0 && EQUIP:C_ID:0
		; 	IF 上半身内衣表示(C_ID) == 1
		; 		PRINTFORML 　装備:内衣(上)[没穿]
		; 	ELSEIF 下半身内衣表示(C_ID) == 1
		; 		PRINTFORML 　装備:内衣(上)[？？？？？]
		; 	ENDIF
		; ENDIF
		; IF 装備部位 == "下半身内衣１" && EQUIP:C_ID:下半身内衣２ == 0 && EQUIP:C_ID:下半身内衣１ == 0 && EQUIP:C_ID:ボディースーツ == 0 && EQUIP:C_ID:レオタード == 0 && EQUIP:C_ID:0
		; 	IF !上半身内衣表示(C_ID) && !下半身内衣表示(C_ID)
		; 		PRINTFORML 　装備:内衣　　[？？？？？]
		; 		CONTINUE
		; 	ELSEIF !下半身内衣表示(C_ID)
		; 		PRINTFORML 　装備:内衣(下)[？？？？？]
		; 	ELSE
		; 		PRINTFORML 　装備:内衣(下)[没穿]
		; 	ENDIF
		; ENDIF
		IF STRFIND(表示部位:LOCAL, "上半身内衣") != -1
			表示内容 '= BRANAME(CLOTHES:LOCAL, C_ID)
		ELSEIF STRFIND(表示部位:LOCAL, "下半身内衣") != -1
			表示内容 '= PANTSNAME(CLOTHES:LOCAL, C_ID)
		ELSE
			表示内容 '= CLOTHNAME(FINDELEMENT(EQUIPNAME, 表示部位:LOCAL), CLOTHES:LOCAL)
		ENDIF
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%表示内容%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE
									; IF STRLENS(CSTR:C_ID:(50 + 装備部位)) && !CFLAG:C_ID:睡衣
									; 	表示内容 '= CSTR:C_ID:(50 + 装備部位)
		;胖次は専用処理が必要
		; ELSEIF 装備部位 == "上半身内衣１" && !(C_ID == MASTER) && !上半身内衣表示(C_ID)
		; 	SIF !下半身内衣表示(C_ID)
		; 	 	CONTINUE
		; 	表示内容 '= "？？？？？"
		; ELSEIF 装備部位 == "下半身内衣２" && !(C_ID == MASTER) && !下半身内衣表示(C_ID)
		; 	IF !上半身内衣表示(C_ID)
		; 		PRINTFORML 　装備:内衣　　[？？？？？]
		; 		CONTINUE
		; 	ELSE
		; 		表示内容 '= "？？？？？"
		; 	ENDIF
		; ELSE
		; 	IF 表示部位:LOCAL == "上半身内衣１"
		; 		表示内容 '= BRANAME(EQUIP:C_ID:上半身内衣１, C_ID)
		; 	ELSEIF 表示部位:LOCAL == "下半身内衣２"
		; 		表示内容 '= PANTSNAME(EQUIP:C_ID:下半身内衣２, C_ID)
		; 	ELSE
		; 		表示内容 '= CLOTHNAME(装備部位, EQUIP:C_ID:装備部位)
		; 	ENDIF
		; ENDIF
		PRINTFORML %表示ラベル:LOCAL%[%表示内容%]
	NEXT


CASE "今日の衣装", "便装"
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = CFLAG:C_ID:(200 + FINDELEMENT(EQUIPNAME, 表示部位:LOCAL))
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT


CASE "今天的睡衣"
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = CFLAG:C_ID:(240 + FINDELEMENT(EQUIPNAME, 表示部位:LOCAL))
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT


CASE "套装"
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = CFLAG:C_ID:(600 + FINDELEMENT(EQUIPNAME, 表示部位:LOCAL))
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT


CASE "角色便装"
;角色番号IDの便装の内容を表示する
	IF !EXISTCSV(ID)
		PRINTFORML 不存在可以参照的角色
		RETURN
	ENDIF
	PRINTFORML %CALLNAME:ID%的便装
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = GET_INT(C_ID, "キャラデータ", ID, @"便装：%表示部位:LOCAL%")
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT


CASE "衣装セット"
;衣装セットIDの内容を表示する
	IF GET_STR(C_ID, "衣装セット" , ID, "名前") == ""
		PRINTFORML 不存在可以参照的衣装
		RETURN
	ENDIF
	PRINTFORML %GET_STR(C_ID, "衣装セット" , ID, "名前")%
	FOR LOCAL, 1, 23
		;装備部位のID取得
		;装備部位 = FINDELEMENT(EQUIPNAME, 表示部位:LOCAL)
		SIF 表示部位:LOCAL == "下身衣服"
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = GET_INT(C_ID, "衣装セット", ID, 表示部位:LOCAL)
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		IF (表示部位:LOCAL == "上半身内衣１"  && C_ID != MASTER && !上半身内衣表示(C_ID)) || (表示部位:LOCAL == "下半身内衣１" && C_ID != MASTER && !下半身内衣表示(C_ID))
			PRINTFORML %表示ラベル:LOCAL%[？？？？？]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣１" || 表示部位:LOCAL == "下半身内衣１") && CLOTHES:LOCAL > 0
			PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
			LOCAL += 1
			CONTINUE
		ELSEIF (表示部位:LOCAL == "上半身内衣２" || 表示部位:LOCAL == "下半身内衣２") && CLOTHES:LOCAL == 0
			PRINTFORML %表示ラベル:LOCAL%[没穿]
		ENDIF
		SIF 表示部位:LOCAL == "連衣裙" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全上半身[没穿]
		SIF 表示部位:LOCAL == "裤子" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1), CLOTHES:(LOCAL - 2), CLOTHES:(LOCAL - 3), CLOTHES:(LOCAL - 4))
			PRINTFORML 装备:全下半身[没穿]
		SIF 表示部位:LOCAL == "靴" && !MAX(CLOTHES:LOCAL, CLOTHES:(LOCAL - 1))
			PRINTFORML 装备:足部　　[裸足]
		SIF !CLOTHES:LOCAL
			CONTINUE

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT
CASE "暂存状态"
	FOR LOCAL, 1, 23
		SIF GROUPMATCH(表示部位:LOCAL, "下身衣服", "上半身内衣２", "下半身内衣１")
			CONTINUE
		SIF FINDELEMENT(EQUIPNAME, 表示部位:LOCAL) < 0
			THROW 不存在的装備部位%表示部位:LOCAL%
		CLOTHES:LOCAL = TEMP_CLOTHES:C_ID:(FINDELEMENT(EQUIPNAME, 表示部位:LOCAL))
		表示内容 '= GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(表示部位:LOCAL), CLOTHES:LOCAL, "名前")
		SIF !CLOTHES:LOCAL
			表示内容 = 无

		PRINTFORML %表示ラベル:LOCAL%[%CLOTHES_TR(表示内容)%]
	NEXT
ENDSELECT

@SPECIAL_OUTFIT(CHARA)
#FUNCTION
#DIM CHARA
IF FESTIVAL() == "兔子之日"
	RETURNF 55
ELSEIF FLAG:ファッション
	RETURNF FLAG:ファッション
ENDIF
RETURNF GET_INT(0, "キャラデータ", CHARA, "特殊衣装着用")


@UNIQUE_UNDERWARE_TOP(CHARA)
#FUNCTIONS
#DIM CHARA
RETURNF GET_STR(0, "キャラデータ", CHARA, "固有上半身内衣名")

@UNIQUE_UNDERWARE_BOTTOM(CHARA)
#FUNCTIONS
#DIM CHARA
SIF GET_STR(0, "キャラデータ", CHARA, "固有下半身内衣名") == ""
	RETURNF "崭新的胖次"
RETURNF GET_STR(0, "キャラデータ", CHARA, "固有下半身内衣名")

@UNIQUE_UNDERWARE_ADJ(CHARA)
#FUNCTIONS
#DIM CHARA
RETURNF GET_STR(0, "キャラデータ", CHARA, "固有内衣形容詞")

@UNIQUE_UNDERWARE_ABLE(CHARA)
#FUNCTION
#DIM CHARA
RETURNF GET_INT(0, "キャラデータ", CHARA, "固有内衣着用条件")

@UNIQUE_UNDERWARE_TRANSPARENCY_FRONT(CHARA)
#FUNCTION
#DIM CHARA
RETURNF GET_INT(0, "キャラデータ", CHARA, "固有内衣半透明(前)")

@UNIQUE_UNDERWARE_TRANSPARENCY_BACK(CHARA)
#FUNCTION
#DIM CHARA
RETURNF GET_INT(0, "キャラデータ", CHARA, "固有内衣半透明(後)")

@UNIQUE_UNDERWARE_TOP_THICK(CHARA)
#FUNCTION
#DIM CHARA
RETURNF GET_INT(0, "キャラデータ", CHARA, "固有内衣布料厚度")

@上半身内衣表示(C_ID)
#FUNCTION
#DIM C_ID

SIF !CFLAG:C_ID:睡眠 && CFLAG:C_ID:上半身内衣確認
	RETURNF 1
SIF CFLAG:C_ID:睡眠 && CFLAG:C_ID:睡衣上半身内衣確認
	RETURNF 1
RETURNF 0

@下半身内衣表示(C_ID)
#FUNCTION
#DIM C_ID

SIF !CFLAG:C_ID:睡眠 && CFLAG:C_ID:下半身内衣確認
	RETURNF 1
SIF CFLAG:C_ID:睡眠 && CFLAG:C_ID:睡衣下半身内衣確認
	RETURNF 1
RETURNF 0

@上半身内衣チェック(C_ID)
#FUNCTION
#DIM C_ID

IF !CFLAG:C_ID:睡眠
	CFLAG:C_ID:上半身内衣確認 = 1
ELSE
	CFLAG:C_ID:睡衣上半身内衣確認 = 1
ENDIF

@下半身内衣チェック(C_ID)
#FUNCTION
#DIM C_ID

IF !CFLAG:C_ID:睡眠
	CFLAG:C_ID:下半身内衣確認 = 1
ELSE
	CFLAG:C_ID:睡衣下半身内衣確認 = 1
ENDIF

@内衣確認リセット(C_ID)
#DIM C_ID

CFLAG:C_ID:上半身内衣確認 = 0
CFLAG:C_ID:下半身内衣確認 = 0
CFLAG:C_ID:睡衣上半身内衣確認 = 0
CFLAG:C_ID:睡衣下半身内衣確認 = 0

RETURN

;蛇版魔改重做函数
@衣服选择列表(换装选择, C_ID, PAGE, 部位选择屏蔽)
#DIM DYNAMIC 换装选择
#DIM C_ID
#DIM REF PAGE
#DIM REF 部位选择屏蔽
SIF PAGE < 0
	PAGE = 0
SIF PAGE > 7
	PAGE = 7
IF VARSIZE("部位选择屏蔽") == 1
	IF 换装选择 == 部位选择屏蔽
		FOR LOCAL, 1, 25
			IF LOCAL != 部位选择屏蔽
				换装选择 = LOCAL
				BREAK
			ENDIF
		NEXT
	ENDIF
ELSEIF VARSIZE("部位选择屏蔽") > 1
	IF 部位选择屏蔽:换装选择 == 1
		FOR LOCAL, 1, 25
			IF !部位选择屏蔽:LOCAL
				换装选择 = LOCAL
				BREAK
			ENDIF
		NEXT
	ENDIF
ELSE
	THROW WARNING:UNEXPECTED ERROR DETECTED!
ENDIF
IF 换装选择 == 23
	FOR LOCAL, 20 * PAGE + 1, 20 * (PAGE + 1) + 1
		; IF PAGE != 0 && LOCAL == 20 * PAGE + 1 && !STRLENS(GET_STR(C_ID, "衣装セット", LOCAL, "名前"))
		; 	PAGE -= 1
		; 	LOCAL = 20 * PAGE + 1
		; ENDIF
		IF GET_EXIST("衣装セット", LOCAL) && STRLENS(GET_STR(C_ID, "衣装セット", LOCAL, "名前")) != 1
			PRINTFORML [{LOCAL, 2}] - %CLOTHES_TR(GET_STR(C_ID, "衣装セット", LOCAL, "名前"))%
		ELSE
			SETCOLOR C_GRAY
			PRINTFORML [{LOCAL, 2}] - ----
			RESETCOLOR
		ENDIF
	NEXT
ELSEIF 换装选择 == 24
	FOR LOCAL, 20 * PAGE + 1, 20 * (PAGE + 1) + 1
		; IF PAGE > 4
		; 	PAGE = 4
		; 	LOCAL = 20 * PAGE + 1
		; ENDIF
		IF 自设套装:LOCAL:0 == 1
			PRINTFORML [{LOCAL, 2}] - %自设套装名称:LOCAL%
		ELSE
			SETCOLOR C_GRAY
			PRINTFORML [{LOCAL, 2}] - ----
			RESETCOLOR
		ENDIF
	NEXT
ELSE
	FOR LOCAL, 20 * PAGE + 1, 20 * (PAGE + 1) + 1
		; IF PAGE != 0 && LOCAL == 20 * PAGE + 1 && !STRLENS(GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(EQUIPNAME:换装选择), LOCAL, "名前"))
		; 	PAGE -= 1
		; 	LOCAL = 20 * PAGE + 1
		; ENDIF
		IF GET_EXIST(CLOTHES_PARTS_TO_CATEGORY(EQUIPNAME:换装选择), LOCAL) && STRLENS(GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(EQUIPNAME:换装选择), LOCAL, "名前")) != 1
			PRINTFORML [{LOCAL, 2}] - %CLOTHES_TR(GET_STR(C_ID, CLOTHES_PARTS_TO_CATEGORY(EQUIPNAME:换装选择), LOCAL, "名前"))%
		ELSE
			SETCOLOR C_GRAY
			PRINTFORML [{LOCAL, 2}] - ----
			RESETCOLOR
		ENDIF
	NEXT
ENDIF
PRINTFORML [999] - 不穿
HTML_PRINT "<button value = '1001' title = '上一页'>　［＜］　</button><button value = '1002' title = '下一页'>　［＞］　</button>"