;@Update_Menu
;#DIM nLineCnt_Head
;
;LOADGLOBAL
;FOR LOCAL, 0, 100
;	PRINTL
;NEXT
;PRINTFORML Update Menu 2: Super Hyper Ultra Ultimate Deluxe Perfect Amazing Shining God 流派東方不敗
;CUSTOMDRAWLINE -
;nLineCnt_Head = LINECOUNT
;REDRAW 0
;DO
;	SIF LINECOUNT - nLineCnt_Head > 0
;		CLEARLINE LINECOUNT - nLineCnt_Head
;	CALL UPDATE_STATE
;	SELECTCASE RESULT
;		CASE 0
;			SAVEGLOBAL
;			RETURN
;	CASEELSE
;	ENDSELECT
;LOOP 1
;
;@UPDATE_PAGE_0(P0_PAGE)
;#DIM DYNAMIC P0_PAGE
;#DIM C_ID
;#DIM DYNAMIC DEBUG_MODE
;
;[IF_DEBUG]
;	DEBUG_MODE = 1
;[ENDIF]
;
;CALL COLORMESSAGE("//.Update", C_S_BLUE, 1, 1)
;CALL PRINTBUTTON_EX("□ セーブ更新", 501)
;PRINTL
;SETCOLOR C_GRAY
;PRINTFORML （ゲームをセットアップし、セーブデータをアップデートし、口上のアップデート関数を実行しま;す）
;RESETCOLOR
;CALL PRINTBUTTON_OR_SPACE("□ セーブ更新：レガシー", 502, DEBUG_MODE)
;IF DEBUG_MODE
;	SETCOLOR C_GRAY
;	PRINTFORML （旧来のアップデート機能、通常のゲームプレイにおいては非推奨）
;	RESETCOLOR
;ELSE
;	PRINTL
;ENDIF
;PRINTL
;PRINTL
;
;CALL COLORMESSAGE("//.Settings", C_S_BLUE, 1, 1)
;CALL PRINTBUTTON_OR_SPACE("□ 妊娠設定", 601, !UPDATE_REQUIRED_COND())
;PRINTL
;
;CALL COLORMESSAGE("//.Extra", C_S_BLUE, 1, 1)
;;CALL PRINTBUTTON_OR_SPACE("□ Apply The Expanded Relations Patch", 504, !UPDATE_REQUIRED_COND())
;CALL PRINTBUTTON_OR_SPACE("□ (Debug) 口上色リスト・色カスタム", 507, DEBUG_MODE)
;CALL PRINTBUTTON_OR_SPACE("□ (Debug) 依頼生成", 602, DEBUG_MODE)
;;CALL PRINTBUTTON_OR_SPACE("□ (Debug) Test Translations", 603, DEBUG_MODE)
;
;@UPDATE_PAGE_1(P1_PAGE)
;#DIM DYNAMIC P1_PAGE
;#DIM CHARA
;#DIM CHARA_DIALOGUE_COUNT
;
;IF (CHARANUM % UpdateP1_CharaPerPage == 0)
;	UpdateMaxPages = (CHARANUM / UpdateP1_CharaPerPage)
;ELSE 
;	UpdateMaxPages = (CHARANUM / UpdateP1_CharaPerPage) + 1
;ENDIF
;
;PRINTFORML Page {P1_PAGE} ({((P1_PAGE - 1) * UpdateP1_CharaPerPage) + 1}～{MIN((P1_PAGE * ;UpdateP1_CharaPerPage), CHARANUM - 2)})
;FOR CHARA, 1, CHARANUM - 1
;	SIF CFLAG:CHARA:出禁
;		CONTINUE
;
;	RESULTS =
;	IF INRANGE(CHARA, (((P1_PAGE - 1) * UpdateP1_CharaPerPage) + 1), (P1_PAGE * ;UpdateP1_CharaPerPage))
;		CALL KOJO_COUNT_CHECK(CHARA, 1)
;		CHARA_DIALOGUE_COUNT = RESULT
;		IF !RESULT
;			SETCOLOR C_GRAY
;			LOCALS '= @"%NAME:CHARA, 25, LEFT% (N/A, 口上無し)"
;		ELSE
;			LOCALS '= @"%NAME:CHARA, 25, LEFT%"
;			SIF CHARA_DIALOGUE_COUNT > 1
;				LOCALS '= @"%LOCALS% (別口上有)"
;		ENDIF
;		SIF HL_CHARA == CHARA
;			SETCOLOR C_ORANGE
;		PRINTFORML [{CHARA, 3}] - %LOCALS%
;		RESETCOLOR
;	ENDIF
;NEXT
;PRINTL
;PRINTBUTTON @"%"前ページ",15,LEFT%", 8102
;PRINTBUTTON @"%"次ページ",15,LEFT%", 8103
;PRINTL
;
;@UPDATE_PAGE_2(P2_PAGE)
;#DIM DYNAMIC P2_PAGE
;#DIM DYNAMIC P2_COUNT
;#DIM DYNAMIC P2_LOOP, 2
;#DIM DYNAMIC P2_LIST, キャラクタ数上限
;#DIMS DYNAMIC P2_LISTS, 2
;#DIMS DYNAMIC P2_STR_BUILD,2
;#DIM DYNAMIC P2_KOJO_COUNT
;#DIM CHARA
;
;PRINTFORML 口上名をクリックすると変更できます。
;HTML_PRINT @"口上を変更すると、キャラクター情報が完全にリセットされます。 例外は<font ;color=\"#99ff99\">緑色</font>です。"
;HTML_PRINT @"現在の口上は<font color=\"#9999ff\">青</font>で表示されます。"
;PRINTL
;;Get characters who has more than one dialogue
;P2_COUNT = 1
;FOR P2_LOOP, 0, CHARANUM
;	P2_KOJO_COUNT = 0
;	;normally IS_MOB would be used but ATW doesn't have that so check for the mob talent I guess
;	SIF TALENT:P2_LOOP:300
;		CONTINUE
;
;	;check if characters have dialogues
;	;skip if there's none or only one
;	FOR P2_LOOP:1,0,5
;		VARSET RESULT
;		VARSET RESULTS:1
;		VARSET RESULTS:2
;		IF P2_LOOP:1
;			TRYCALLFORM M_KOJO_K{NO:P2_LOOP}_{P2_LOOP:1}
;		ELSE
;			TRYCALLFORM M_KOJO_K{NO:P2_LOOP}
;		ENDIF
;		IF RESULT
;			SIF !GETBIT(CFLAG:P2_LOOP:口上実装状況,P2_LOOP:1)
;				SETBIT CFLAG:P2_LOOP:口上実装状況,P2_LOOP:1
;			P2_KOJO_COUNT++
;		ENDIF
;	NEXT
;	SIF P2_KOJO_COUNT < 2
;		CONTINUE
;	;if there's more than 1 then add to the list
;	P2_LIST:P2_COUNT = P2_LOOP
;	P2_COUNT++
;NEXT
;
;IF (P2_COUNT % UpdateP2_CharaPerPage == 0)
;	UpdateMaxPages = (P2_COUNT / UpdateP2_CharaPerPage)
;ELSE 
;	UpdateMaxPages = (P2_COUNT / UpdateP2_CharaPerPage) + 1
;ENDIF
;
;PRINTFORML Page {P2_PAGE} ({((P2_PAGE - 1) * UpdateP2_CharaPerPage) + 1}～{MIN((P2_PAGE * ;UpdateP2_CharaPerPage), CHARANUM - 2)})
;FOR P2_LOOP, 0, P2_COUNT
;	CHARA = P2_LIST:P2_LOOP
;	VARSET P2_STR_BUILD
;	SIF CFLAG:CHARA:出禁
;		CONTINUE
;
;	RESULTS =
;	IF INRANGE(P2_LOOP, (((P2_PAGE - 1) * UpdateP2_CharaPerPage) + 1), (P2_PAGE * ;UpdateP2_CharaPerPage))
;		;has update
;		IF CFLAG:CHARA:口上セレクタ
;			TRYCALLFORM M_KOJO_K{NO:CHARA}_{CFLAG:CHARA:口上セレクタ}
;		ELSE
;			TRYCALLFORM M_KOJO_K{NO:CHARA}
;		ENDIF
;		LOCALS '= @"%NAME:CHARA, 25, LEFT%"
;		SIF HL_CHARA == CHARA
;			SETCOLOR C_ORANGE
;		PRINTPLAINFORM [{CHARA, 3}] - %LOCALS%
;		PRINTL
;		RESETCOLOR
;		P2_STR_BUILD '= " 	"
;		P2_STR_BUILD:1 '= ""
;		FOR P2_LOOP:1, 0, 5
;			VARSET RESULT
;			VARSET RESULTS:1
;			VARSET RESULTS:2
;			IF P2_LOOP:1
;				TRYCALLFORM M_KOJO_K{NO:CHARA}_{P2_LOOP:1}
;			ELSE
;				TRYCALLFORM M_KOJO_K{NO:CHARA}
;			ENDIF
;			IF RESULT
;				SIF RESULTS:1 == ""
;					RESULTS:1 = 初期
;				P2_LISTS:0 '= RESULTS:1
;				P2_LISTS:1 '= @"\@RESULTS:2 != "" ? %RESULTS:2% # 記述がありません \@"
;
;				P2_STR_BUILD:1 '= @"<button value='{(10000*(P2_LOOP:1+1))+CHARA}' title='%HTML_ESCAPE;(P2_LISTS:1)%'>%P2_LISTS:0%</button>   "
;				IF CFLAG:CHARA:口上セレクタ == P2_LOOP:1
;					P2_STR_BUILD:1 '= @"<font color=\"#9999ff\">%P2_STR_BUILD:1%</font>"
;				ELSEIF GETBIT(RESULT:1, CFLAG:CHARA:口上セレクタ)
;					P2_STR_BUILD:1 '= @"<font color=\"#99ff99\">%P2_STR_BUILD:1%</font>"
;				ENDIF
;			ENDIF
;			P2_STR_BUILD += P2_STR_BUILD:1
;			P2_STR_BUILD:1 '= ""
;		NEXT
;		HTML_PRINT P2_STR_BUILD
;		PRINTL
;	ENDIF
;NEXT
;PRINTL
;PRINTBUTTON @"%"前ページ",15,LEFT%", 8102
;PRINTBUTTON @"%"次ページ",15,LEFT%", 8103
;PRINTL
;
;@UPDATE_STATE(C_ID,OP)
;#DIMS    OP         ;実行オプション
;#DIM     C_ID       ;登録番号
;#DIM	 D_ID
;#DIM DYNAMIC    PAGE       ;表示中のページ
;#DIM	 ACTIVE_SUBPAGE = 1
;#DIM	 SUBPAGE_MEMO_1 = 1
;#DIM	 SUBPAGE_MEMO_2 = 1
;#DIMS CONST DISP_NAME = "ホーム", "個別調整", "口上切り替え"
;#DIM CREDRAW
;#DIM FIRST_LINE
;#DIM INPUT_RESULT
;#DIM News_Amount
;
;VARSET nCharaUpdate
;
;CALL createAndPopulatePatchTable
;News_Amount = 0
;FOR LOCAL,0,PNIndex
;    IF STRFIND(patchNotesRead, PNDefName:LOCAL+"、") == -1
;        News_Amount++
;    ENDIF
;NEXT
;
;FIRST_LINE = LINECOUNT
;$REPRINT
;CLEARLINE LINECOUNT - FIRST_LINE
;CREDRAW = CURRENTREDRAW()
;REDRAW 0
;IF PAGE == 0
;	IF UPDATE_REQUIRED_COND()
;		CALL COLORMESSAGE(@"旧バージョンからセーブデータをアップデートします", C_RED, 1)
;		PRINTFORML アップデートで以下のものが追加される場合があります: 新バージョンに含まれる新キャラ;・新素質・新フラグ
;		PRINTFORML アップデートを行うまで他のオプションにアクセスできません
;	ELSE
;		CALL COLORMESSAGE(@"セーブデータは既に最新バージョンです", C_YELLOW, 1)
;		PRINTFORML 実行することで問題が解決することがありますが、リセットされうる要素もあります
;	ENDIF
;	PRINTL 
;	IF News_Amount
;		CALL PRINTBUTTON_EX(@"□ {News_Amount}件の未読パッチノート □",508, , , ,)
;		PRINTL
;	ELSE
;		CALL PRINTBUTTON_EX(@"□ パッチノートを確認 □",508, , , ,)
;		PRINTL
;	ENDIF
;	PRINTFORML eraTWバージョン%eraTW_Version%へようこそ。
;	PRINTL 
;ELSEIF PAGE == 1
;	PRINTFORML 個別キャラのアップデートの実行・カスタマイズができます
;	PRINTFORML 一回クリックで選択、再度クリックでアップデート・カスタマイズが可能です
;	PRINTFORML 口上切り替えには原則的にリセットが伴います
;	PRINTL 
;	SIF UPDATE_KOJO_CUSTOMIZE
;		SETCOLOR C_ORANGE 
;	PRINTBUTTON "[口上カスタマイズ]", 701
;	PRINTFORML 
;	RESETCOLOR
;	SIF Ask_SwitchDialogue
;		SETCOLOR C_ORANGE 
;	PRINTBUTTON "[口上切り替え]", 702
;	PRINTFORML 
;	RESETCOLOR
;	SIF ResetToggle
;		SETCOLOR C_RED
;	PRINTBUTTON "[キャラクターリセット]", 703
;	PRINTFORML 
;	PRINTL
;	RESETCOLOR
;	CALL HIGHLIGHT_CHARA_DISPLAY(HL_CHARA)
;ENDIF
;TRYCALLFORM UPDATE_PAGE_{PAGE}(ACTIVE_SUBPAGE)
;DRAWLINE
;FOR LOCAL, 0, VARSIZE("DISP_NAME")
;	SIF PAGE == LOCAL
;		SETCOLOR 0x00FFFF
;	SIF UPDATE_MENU_PAGE_BANNED_COND(LOCAL)
;		SETCOLOR 0x6A7783
;	PRINTBUTTON DISP_NAME:LOCAL, LOCAL + 8002
;	RESETCOLOR
;	PRINTFORM 　　
;NEXT
;PRINTFORML 
;PRINTL
;PRINTBUTTON " [戻る] ", 0
;RESETCOLOR
;DO
;	INPUT
;	INPUT_RESULT = RESULT
;	SELECTCASE INPUT_RESULT
;	CASE 0
;		VARSET HL_CHARA
;		VARSET UPDATE_KOJO_CUSTOMIZE
;		VARSET Ask_SwitchDialogue
;		VARSET ResetToggle
;		RETURN 0
;	CASE 501
;		CALL UPDATE_MAIN("full")
;	CASE 502
;		CALL UPDATE
;	;CASE 504
;		;PRINTFORML This option will set modified, expanded affinities for almost all characters.
;		;PRINTFORML It will override all current relations between characters, confirm to proceed.
;		;CALL ASK_YN
;		;IF !INPUT_RESULT
;			;FOR C_ID, 1, CHARANUM - 1
;				;CALL ADD_SET_RELATION_PROC(C_ID)
;			;NEXT
;			;PRINTFORMW Applied.
;		;ENDIF
;	[IF_DEBUG]
;	CASE 507
;		CALL CHANGE_PT_KOJO_COLOR
;	[ENDIF]
;	CASE 508
;		CALL patchNotes
;	CASE 601
;		CALL PREGNANCY_TYPE_OPTIONS
;	CASE 602
;		CALL DEBUG_IRAI_HAPPEN
;	;CASE 603
;		;CALL DEBUG_TRANSLATION_MENU
;	CASE 701
;		ResetToggle = 0
;		Ask_SwitchDialogue = 0
;		UPDATE_KOJO_CUSTOMIZE = 1
;	CASE 702
;		ResetToggle = 0
;		Ask_SwitchDialogue = 1
;		UPDATE_KOJO_CUSTOMIZE = 0
;	CASE 703
;		ResetToggle = 1
;		Ask_SwitchDialogue = 0
;		UPDATE_KOJO_CUSTOMIZE = 0
;	CASE 8002 TO VARSIZE("DISP_NAME")+8002
;		IF UPDATE_MENU_PAGE_BANNED_COND(INPUT_RESULT-8002)
;			PRINTFORMW 現在開けません。
;			GOTO REPRINT
;		ENDIF
;		SELECTCASE PAGE
;			CASE 1
;				SUBPAGE_MEMO_1 = ACTIVE_SUBPAGE
;			CASE 2
;				SUBPAGE_MEMO_2 = ACTIVE_SUBPAGE
;		ENDSELECT
;		VARSET HL_CHARA
;		PAGE = INPUT_RESULT-8002
;		SELECTCASE PAGE
;			CASE 1
;				ACTIVE_SUBPAGE = SUBPAGE_MEMO_1
;			CASE 2
;				ACTIVE_SUBPAGE = SUBPAGE_MEMO_2
;		ENDSELECT
;	CASE 8102
;		ACTIVE_SUBPAGE--
;		VARSET HL_CHARA
;		SIF ACTIVE_SUBPAGE <= 0
;			ACTIVE_SUBPAGE = UpdateMaxPages
;	CASE 8103
;		ACTIVE_SUBPAGE++
;		VARSET HL_CHARA
;		SIF ACTIVE_SUBPAGE > UpdateMaxPages
;			ACTIVE_SUBPAGE = 1
;	CASE 1 TO CHARANUM - 1
;		IF HL_CHARA == INPUT_RESULT
;			C_ID = INPUT_RESULT
;			IF Ask_SwitchDialogue
;				CALL SELECT_NEW_KOJO(C_ID)
;				SIF INPUT_RESULT == -1
;					PRINTFORMW %CALLNAME:C_ID%には他の口上がありません
;			ELSEIF ResetToggle
;				PRINTFORML 本当に%CALLNAME:C_ID%をリセットしますか？
;				PRINTFORML 関係、イベント、能力、フラグなどがリセットされます
;				CALL ASK_YN
;				IF !RESULT
;					CALL RESET_KOJO_CHARA(C_ID)
;				ELSE
;					
;				ENDIF
;			ELSE
;				CALL UPDATE_DIALOGUE_INDIVIDUAL(C_ID, 1, 1)
;			ENDIF
;		ELSE
;			HL_CHARA = INPUT_RESULT
;		ENDIF
;	CASE 10000 TO 60000
;		;character dialogue changer
;		LOCAL = INPUT_RESULT
;		C_ID = LOCAL%10000
;		D_ID = (LOCAL/10000)-1
;
;		IF PAGE != 2
;			;don't do this when not in the dialogue selector
;			PRINTW 不正な入力です
;			CONTINUE
;		ELSEIF CFLAG:C_ID:口上セレクタ == D_ID
;			PRINTW すでにこの口上を使用中です
;			CONTINUE
;		ENDIF
;
;		VARSET INPUT_RESULT
;		IF D_ID
;			TRYCALLFORM M_KOJO_K{NO:C_ID}_{D_ID}
;		ELSE
;			TRYCALLFORM M_KOJO_K{NO:C_ID}
;		ENDIF
;		CALL CHARACTER_GET_NEW_DIALOGUE(C_ID,D_ID,!GETBIT(RESULT:1,CFLAG:C_ID:口上セレクタ))
;	CASEELSE
;		$RETRY
;		PRINTW 不正な入力です
;		CONTINUE
;	ENDSELECT
;	BREAK
;LOOP 1
;GOTO REPRINT
;
;@HIGHLIGHT_CHARA_DISPLAY(C_ID)
;#DIM LAYER_COUNT
;#DIM RESET_OFFSETS
;
;#DIM CURRENT_INDEX      ;the current element index for the line
;#DIM CURRENT_X_OFFSET   ;the current x offset for the line
;#DIM X_OFFSETS, キャラクタ数上限 ;stores the offset per element
;#DIM ELEMENT_WIDTH      ;the width of the current line+image
;#DIM IMAGE_WIDTH        ;the width of the image
;#DIM ELEMENT_HEIGHT       ;the height of the element
;#DIM CHARACTER_WIDTH    ;estimated width in pixels per character
;
;#DIM C_ID
;#DIMS TITLE_TEXT
;#DIM TITLE_COLOR
;
;TITLE_TEXT '= @"[%CALLNAME:C_ID%]"
;
;CALL SET_KOJO_COLOR(C_ID)
;TITLE_COLOR = GETCOLOR()
;RESETCOLOR
;
;IF C_ID && FLAG:画像表示
;	SIF !CHARACTER_WIDTH
;    CHARACTER_WIDTH = CLIENTWIDTH() / HTML_STRINGLEN(DRAWLINESTR)
;
;	IF TEMP_HTML:LAYER_COUNT == "" ;first element, reset
;		CURRENT_X_OFFSET = 0
;		CURRENT_INDEX = 0
;	ENDIF
;
;	SIF RESET_OFFSETS
;		VARSET X_OFFSETS
;
;	IMAGE_WIDTH = 180
;	ELEMENT_HEIGHT = IMAGE_WIDTH+GETCONFIG("一行の高さ")
;	ELEMENT_WIDTH = MAX(HTML_STRINGLEN(TITLE_TEXT) * CHARACTER_WIDTH, IMAGE_WIDTH, ;X_OFFSETS:CURRENT_INDEX)
;
;	SIF !X_OFFSETS:CURRENT_INDEX
;		X_OFFSETS:CURRENT_INDEX = ELEMENT_WIDTH
;
;	LOCAL = FLAG:立ち絵種類
;	FLAG:立ち絵種類 = 1
;
;	TRYCALLFORM IMAGE_EX_I{NO:C_ID}_PREリソースチェック(C_ID, "顔絵", "服", "通常", "", "", "")
;	CALL GET_BASE_RESOURCE(C_ID, "顔絵", "服", "通常", "", "")
;	SIF !RESULT
;		RESULTS = %GET_BASESTYLE(C_ID, "顔絵")%_服_通常_{C_ID}
;	TEMP_HTML:LAYER_COUNT += @"<div width='{ELEMENT_WIDTH}px' height='{ELEMENT_HEIGHT}px' xpos=';{CURRENT_X_OFFSET}px'>"
;	TEMP_HTML:LAYER_COUNT += @"<p align='center'><font color='#%TOSTR(TITLE_COLOR,"X6");%'>%TITLE_TEXT%</font></p>"
;	CALL 画像セット(RESULTS, 0, 0, 100, 0, 1, "", "")
;	TEMP_HTML:LAYER_COUNT += "</div>"
;
;	CURRENT_X_OFFSET += ELEMENT_WIDTH
;	CURRENT_INDEX++
;
;	CALL 画像一斉表示(0, 0, 1, -1)
;	PRINTL
;
;	FLAG:立ち絵種類 = LOCAL
;ELSE
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTL
;	PRINTFORML %COND_STR(@"%TITLE_TEXT%", C_ID > 0)%
;	PRINTL
;ENDIF
;
;@KOJO_RESET_CONFIRM
;IF !Reset_NeverAskAgain
;	PRINTFORM セーブデータに不具合を起こしかねない挙動を防ぐため、口上の変更には
;	CALL COLORMESSAGE("当該キャラの完全な初期化",C_YELLOW,0,0)
;	PRINTFORML が必要になります
;	PRINTFORML リセット不要が明記されている場合を除き、口上の変更にあたってはリセットが行われます
;	PRINTFORML 相性・イベント・能力・フラグなどが初期化されます
;	PRINTFORML 
;	PRINTFORML ご理解の上で決定してください。これ以上の再確認はありません
;	CALL ASK_YN("リセットする","やめる")
;	IF RESULT == 0
;		Reset_NeverAskAgain = 1
;	ELSE
;		Reset_NeverAskAgain = 0
;	ENDIF
;ENDIF
;
;@SELECT_NEW_KOJO(C_ID)
;#DIM C_ID
;#DIM DYNAMIC kojoIndex
;#DIM DYNAMIC validKojoCount
;#DIMS DYNAMIC kojoNameList, 4
;#DIM DYNAMIC kojoIndexList, 4
;#DIM DYNAMIC kojoListPointer
;#DIMS kojoDescriptions, DESCRIPTIONS_SIZE
;#DIM DYNAMIC kojoSelectResult
;
;FOR kojoIndex,0,5
;	VARSET RESULT
;	VARSET RESULTS:1
;	VARSET RESULTS:2
;	IF kojoIndex
;		TRYCALLFORM M_KOJO_K{NO:C_ID}_{kojoIndex}
;	ELSE
;		TRYCALLFORM M_KOJO_K{NO:C_ID}
;	ENDIF
;	IF RESULT
;		kojoDescriptions:kojoListPointer = \@RESULTS:2 != "" ? %RESULTS:2% # 記述がありません \@
;		SIF RESULTS:1 == ""
;			RESULTS:1 = 初期
;		kojoNameList:kojoListPointer = %CALLNAME:C_ID%%RESULTS:1%口上
;		kojoIndexList:kojoListPointer = kojoIndex
;		kojoListPointer ++
;		IF !GETBIT(CFLAG:C_ID:口上実装状況,kojoIndex)
;			validKojoCount += 1
;			SETBIT CFLAG:C_ID:口上実装状況,kojoIndex
;		ELSEIF GETBIT(CFLAG:C_ID:口上実装状況,kojoIndex)
;			validKojoCount += 1
;		ENDIF
;	ENDIF
;NEXT
;SIF validKojoCount < 2
;	RETURN -1
;IF validKojoCount > 1
;	PRINTFORML 使用する口上を選んでください (マウスオーバーで簡単な説明が出ます)
;	CALL KOJO_ACTIVE_INFO(C_ID)
;	SIF RESULTS:1 == ""
;		RESULTS:1 = 初期
;	PRINTFORML %CALLNAME:C_ID%現在の口上: %RESULTS:1%口上
;	CALL ASK_CHOICES_TITLE(kojoNameList, kojoDescriptions, kojoListPointer)
;	kojoSelectResult = kojoIndexList:RESULT
;	IF CFLAG:C_ID:口上セレクタ == kojoSelectResult
;		PRINTFORMW %CALLNAME:C_ID%の口上を変更しません
;	ELSE
;		IF kojoSelectResult
;			TRYCALLFORM M_KOJO_K{NO:C_ID}_{kojoSelectResult}
;		ELSE
;			TRYCALLFORM M_KOJO_K{NO:C_ID}
;		ENDIF
;		CALL CHARACTER_GET_NEW_DIALOGUE(C_ID,kojoSelectResult,!GETBIT(RESULT:1,CFLAG:C_ID:口上セレク;タ))
;	ENDIF
;ENDIF
;
;@CHARACTER_RESET_KOJO_SELECT(C_ID)
;#DIM C_ID
;CALL KOJO_RESET_CONFIRM
;CALL RESET_KOJO_CHARA(C_ID)
;
;;Unified resetting/dialogue change function
;;C_ID: Character ID
;;D_ID: Dialogue ID
;;RequireReset: Whether to reset the character
;;RequireConfirm: Whether to prompt the user to confirm a reset
;@CHARACTER_GET_NEW_DIALOGUE(C_ID,D_ID,RequireReset=1)
;#DIM C_ID
;#DIM D_ID
;#DIM RequireConfirm
;#DIM RequireReset
;SIF RequireReset
;	CALL KOJO_RESET_CONFIRM
;
;IF !RESULT || (!RequireConfirm || !RequireReset)
;	IF RequireReset
;		CALL KOJO_RESET_CONFIRM
;		CALL RESET_KOJO_CHARA(C_ID)
;	ENDIF
;	PRINTFORML 口上を適用中...
;	CFLAG:C_ID:口上セレクタ = D_ID
;	CALL KOJO_ACTIVE_INFO(C_ID)
;	SIF RESULTS:1 == ""
;		RESULTS:1 = 初期
;	PRINTFORML %RESULTS:1%口上のアップデート関数を実行...
;	TRYCALLFORM M_KOJO%RESULTS%_UPDATE_K{NO:C_ID}
;	SIF UPDATE_KOJO_CUSTOMIZE
;		CALL UPDATE_SHOW_SETTINGS(C_ID)
;	PRINTL
;	PRINTFORMW %CALLNAME:C_ID%の現在の口上: %RESULTS:1%口上
;ENDIF
;
;;print a button or leave an empty space when condition isn't met
;@PRINTBUTTON_OR_SPACE(ARGS:0, ARG, CONDITION = 1)
;#DIM CONDITION
;IF CONDITION
;	PRINTBUTTON @"%ARGS:0%", ARG
;	PRINTL
;ELSE
;	PRINTL
;ENDIF
;
;;conditions for a page to be come inaccesible
;@UPDATE_MENU_PAGE_BANNED_COND(PAGE)
;#FUNCTION
;#DIM PAGE
;SELECTCASE PAGE
;	CASE 1
;		SIF UPDATE_REQUIRED_COND()
;			RETURNF 1
;	CASE 2
;		SIF UPDATE_REQUIRED_COND()
;			RETURNF 1
;ENDSELECT
;
;RETURNF 0
;
;
;;conditions for the menu to prompt for update
;@UPDATE_REQUIRED_COND()
;#FUNCTION
;
;SIF CHECK_UPDATE(eraTW_Version)
;	RETURNF 1
;
;RETURNF 0