;revからパクリ

@SYSTEM_TITLE
;TODO 输一次主角娘化，2次对手扶她化，第三次直接被调教————by 维德瑞
;TODO 催眠：一个是给角色永久上无知，一个是对你先生自己上快速学习（和广域催眠一样，学习速度*成功效果）————by 群梅莉时不时在做梦哒
;TODO 催眠：合意催眠能不能这样？催眠成功后好意和好感度获得乘1.5，先借贷500点好感度，第二天把这500点扣除？————by 群梅莉时不时在做梦哒
;TODO 催眠：如果喜欢这一口
;		往事件方向做，比如每天能催眠一次，这个事件完成后加许多经验，事件结束还原原本状态。
;		这样和已有的口上内容不冲突，也能玩这种PLAY。
;		如果可能的话，比如修改弹幕战，催眠后弹幕战是涩涩战斗这种，就是上面提到的无知PLAY这样
;		————by 奶糖
#DIM DYNAMIC check_saves
;删干净警告
CLEARLINE 1
LOADGLOBAL
RESULT = GLOBAL
SAVEGLOBAL
LOADGLOBAL

CLEARMEMORY ;debloat custom code

RESETBGCOLOR
;Moved lazy loading images up so any errors can be caught by the LINECOUNT check
CALL RM_タイトル画像用意 ;debloat custom code
CALL RM_リソース情報初期化 ;debloat custom code
;debug模式下看报错
PRINTL 加载完毕
;#;FORCEWAIT
CLEARLINE 1

;warning if screen isn't wide enough
IF MAXWIDTH() < CHAR_PER_LINE
	CALL COLORMESSAGE("窗口宽度小于推荐行宽，显示内容可能无法正确对齐", C_YELLOW, 1)
	CALL COLORMESSAGE("要解决此问题，请加宽窗口或使用更小的字体", C_YELLOW, 1)
	PRINTL
ENDIF

IF GAMEBASE_VERSION == 0
	WINDOW_TITLE = %GAMEBASE_TITLE% %eraTW_Version%
ELSEIF GAMEBASE_VERSION < 0
	WINDOW_TITLE = %GAMEBASE_TITLE% 0.00
ENDIF
RESULT  = 1
LOCAL:2 = LINECOUNT


DO
$ONCEANAIN
	REDRAW 0
	CLEARLINE LINECOUNT - LOCAL:2
	FOR LOCAL:0, 0, 35
		HTML_PRINT "<p align='center'><img src='TW_title" + TOSTR(LOCAL:0, "000") + "'></p>"
	NEXT
	ALIGNMENT CENTER
	CUSTOMDRAWLINE ━
	;PRINTFORML %GAMEBASE_TITLE%
	;PRINTFORML \@ GAMEBASE_VERSION <= 0 ? %eraTW_Version% # %TOSTR(GAMEBASE_VERSION,"0,.###")% \@
	;PRINTFORML %GAMEBASE_YEAR%
	CALL HTMLPRINTL(@"<b>%GAMEBASE_TITLE%</b>",,, "ＭＳ 明朝")
	CALL HTMLPRINTL(@"<b>%eraTW_Version%</b>",,, "ＭＳ 明朝")
	CALL HTMLPRINTL(@"<b>(%GAMEBASE_YEAR%)</b>",,, "ＭＳ 明朝")
	PRINTL
	CALL HTMLPRINTL(@"汉化版仅为学习日语的交流之用，禁止对该版本的一切盗用、商用行为",,, )
	CALL HTMLPRINTL(@"%GAMEBASE_INFO%",,, )
	CUSTOMDRAWLINE ━
	PRINTFORML [0] 开始游戏
	PRINTFORML %" "*12%[1] 继续游戏    [2] DEMO
	ALIGNMENT LEFT
	REDRAW 1
	TINPUT 20000,2,0,"开始播放DEMO"
	CUSTOMDRAWLINE ━
	SELECTCASE RESULT
		CASE 0
			ALIGNMENT CENTER
			check_saves = 0
			FOR check_saves, 0, 20
				CHKDATA check_saves
				SIF !RESULT:0
					BREAK
			NEXT
			SIF RESULT:0
				CHKDATA 99
			IF !RESULT:0
				PRINTFORML 检测到已存在的存档，确定要开始新游戏吗？
				CALL ASK_YN, "那当然", "再想想"
				CUSTOMDRAWLINE ━
			ELSE
				VARSET RESULT
			ENDIF
			ALIGNMENT LEFT
			IF !RESULT 
				RESETDATA
				ADDCHARA 0
				BEGIN FIRST
			ELSE
				GOTO ONCEANAIN
			ENDIF
		CASE 1
			CALL Real_Time_Save(1002, -1)
		CASE 2
			CALL BADAPPLE
	ENDSELECT
LOOP RESULT

@BADAPPLE
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM DYNAMIC check_saves
FOR count, 1, 100
	PRINTL
NEXT
ALIGNMENT CENTER
SETSOUNDVOLUME 50
PLAYSOUND "bad-apple-audio.MP3"
gLineCount = LINECOUNT
I = GETMILLISECOND()
FOR count, 1, 6573
	PRINTSL LOADTEXT(@"bad/bad_apple{count}.txt")
	CUSTOMDRAWLINE ━
	CALL HTMLPRINTL(@"<b>%GAMEBASE_TITLE%</b>",,, "ＭＳ 明朝")
	CALL HTMLPRINTL(@"<b>%eraTW_Version%</b>",,, "ＭＳ 明朝")
	CALL HTMLPRINTL(@"<b>(%GAMEBASE_YEAR%)</b>",,, "ＭＳ 明朝")
	LOCAL = GETMILLISECOND() - I
	IF LOCAL/1000%60 % 2
		PRINTFORMDL %" "*40%{LOCAL/1000/60}:\@ LOCAL/1000%60<10 ? 0 # \@{LOCAL/1000%60} / 3:37         >>>>>>>>PRESS ANY BUTTON<<<<<<<
	ELSE
		PRINTFORMDL {LOCAL/1000/60}:\@ LOCAL/1000%60<10 ? 0 # \@{LOCAL/1000%60} / 3:37
	ENDIF
	CALL HTMLPRINTL(@"汉化版仅为学习日语的交流之用，禁止对该版本的一切盗用、商用行为",,, )
	CALL HTMLPRINTL(@"%GAMEBASE_INFO%",,, )
	CUSTOMDRAWLINE ━
	PRINTFORML [0] 开始游戏
	PRINTFORML %" "*12%[1] 继续游戏    [2] DEMO
	IF GETMILLISECOND() - I > count*33
		AWAIT
	ELSE
		AWAIT 16
	ENDIF
	IF GETTEXTBOX() != "" || GETKEYTRIGGERED(1) || GETKEYTRIGGERED(13) || GETKEYTRIGGERED(27) 
		STOPSOUND
		VARSET I
		RETURN 1
	ENDIF
	CLEARLINE LINECOUNT - gLineCount
NEXT
VARSET I
RETURN 1