
@PRINT_STATE_JUEL(ARG)
#DIM 表示项目数

PRINTL
CALL PRINTLINE,"宝珠"
表示项目数 = 0
FOR LOCAL, 0, 22
	;PALAM.CSVに名称が登录されていないとCONTINUE
	SIF !STRLENS(PALAMNAME:LOCAL)
		CONTINUE
	;1000,1000000,单位で区切る
	LOCALS = {JUEL:ARG:LOCAL}
	SIF JUEL:ARG:LOCAL > 1000000
		LOCALS = {JUEL:ARG:LOCAL / 1000}k
	SIF JUEL:ARG:LOCAL > 1000000000
		LOCALS = {JUEL:ARG:LOCAL / 1000000}m
	PRINTFORM %PALAM_TR(PALAMNAME:LOCAL),6%之珠:%LOCALS,7,LEFT%
	表示项目数 += 1
	;改行or表示位置あけ
	SIF 表示项目数 % 4 == 0
		PRINTL 
NEXT
;否定の珠
LOCALS = {JUEL:ARG:100}
SIF JUEL:ARG:100 > 1000000
	LOCALS = {JUEL:ARG:100 / 1000}k
PRINTFORM %PALAM_TR(PALAMNAME:100),6%之珠:%LOCALS,7,LEFT%

@QOL_PRINT_STATE_JUEL(ARG)
#DIM 表示項目数
PRINTL
CALL PRINTLINE, "宝珠"
表示項目数 = 0
FOR LOCAL, 0, 23
	;go to denial gems at the end
	SIF LOCAL == 22
		LOCAL = 100
	;PALAM.CSVに名称が登録されていないとCONTINUE
	SIF !STRLENS(PALAMNAME:LOCAL)
		CONTINUE
	
	LOCALS '= PALAM_NUM(JUEL:ARG:LOCAL, 1)
	PRINTFORM 　%PALAM_TR(PALAMNAME:LOCAL)%

	LOCAL:1 = 29 - STRLENS(PALAM_TR(PALAMNAME:LOCAL)) - STRLENS(LOCALS)
	IF LOCAL:1 > 0
		SETCOLOR 0x606060
		PRINTFORM %"." * LOCAL:1%
		RESETCOLOR
	ENDIF
	PRINTFORM %LOCALS% 
	RESETCOLOR
	
	;改行or表示位置あけ
	SIF (++表示項目数) % 4 == 0 
		PRINTL 
NEXT


@PRINT_STATE_EX(ARG)
#DIM 表示项目数

SIF EX:ARG:Ｃ絶頂 + EX:ARG:Ｖ絶頂 + EX:ARG:Ａ絶頂 + EX:ARG:Ｂ絶頂 + EX:ARG:Ｍ絶頂 + EX:ARG:噴乳 + EX:ARG:射精 == 0
	RETURN 0
表示项目数 = 0
PRINTL
CALL PRINTLINE, "绝顶回数"
FOR LOCAL, 0, VARSIZE("EX")
	SIF !EX:ARG:LOCAL
		CONTINUE
	SIF !GROUPMATCH(EXNAME:LOCAL, "Ｃ絶頂", "Ｖ絶頂", "Ａ絶頂", "Ｂ絶頂", "Ｍ絶頂", "噴乳", "射精", "放尿")
		CONTINUE
	PRINTFORM %EX_TR(LOCAL),12%:{EX:ARG:LOCAL,5,LEFT} 
	表示项目数 ++
	SIF 表示项目数 % 4 == 0
		PRINTL
NEXT


@PRINT_STATE_PERSONAL(ARG)
#DIMS KARADAMEATE
PRINTL
CALL PRINTBUTTON_EX("个人情报",169,TFLAG:169, , , 1)
PRINTL  
IF !TFLAG:169
PRINTFORML 性格：%PERSONALITY_TYPE(ARG)%
	IF ARG == MASTER
		IF CFLAG:MASTER:睡眠
			PRINTFORML 昨日就寝时刻：%時刻表示(CFLAG:MASTER:就寝時間 - DAY * 1440)%
		ELSE
			PRINTFORML 昨日就寝时刻：%時刻表示(CFLAG:MASTER:就寝時間 + 1440 - DAY * 1440)%
		ENDIF
		PRINTFORML 起床时刻：%時刻表示(TIME:3)%
		IF FLAG:地主
			PRINTFORML 
			CALL SHOW_NOUMIN
		ENDIF
		IF TRAP_POINT:1 || TRAP_POINT:2 || TRAP_POINT:3
			PRINTL 
			PRINTFORML ◆陷阱的设置状况
			FOR LOCAL, 1, 4
				IF TRAP_POINT:LOCAL
					PRINTFORML 　陷阱{LOCAL}的设置场所：%猟場名(TRAP_POINT:LOCAL)%
					PRINTFORML 　　 　　设置日：%PRINT_DATE_F(TRAP_SETUPDATA:LOCAL)%
				ENDIF
			NEXT
		ENDIF
		IF MUSHI_TRAP
			PRINTFORML ◆昆虫诱捕装置的设置状况
			PRINTFORML 　 　　设置场所：%NAME_FROM_PLACE(GET_MUSHIDATA(MUSHI_TRAP, "場所"))%（%GET_MAPNAME(GET_MAPID(GET_MUSHIDATA(MUSHI_TRAP, "場所")))%）
		ENDIF
	ELSE
		PRINT 活动时间带:
		IF CFLAG:ARG:神社在住 || CFLAG:MASTER:現在位置 == OMANEKIBEYA()
			CALL 起床時間表示(ARG)
		ELSE
			CALL 滞在時間表示(ARG)
		ENDIF
		IF CFLAG:ARG:よく行く地域 >= 0
			PRINTFORML 常去区域：%GET_MAPNAME(CFLAG:ARG:よく行く地域)%
		ENDIF
		IF CFLAG:ARG:自宅位置 && !CFLAG:ARG:神社在住
			PRINTFORML 自宅位置：%GET_MAPNAME(GET_MAPID(CFLAG:ARG:自宅位置))% 【 %NAME_FROM_PLACE(CFLAG:ARG:自宅位置)% 】
		ELSEIF CFLAG:ARG:神社在住
			PRINTFORML 自宅位置：%GET_MAPNAME(GET_MAPID(CFLAG:ARG:神社在住))% 【 %NAME_FROM_PLACE(CFLAG:ARG:神社在住)% 】
		ELSE
			PRINTL 自宅位置：■■■■■ 【 ■■■■■ 】
		ENDIF
		PRINT 工作情报：
		PRINTFORML %CSTR:ARG:工作情報%
		PRINT 工作地点：
		IF TALENT:ARG:風俗嬢
			PRINTFORML 旧地狱温泉
		ELSEIF CSTR:ARG:2 != ""
			PRINTFORML %CSTR:ARG:2%
		ELSE
			PRINTFORML ？？？
		ENDIF
	ENDIF
ENDIF
PRINTL 　
IF ARG == RANDOM_CHARANUM
	;現状、複雑な種族分岐などは無しで
	CALL PRINTLINE, "角色介绍"
	PRINTL 
	PRINTFORML ～\@ TALENT:ARG:風俗嬢 ? # 路人 \@%CSTR:ARG:路人子種族%～　●能力：%CSTR:RANDOM_CHARANUM:路人子能力%
	PRINTFORML %CSTR:RANDOM_CHARANUM:路人子プロフィール１%
	PRINTFORML %CSTR:RANDOM_CHARANUM:路人子プロフィール２%
ELSEIF CSVCSTR(ARG, 10) != ""
	CALL PRINTLINE, "角色介绍"
	PRINTL 
	;角色介绍文を口上の展開によって改変したい場合「@CHARA_INFO_KOJO_KX」を使用する
	;口上の存在判定 and RESULTSに文字列代入
	CALL KOJO_ACTIVE_INFO(ARG)
	RESULT = 0
	TRYCALLFORM CHARA_INFO_KOJO%RESULTS%_K{ARG}
	IF !RESULT
		FOR LOCAL,10,20
			SIF CSVCSTR(ARG, LOCAL) != ""
				PRINTFORML %CSVCSTR(ARG, LOCAL,)%
		NEXT
	ENDIF
ENDIF
SETCOLOR C_YELLOW
IF ARG == MASTER && FLAG:甲斐性無
	PRINTFORML 笑死～是个不敢告白的杂鱼
	PRINTFORML 
ENDIF
SETCOLOR C_PINK
IF CFLAG:ARG:继承
	SIF GETBIT (CFLAG:ARG:继承, 0)
		PRINTFORML 和%CALLNAME:MASTER%的不可思议的缘分
	SIF GETBIT (CFLAG:ARG:继承, 1)
		PRINTFORML 和%CALLNAME:MASTER%的强烈的缘分
ENDIF
IF ARG == MASTER
	IF TALENT:ARG:恋人
		PRINT 与
		LOCAL:3 = 1
		FOR LOCAL:1 ,1 , CHARANUM
			IF TALENT:(LOCAL:1):恋人
				SIF !(LOCAL:3 % 15)
					PRINTL 
				LOCAL:3 ++
				PRINTFORM ［%CALLNAME:(LOCAL:1)%］
			ENDIF
		NEXT
		PRINTL 相恋
	ENDIF
ENDIF

IF CFLAG:ARG:允许无套 == 2
		SETCOLOR C_PINK
		PRINTFORML 是你的话…危险日无套Ｈ❤也OK哦
		RESETCOLOR
ELSEIF CFLAG:ARG:允许无套 == 1
		SETCOLOR C_AQUA
		PRINTFORML 如果你非要求的话…无套Ｈ❤也不是不行呢
		RESETCOLOR
ELSEIF GETBIT(CFLAG:ARG:既成事實,1)
		SETCOLOR C_YELLOW
		PRINTFORML 和你Ｈ也是可以的❤
		RESETCOLOR
ENDIF
	
SIF TALENT:ARG:風騷
	PRINTFORML 是个已经觉醒的喜欢搔首弄姿的人
SIF CFLAG:ARG:清い交際
	PRINTFORML 通过纯洁的交往和%CALLNAME:MASTER%成为了恋人。
SIF CFLAG:ARG:既成事實 & 合意_接吻
	PRINTFORML 愿意和%CALLNAME:MASTER%接吻
IF CFLAG:ARG:既成事實 & 合意_诶嘿嘿
	PRINTFORML 愿意和%CALLNAME:MASTER%进行性行为。
ELSEIF CFLAG:ARG:ヤラせちゃった
	PRINTFORML 虽因一时冲动与%CALLNAME:MASTER%发生了性关系、但并没有放开身心与%CALLNAME:MASTER%进行性行为的意愿。
ENDIF
SIF TALENT:ARG:処女 && TALENT:ARG:風騷
	PRINTFORML 虽然是处女、不过如果被人追求的话大概就会献身吧
IF CFLAG:ARG:体目当て
	IF TALENT:ARG:体型 == -2
		KARADAMEATE = 那稚嫩的
	ELSEIF TALENT:ARG:胸围 > 0
		KARADAMEATE = 那丰满的
	ELSEIF TALENT:ARG:処女 > 0
		KARADAMEATE = 那纯洁的
	ELSE
		KARADAMEATE = 那怜爱的
	ENDIF
	PRINTFORML %CALLNAME:MASTER%觊觎着%KARADAMEATE%的身体
ENDIF
RESETCOLOR
IF TALENT:ARG:恋慕
	IF TALENT:ARG:無知
		PRINTFORML %CALLNAME:ARG%暗自决定成为%CALLNAME:MASTER%的新娘
	ELSEIF !(CFLAG:ARG:既成事實 & 合意_诶嘿嘿)
		IF TALENT:ARG:貞操 > 0
			PRINTFORML 明明认为肉体上的关系很不检点、%CALLNAME:ARG%却在内心深处渴求着与%CALLNAME:MASTER%进行身体上的交流。
		ELSE
			PRINTFORML 因为%CALLNAME:MASTER%至今还没有碰触自己而感到焦虑不安
		ENDIF
	ENDIF
ENDIF
IF TALENT:ARG:妊娠願望
	IF !CFLAG:ARG:面識
		PRINTFORML 无论谁都好...想要孩子...
	ELSEIF CFLAG:ARG:允许无套 == 2
		PRINTFORML 幻想着有一天%CALLNAME:MASTER%能让自己怀孕
	ELSE
		PRINTFORML 虽然没有明确的意识到自己的心意、但还是感觉有点想要%CALLNAME:MASTER%的孩子
	ENDIF
ENDIF
CALL Valentine_History(ARG)
PRINTFORML 
CALL PRINTLINE, "弹幕技能"
PRINTL 
CALL DANMAKU_OPPONENT_STATUS(ARG, 1)

@滞在時間表示(ARG)

IF CFLAG:ARG:来訪時間 < CFLAG:ARG:帰宅時間
	PRINTFORML {CFLAG:ARG:来訪時間 / 60}时～{CFLAG:ARG:帰宅時間 / 60}时
ELSE
	PRINTFORML {CFLAG:ARG:来訪時間 / 60}时～翌 {CFLAG:ARG:帰宅時間 / 60}时
ENDIF

@起床時間表示(ARG)

IF CFLAG:ARG:起床時間 < CFLAG:ARG:就寝時間
	PRINTFORML {CFLAG:ARG:起床時間 / 60}时～{CFLAG:ARG:就寝時間 / 60}时
ELSE
	PRINTFORML {CFLAG:ARG:起床時間 / 60}时～翌 {CFLAG:ARG:就寝時間 / 60}时
ENDIF


@肉体情報(ARG)
;#DIM DADDY
;#DIM 自覚絶頂
#LOCALSIZE 2
#LOCALSSIZE 1
#DIM DYNAMIC AS_COLUMNS
#DIM EXPECTED_WIDTH
#DIM START_LINECOUNT
#DIMS DYNAMIC LEFT_COLUMN, 60
#DIMS DYNAMIC RIGHT_COLUMN, 60
; BBAS ALTER statusDisplay
IF ALTER_statusDisplay
	CALL PRINT_STATE_BODYGRAPH(ARG)
	RETURN
ENDIF

IF MAXWIDTH() > CHAR_PER_LINE 
	AS_COLUMNS = 1
	EXPECTED_WIDTH = MAXWIDTH() / 2
	START_LINECOUNT = LINECOUNT
    CALL 肉体情报表(ARG, EXPECTED_WIDTH-2)
    CALL HTML_READ_AS_COLUMN(LINECOUNT - START_LINECOUNT)
	ARRAYCOPY "RESULTS", "LEFT_COLUMN"
    CALL 肉体情报里(ARG, EXPECTED_WIDTH-2)
    CALL HTML_READ_AS_COLUMN(LINECOUNT - START_LINECOUNT)
    ARRAYCOPY "RESULTS", "RIGHT_COLUMN"

    FOR LOCAL, 0, VARSIZE("LEFT_COLUMN")
        SIF LEFT_COLUMN:LOCAL == "" && RIGHT_COLUMN:LOCAL == ""
            BREAK
        LOCAL:1 = STRLENS(HTML_TOPLAINTEXT(LEFT_COLUMN:LOCAL))
        HTML_PRINT @"<p align='left'>%LEFT_COLUMN:LOCAL%%" "*MAX((EXPECTED_WIDTH-LOCAL:1),0)%%RIGHT_COLUMN:LOCAL%</p>"
    NEXT
ELSE
	EXPECTED_WIDTH = MAXWIDTH()
    CALL 肉体情报表(ARG, EXPECTED_WIDTH)
    PRINTL
    CALL 肉体情报里(ARG, EXPECTED_WIDTH)
ENDIF

@肉体情报表(ARG, EXPECTED_WIDTH)
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM EXPECTED_WIDTH
CALL PRINTBUTTON_EX("肉体情报（表）",89999,0, , , 1, EXPECTED_WIDTH)
CALL 肉体情報_BODY,ARG
PRINTFORML
CALL 肉体情報_FINGER,ARG
PRINTFORML
CALL 肉体情報_B,ARG
PRINTFORML
CALL 肉体情報_C,ARG

@肉体情报里(ARG, EXPECTED_WIDTH)
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM EXPECTED_WIDTH
CALL PRINTBUTTON_EX("肉体情报（里）",89999,0, , , 1, EXPECTED_WIDTH)
CALL 肉体情報_HEART,ARG
PRINTFORML
CALL 肉体情報_M,ARG
PRINTFORML
CALL 肉体情報_A,ARG,EXPECTED_WIDTH
PRINTFORML
CALL 肉体情報_V,ARG,EXPECTED_WIDTH
SIF ARG == MASTER
	CALL ちん遍歴(ARG)

@ちん遍歴(ARG)
#DIM 暂定一位の相手
#DIM 暂定一位の量
#DIM 暂定一位の种类
SIF !GETBIT(TALENT:ARG:2, 1)
	RETURN
PRINTFORML ━━━【男根】━━━
SELECTCASE TALENT:ARG:形状
CASE 1
	LOCALS = 像儿童般可爱的
CASE 2
	LOCALS = 有点寒酸的
CASE 3
	LOCALS = 平淡无奇的
CASE 4
	LOCALS = 可以发光的
CASE 5
	LOCALS = 布满突起的
CASE 6
	LOCALS = 又粗又大的
CASE 10
	LOCALS = 像马一样的
ENDSELECT
PRINTFORM %CALLNAME:ARG%%LOCALS%肉棒
IF ARG != MASTER
	PRINTL
	RETURN
ENDIF
LOCAL:1 = SUMCARRAY(CFLAG:累計精飲,1, CHARANUM)
LOCAL:2 = SUMCARRAY(CFLAG:累計精浴,1, CHARANUM)
LOCAL:3 = SUMCARRAY(CFLAG:累計膣内精液,1, CHARANUM)
LOCAL:4 = SUMCARRAY(CFLAG:累計肛門精液,1, CHARANUM)
IF !TALENT:ARG:1
	PRINTFORML 至今还是崭新出厂的
ELSE
	SIF FLAG:享用処女
		PRINTFORML 到现在为止享用了{FLAG:享用処女}人的处女、
	PRINTFORML 在少女们的嘴里射过{LOCAL:1}、身体上射过{LOCAL:2}、小穴里射过{LOCAL:3}、肛门里射过{LOCAL:4}的精液
	;各射精シチュの最大值调查
	;→もっとも大量的、出したシチュの决定
	;→もっとも大量的、出した相手の决定
	LOCAL:1 = MAXCARRAY(CFLAG:LOCAL:累計精飲,1, CHARANUM)
	LOCAL:2 = MAXCARRAY(CFLAG:LOCAL:累計精浴,1, CHARANUM)
	LOCAL:3 = MAXCARRAY(CFLAG:LOCAL:累計膣内精液,1, CHARANUM)
	LOCAL:4 = MAXCARRAY(CFLAG:LOCAL:累計肛門精液,1, CHARANUM)
	暂定一位の量 = 0
	FOR LOCAL:0, 1, 5
		SIF 暂定一位の量 > LOCAL:(LOCAL:0)
			CONTINUE
		暂定一位の种类 = LOCAL:0
		暂定一位の量   = LOCAL:(LOCAL:0)
	NEXT
	SELECTCASE 暂定一位の种类
	CASE 1
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計精飲,LOCAL:1, 1, CHARANUM)
		LOCALS = 嘴里
	CASE 2
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計精浴,LOCAL:2, 1, CHARANUM)
		LOCALS = 身体
	CASE 3
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計膣内精液,LOCAL:3, 1, CHARANUM)
		LOCALS = 膣内
	CASE 4
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計肛門精液,LOCAL:4, 1, CHARANUM)
		LOCALS = 菊穴
	ENDSELECT
	SIF 暂定一位の量 > 0
	PRINTFORML 特别喜欢%CALLNAME:暂定一位の相手%的%LOCALS%
ENDIF
RESETCOLOR

PRINTL 【素质】
SETCOLOR C_PINK
SIF FLAG:路人孕ませ数
	PRINTFORML 已经让{FLAG:路人孕ませ数}个路人怀孕了呢
IF TALENT:MASTER:万能孕
	PRINTL 已经进化成无论是碳基生物还是硅基生物都能让她们怀孕的超越人类智慧的鸡鸡
ELSE
SIF TALENT:MASTER:讓巫女懷孕
	PRINTL 让巫女受孕的天杀的鸡鸡
SIF TALENT:MASTER:讓妖精懷孕
	PRINTL 让妖精受孕的犯罪的鸡鸡
SIF TALENT:MASTER:讓神霊懷孕
	PRINTL 让神灵受孕的大不敬鸡鸡
SIF TALENT:MASTER:讓付喪神懷孕
	PRINTL 让付丧神受孕的无节操鸡鸡
SIF TALENT:MASTER:讓鬼懷孕
	PRINTL 让鬼受孕的能震慑鬼的鸡鸡
SIF TALENT:MASTER:讓天狗懷孕
	PRINTL 让天狗受孕的神速鸡鸡
SIF TALENT:MASTER:讓蓬莱懷孕
	PRINTL 让蓬莱人受孕的超越时空的鸡鸡
SIF TALENT:MASTER:讓妖怪懷孕
	PRINTL 让妖怪受孕的胆大包天的鸡鸡
SIF TALENT:MASTER:禁断的知識
	PRINTL 让少女闻之胆寒的禁断的鸡鸡
SIF TALENT:MASTER:讓幽霊懷孕
	PRINTL 让幽灵受孕的灵体的鸡鸡
SIF TALENT:MASTER:讓人偶懷孕
	PRINTL 让人偶受孕的真爱的鸡鸡
ENDIF
RESETCOLOR
SETCOLOR C_YELLOW
IF TALENT:MASTER:魅力 && TALENT:MASTER:千客万来 && TALENT:MASTER:内裤走私者 && TALENT:MASTER:謎之魅力 && TALENT:MASTER:回復速度 == 1 && TALENT:MASTER:魅力 
	PRINTL 已经进化成拥有超高让少女沉醉其中魅力的欲罢不能的鸡鸡
ELSE
SIF TALENT:MASTER:魅力
	PRINTL 让少女沉迷其中的充满魅力的鸡鸡
SIF TALENT:MASTER:千客万来
	PRINTL 能让少女们不自觉的找你的宝藏的鸡鸡
SIF TALENT:MASTER:内裤走私者
	PRINTL 被少女搜身时能转移注意力的吸睛的鸡鸡
SIF TALENT:MASTER:謎之魅力
	PRINTL 让少女醉心于你的谜之魅力的鸡鸡
SIF TALENT:MASTER:回復速度 == 1
	PRINTL 只需恋人一个眼神就能准备OK的高速回复的鸡鸡
SIF TALENT:MASTER:魅力
	PRINTL 能把少女搞的神魂颠倒的充满魅力的鸡鸡
ENDIF
IF TALENT:MASTER:Ｃ鈍感無視 && TALENT:MASTER:Ｂ鈍感無視 && TALENT:MASTER:Ｖ鈍感無視 && TALENT:MASTER:Ａ鈍感無視 && TALENT:MASTER:魅惑
	PRINTL 已经进化成能让任何少女甘愿屈服的究极的鸡鸡
ELSE
SIF TALENT:MASTER:Ｃ鈍感無視
	PRINTL 能让任何少女忍不住自慰的强欲的鸡鸡
SIF TALENT:MASTER:Ｂ鈍感無視
	PRINTL 能让任何少女的奶子产生感觉的逗乳的鸡鸡
SIF TALENT:MASTER:Ｖ鈍感無視
	PRINTL 能让任何少女的蜜穴不断吮吸的专业的鸡鸡
SIF TALENT:MASTER:Ａ鈍感無視
	PRINTL 能让任何少女的后庭高潮连连的调教的鸡鸡
SIF TALENT:MASTER:魅惑
	PRINTL 能让任何少女沉溺于接吻的魔性的鸡鸡
ENDIF
RESETCOLOR
SETCOLOR C_AQUA
IF TALENT:MASTER:居場所察知 == 1 && TALENT:MASTER:集合 && TALENT:MASTER:汚部屋察知 && TALENT:MASTER:劣情察知 == 1
	PRINTL 已经进化成任何少女都无处躲藏的雷达鸡鸡
ELSE
SIF TALENT:MASTER:居場所察知 == 1
	PRINTL 能察觉到少女所处位置的探测的鸡鸡
SIF TALENT:MASTER:集合
	PRINTL 能在时间停止中卷走少女的集合的鸡鸡
SIF TALENT:MASTER:汚部屋察知
	PRINTL 能了解附近哪里能扫到内裤的寻宝的鸡鸡
SIF TALENT:MASTER:劣情察知 == 1
	PRINTL 可以帮你看穿欲求不满少女的如意的鸡鸡
ENDIF
IF TALENT:MASTER:熟悉擦弹 && TALENT:MASTER:霊力充填 && TALENT:MASTER:Extend && TALENT:MASTER:大角虫
	PRINTL 已经进化成利用弹幕战中擦弹来获得快感的无敌的鸡鸡
ELSE
SIF TALENT:MASTER:熟悉擦弹
	PRINTL 享受着弹幕从旁边飞过的回避的鸡鸡
SIF TALENT:MASTER:霊力充填
	PRINTL 从弹幕中擦弹享受快感的充能的鸡鸡
SIF TALENT:MASTER:Extend
	PRINTL 一般的弹幕根本拿他没办法的复生的鸡鸡
SIF TALENT:MASTER:大角虫
	PRINTL 危急时刻可以放出一发B的爆裂的鸡鸡
ENDIF
SIF TALENT:MASTER:左拥右抱
	PRINTL 连作者都没想到你能沉迷到这种地步的无话可说的鸡鸡
RESETCOLOR
SETCOLOR C_CREAM
SIF TALENT:MASTER:濃厚精液
	PRINTFORML 积攒了数日份精液的肉棒散发出令人窒息的雄性气味
SIF BASE:ARG:精力 >= 1500 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 沉甸甸的阴嚢里蓄积了大量的精子
SIF BASE:ARG:精力 >= 2000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 勤奋的睾丸还在不断生产大量的精子…给他颁个奖吧…
SIF BASE:ARG:精力 >= 3000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 话说这个精子的量？！怎么可能？！
SIF BASE:ARG:精力 >= 5000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 探测器显示这是个拥有53万精子力的男人…真可怕…
RESETCOLOR

@妊娠関連(ARG)
PRINTL
CALL PRINTLINE, "妊娠关联"
PRINTFORML %"上一次体内射精量",16% : {EX:ARG:14}
PRINTFORML %"妊娠后经过时间",16% : {CFLAG:ARG:903}
PRINTFORML %"现在育儿中儿童数",16% : {CFLAG:ARG:育児人数}
PRINTFORML %"现在育儿经过时间",16% : {CFLAG:ARG:908}
PRINTFORML %"孩子数量",16% : {CFLAG:ARG:兒童人数}
IF CFLAG:ARG:兒童人数
	CALL SHOW_CHILDDATA(ARG)
ENDIF

@予定
#DIM 委托编号

;custom code, this can get very long
CALL PRINTBUTTON_EX(@"日程表", 904, TFLAG_ScheduleHide, , , 1)
SIF TFLAG_ScheduleHide
	RETURN
PRINTL 
SELECTCASE FLAG:抱負
	CASE 1
		LOCALS = 自慰奖励
	CASE 2
		LOCALS = 同性爱推进
	CASE 3
		LOCALS = 牝穴开拓
	CASE 4
		LOCALS = 尻穴开发
	CASE 5
		LOCALS = 乳挟振兴
	CASE 6
		LOCALS = 子孙繁栄
	CASE 9
		LOCALS = 子孙繁栄
ENDSELECT
IF FLAG:抱負
	PRINTFORML 今年的抱负: %LOCALS%
	PRINTL
ENDIF
IF FLAG:宴会開催FLAG
	IF FLAG:開始日 - DAY <= 0
		PRINT 本日
	ELSEIF FLAG:開始日 - DAY == 1 ;custom code
		PRINTFORM 明日 
	ELSE
		PRINTFORM {FLAG:開始日 - DAY}日后
	ENDIF
	CALL 宴会予定表示
	PRINTL 
	PRINT 宴会规模：
		SELECTCASE FLAG:宴会規模
			CASE IS >= 5000
				PRINT 特大
			CASE IS >= 2500
				PRINT 大
			CASE IS >= 1500
				PRINT 中
			CASEELSE
				PRINT 小
		ENDSELECT

	SIF FLAG:36 > 0
		PRINTL 　雨天会中止
ENDIF
PRINTL
IF FLAG:借书返还期限 >= 2
	FOR LOCAL, 1, BookTitles + 1
		SIF ITEM:(100 + LOCAL)
			PRINTFORML 借来的书：%ITEMNAME_TR((100 + LOCAL))%
	NEXT
	;PRINTL 
	IF  FLAG:借书返还期限 == 2
		PRINTFORML 借书的归还日：本日
	ELSE
		PRINTFORML 借书的归还日：{FLAG:借书返还期限 - 2}日后
	ENDIF
	PRINTL
ENDIF

CALL SHOW_ALL_IRAI_SLOT

SELECTCASE CFLAG:MASTER:小槌
	CASE 4
		PRINT 用小槌将某部位变大
		IF CFLAG:MASTER:魔力回収 == 6
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 5
		PRINT 用小槌将一根东西成两根
		IF CFLAG:MASTER:魔力回収 == 6
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 6
		PRINT 被小槌变成小人
		IF CFLAG:MASTER:魔力回収 == 3
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 7
		PRINTL 被小槌从小人变回去了
ENDSELECT
SIF CFLAG:MASTER:小槌 && CFLAG:MASTER:魔力回収 < 6
	PRINTFORML 距离魔力回收还有{CFLAG:MASTER:魔力回収}日
SIF CFLAG:MASTER:小槌
	PRINTL 

PRINTFORML ☆%CALLNAME:39%☆----所在地: %NAME_FROM_PLACE(CFLAG:39:現在位置)% 来访:{CFLAG:39:来訪時間 / 60,2,RIGHT}～{CFLAG:39:帰宅時間 / 60,2,RIGHT}时 睡眠:{CFLAG:39:就寝時間 / 60,2,RIGHT}～{CFLAG:39:起床時間 / 60,2,RIGHT}时
CALL PRINTLINE, "危险日"
FOR LOCAL,1,CHARANUM
	IF ESTRUS_CYCLE(LOCAL) == 150 && (TALENT:LOCAL:妊娠 != 1&& CFLAG:LOCAL:妊娠経過日数 == 0&&CFLAG:LOCAL:出産経過日 == 0)
	SIF TALENT:LOCAL:思慕 == 1
		SETCOLOR C_PINK
	SIF TALENT:LOCAL:炮友 > 0
		SETCOLOR 0xFF6347
	SIF TALENT:LOCAL:恋慕
		SETCOLOR 255, 120, 200
	PRINTFORM %CALLNAME:LOCAL%.
	RESETCOLOR
	ENDIF
NEXT
PRINTL
CALL PRINTLINE, "□未收集胖次□----注: 亮粉色的是稀有胖次(恋慕限定)",,1
FOR LOCAL,1,CHARANUM - 1		;不含路人子
	IF !PANTS_ALREADY_COLLECTED(LOCAL) && EQUIP:LOCAL:下半身内衣２
	SIF TALENT:LOCAL:思慕 == 1
		SETCOLOR C_PINK
	SIF TALENT:LOCAL:炮友 > 0
		SETCOLOR 0xFF6347
	SIF TALENT:LOCAL:恋慕
		SETCOLOR 255, 120, 200
	PRINTFORM %CALLNAME:LOCAL%.
	RESETCOLOR
	ENDIF
NEXT
PRINTL


@胖次収集状況(ARG)
#LOCALSIZE 1
#LOCALSSIZE 1
;addition custom code
;CALL ADD_CUSTOM_UNDERWEAR_CHECK_CHARA(NO:ARG)
CALL PRINTLINE, "胖次收集状况"
;addition custom code, duplicated characters
IF FLAG:胖次収集状況タイプB == 0
	CALL DISPLAY_COLLECTION(NO:ARG)
	PRINTFORML 总数：{RESULT:0,4}枚　　类别：{RESULT:1,2}种　　重复：{RESULT:0 - RESULT:1,4}枚
ELSE
	CALL DISPLAY_COLLECTION_B(NO:ARG)
	PRINTFORML 总数：{RESULT:0,4}枚　　类别：{RESULT:1,2}/{RESULT:2}种　　重复：{RESULT:0 - RESULT:1,4}枚
ENDIF
;qol custom code
SIF FLAG:胖次収集状況タイプB
	SETCOLOR C_L_GREEN
PRINT 　
PRINTBUTTON "[显示未获得]", 9996
PRINTL
RESETCOLOR

@浮気把握状況(C_ID)
#DIM C_ID
#DIM LINE_BREAK
LINE_BREAK = 0
;prevents you from seeing your own knowledge of your relationships
SIF C_ID == MASTER
	RETURN
CALL PRINTBUTTON_EX(@"%CALLNAME:C_ID%掌握的%CALLNAME:MASTER%的肉体关系 （黄字是公认）", 168, TFLAG:168, , , 1)
IF !TFLAG:浮気歴表示
	PRINTFORML 
	FOR LOCAL,1,CHARANUM
		SIF LOCAL == C_ID
			CONTINUE
		IF GET_UWAKI_HISTORY(C_ID, LOCAL)
			SIF GET_UWAKI_HISTORY(C_ID, LOCAL) == 2
				SETCOLOR C_YELLOW
			SIF 0;LINEISEMPTY()
				PRINT 　
			PRINTFORMLC %CALLNAME:LOCAL%
			;LINE_BREAK ++
			SIF 0;LINE_BREAK % (PRINTCPERLINE() - 1) == 0
				PRINTL 
		ENDIF
		RESETCOLOR
	NEXT
	SIF 1;LINE_BREAK % (PRINTCPERLINE() - 1) != 0
		PRINTL 
ENDIF

@PRINT_STATE_PREFERENCE(ARG)
PRINTL
CALL PRINTLINE, "趣味嗜好"
PRINTL 喜好：
IF ARG
	CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "感性：好き"), "POSITIVE", ABL:ARG:親密 < 5)
ELSEIF IFPf
	CALL SHOW_TASTE(WPf, "POSITIVE")
ENDIF
PRINTFORML 
PRINTL 讨厌：
IF ARG
	CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "感性：嫌い"), "NEGATIVE", ABL:ARG:親密 < 5)
ELSEIF IFPf
	CALL SHOW_TASTE(WPf:1, "NEGATIVE")
ENDIF
DRAWLINE
PRINTL 喜欢的味道：
CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "料理：喜欢的味道"), "POSITIVE", ABL:ARG:親密 < 3)
PRINTL 讨厌的味道：
CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "料理：讨厌的味道"), "NEGATIVE", ABL:ARG:親密 < 3)
PRINTL 助手效果：
CALL DISH_TASTE_FROM_CHARA(ARG, "OUTPUT")
CALL SHOW_TASTE(RESULTS, "ASSIDATA")
IF ARG == MASTER && EX_DISH_NAME != ""
	PRINTFORML ＜%EX_DISH_NAME%＞
	CALL SHOW_TASTE(DISH_TASTE, "DISH_DATA")
ENDIF
IF CFLAG:ARG:喜欢的体位
	DRAWLINE
	SETCOLOR C_PINK
	PRINT 内心深处的渴求：
	SELECTCASE CFLAG:ARG:喜欢的体位
	CASE 1
		PRINTFORML 被%CALLNAME:MASTER%从正面压制着抽插蜜穴❤很容易就投降了
	CASE 2 
		PRINTFORML 让%CALLNAME:MASTER%从后面狠狠进攻蜜穴❤根本就忍耐不了嘛
	CASE 3 
		PRINTFORML 骑在%CALLNAME:MASTER%身上动❤能用蜜穴把他榨干兴奋到不行
	CASE 4 
		PRINTFORML 和%CALLNAME:MASTER%面对面做❤没有比这样更让蜜穴舒服的了
	CASE 5 
		PRINTFORML 背对着%CALLNAME:MASTER%做爱❤简直就像玩具一样被玩弄蜜穴
	CASE 6
		PRINTFORML 被%CALLNAME:MASTER%从正面压制着抽插菊穴❤很容易就投降了
	CASE 7 
		PRINTFORML 让%CALLNAME:MASTER%从后面狠狠进攻菊穴❤根本就忍耐不了嘛
	CASE 8 
		PRINTFORML 骑在%CALLNAME:MASTER%身上动❤能用菊穴把他榨干兴奋到不行
	CASE 9 
		PRINTFORML 和%CALLNAME:MASTER%面对面做❤没有比这样更让菊穴舒服的了
	CASE 10 
		PRINTFORML 背对着%CALLNAME:MASTER%做爱❤简直就像玩具一样被玩弄菊穴
	ENDSELECT
	PRINTL 　
	RESETCOLOR
ENDIF

@PRINT_STATE_GIFTDATA(ARG, 最大表示行数)
#DIM 最大表示行数
#DIM 表示开始
;qol custom code, replaced
CALL PRINT_STATE_GIFTDATA_TR(ARG, 最大表示行数)
RETURN

SIF !GIFT_GOT:ARG:1
	RETURN
;custom code, since there can be 100 gifts and bloat the fuck out
CALL PRINTBUTTON_EX(@"你送出的礼物", 900, TFLAG_GiftsHide, , , 1)
SIF TFLAG_GiftsHide
	RETURN

SIF !最大表示行数
	最大表示行数 = 100

FOR LOCAL, 0, 100
	;フラグ0番が100を兼ねているのでこの形に
	IF !GIFT_GOT:ARG:((LOCAL + 1) % 100)
		表示开始 = MAX(LOCAL + 1 - 最大表示行数, 1)
		BREAK
	ENDIF
NEXT

;将收藏置于最前
SIF CFLAG:ARG:获得的礼物
	CALL PRINT_GIFTDATA(CFLAG:ARG:获得的礼物, ARG, "角色の")
FOR LOCAL, 表示开始, 表示开始 + 最大表示行数 + 1
	SIF GIFT_GOT:ARG:LOCAL && GIFT_GOT:ARG:LOCAL != CFLAG:ARG:获得的礼物
		CALL PRINT_GIFTDATA(GIFT_GOT:ARG:LOCAL, ARG, "角色の")
NEXT

@Valentine_History(ARG)
IF CFLAG:ARG:バレンタイン
	PRINTFORML 在情人节给了我%Valentine_Chocolate(ARG)%\@ CFLAG:ARG:バレンタイン > 100? （已回礼）# \@
ENDIF

@Valentine_Chocolate(ARG)
#FUNCTIONS
SELECTCASE CFLAG:ARG:バレンタイン % 100
	CASE 1
		LOCALS = 黑雷神巧克力
	CASE 2
		LOCALS = 普通的巧克力
	CASE 3
		LOCALS = 高级巧克力
	CASE 4
		LOCALS = 手制巧克力
ENDSELECT
RETURNF LOCALS

@PERSONALITY_TYPE(ARG)
#FUNCTIONS
SELECTCASE CFLAG:ARG:性格傾向
	CASE 1
		RETURNF "弱势系"
	CASE 2
		RETURNF "强势系"
	CASE 3
		RETURNF "坦率系"
	CASE 4
		RETURNF "认真系"
	CASE 5
		RETURNF "其他"
ENDSELECT

@SHOW_CHILDDATA(C_ID, ARGS)
#DIM C_ID
#DIM DADDY

VARSET LOCAL
FOR LOCAL,1,MAXCHILD + 1
	SIF CHILDNAME:C_ID:LOCAL == ""
		CONTINUE
	IF ARGS == "ICON"
		IF CHILD_SEX:C_ID:LOCAL == 1
			SETCOLOR C_PINK
			PRINT ♀ 
		ELSE
			SETCOLOR C_BLUE
			PRINT ♂ 
		ENDIF
		RESETCOLOR
	ELSE
		DADDY = CHILD_DADDY:C_ID:LOCAL
		PRINTFORM 母：%CALLNAME:C_ID%　　父：%CALLNAME:DADDY%
		PRINTFORML
		PRINTFORM 第%TOKANJI(LOCAL)%\@ CHILD_SEX:C_ID:LOCAL == 1 ? 女 # 子 \@ %CHILDNAME:C_ID:LOCAL, 15, LEFT%-%NAME_FROM_PLACE(CHILD_AREA:C_ID:LOCAL)%-爱情度：{CHILD_LOVE:C_ID:LOCAL}　\@ CHILD_SEX:C_ID:LOCAL == 1 ? ♀ # ♂ \@  %PRINT_DATE_F(CHILD_BIRTHDAY:C_ID:LOCAL)%(第{CHILD_BIRTHDAY:C_ID:LOCAL}日)  出生于%CHILD_WEATHER_CN(CHILD_WEATHER:C_ID:LOCAL)%星期%GET_DAY_CN(CHILD_BIRTHDAY:C_ID:LOCAL)%　
		PRINTFORM %BL(31)%
		CALL Qol_Info_Child(C_ID, LOCAL)
	ENDIF
	LOCAL:1 ++
NEXT
SIF ARGS == "ICON"
PRINTL 
RETURN LOCAL:1
