
@PRINT_STATE_JUEL(ARG)
#DIM 表示项目数

PRINTL
CALL PRINTLINE,"宝珠"
表示项目数 = 0
FOR LOCAL, 0, 22
	;PALAM.CSVに名称が登录されていないとCONTINUE
	SIF !STRLENS(PALAMNAME:LOCAL)
		CONTINUE
	;1000,1000000,单位で区切る
	LOCALS = {JUEL:ARG:LOCAL}
	SIF JUEL:ARG:LOCAL > 1000000
		LOCALS = {JUEL:ARG:LOCAL / 1000}k
	SIF JUEL:ARG:LOCAL > 1000000000
		LOCALS = {JUEL:ARG:LOCAL / 1000000}m
	PRINTFORM %PALAM_TR(PALAMNAME:LOCAL),6%之珠:%LOCALS,7,LEFT%
	表示项目数 += 1
	;改行or表示位置あけ
	SIF 表示项目数 % 4 == 0
		PRINTL 
NEXT
;否定の珠
LOCALS = {JUEL:ARG:100}
SIF JUEL:ARG:100 > 1000000
	LOCALS = {JUEL:ARG:100 / 1000}k
PRINTFORM %PALAM_TR(PALAMNAME:100),6%之珠:%LOCALS,7,LEFT%

@QOL_PRINT_STATE_JUEL(ARG)
#DIM 表示項目数
PRINTL
CALL PRINTLINE, "宝珠"
表示項目数 = 0
FOR LOCAL, 0, 23
	;go to denial gems at the end
	SIF LOCAL == 22
		LOCAL = 100
	;PALAM.CSVに名称が登録されていないとCONTINUE
	SIF !STRLENS(PALAMNAME:LOCAL)
		CONTINUE
	
	LOCALS '= PALAM_NUM(JUEL:ARG:LOCAL, 1)
	PRINTFORM 　%PALAM_TR(PALAMNAME:LOCAL)%

	LOCAL:1 = 29 - STRLENS(PALAM_TR(PALAMNAME:LOCAL)) - STRLENS(LOCALS)
	IF LOCAL:1 > 0
		SETCOLOR 0x606060
		PRINTFORM %"." * LOCAL:1%
		RESETCOLOR
	ENDIF
	PRINTFORM %LOCALS% 
	RESETCOLOR
	
	;改行or表示位置あけ
	SIF (++表示項目数) % 4 == 0 
		PRINTL 
NEXT


@PRINT_STATE_EX(ARG)
#DIM 表示项目数

SIF EX:ARG:Ｃ絶頂 + EX:ARG:Ｖ絶頂 + EX:ARG:Ａ絶頂 + EX:ARG:Ｂ絶頂 + EX:ARG:Ｍ絶頂 + EX:ARG:噴乳 + EX:ARG:射精 == 0
	RETURN 0
表示项目数 = 0
PRINTL
CALL PRINTLINE, "绝顶回数"
FOR LOCAL, 0, VARSIZE("EX")
	SIF !EX:ARG:LOCAL
		CONTINUE
	SIF !GROUPMATCH(EXNAME:LOCAL, "Ｃ絶頂", "Ｖ絶頂", "Ａ絶頂", "Ｂ絶頂", "Ｍ絶頂", "噴乳", "射精", "放尿")
		CONTINUE
	PRINTFORM %EX_TR(LOCAL),12%:{EX:ARG:LOCAL,5,LEFT} 
	表示项目数 ++
	SIF 表示项目数 % 4 == 0
		PRINTL
NEXT


@PRINT_STATE_PERSONAL(ARG)
#DIMS KARADAMEATE
PRINTL
CALL PRINTBUTTON_EX("个人情报",169,TFLAG:169, , , 1)
PRINTL  
IF !TFLAG:169
PRINTFORML 性格：%PERSONALITY_TYPE(ARG)%
	IF ARG == MASTER
		IF CFLAG:MASTER:睡眠
			PRINTFORML 昨日就寝时刻：%時刻表示(CFLAG:MASTER:就寝時間 - DAY * 1440)%
		ELSE
			PRINTFORML 昨日就寝时刻：%時刻表示(CFLAG:MASTER:就寝時間 + 1440 - DAY * 1440)%
		ENDIF
		PRINTFORML 起床时刻：%時刻表示(TIME:3)%
		IF FLAG:地主
			PRINTFORML 
			CALL SHOW_NOUMIN
		ENDIF
		IF TRAP_POINT:1 || TRAP_POINT:2 || TRAP_POINT:3
			PRINTL 
			PRINTFORML ◆陷阱的设置状况
			FOR LOCAL, 1, 4
				IF TRAP_POINT:LOCAL
					PRINTFORML 　陷阱{LOCAL}的设置场所：%猟場名(TRAP_POINT:LOCAL)%
					PRINTFORML 　　 　　设置日：%PRINT_DATE_F(TRAP_SETUPDATA:LOCAL)%
				ENDIF
			NEXT
		ENDIF
		IF MUSHI_TRAP
			PRINTFORML ◆昆虫诱捕装置的设置状况
			PRINTFORML 　 　　设置场所：%NAME_FROM_PLACE(GET_MUSHIDATA(MUSHI_TRAP, "場所"))%（%STR_TR(GET_MUSHIDATA(MUSHI_TRAP, "場所") / 100 + 5000)%）
		ENDIF
	ELSE
		PRINT 活动时间带:
		IF CFLAG:ARG:神社在住 || CFLAG:MASTER:現在位置 == OMANEKIBEYA()
			CALL 起床時間表示(ARG)
		ELSE
			CALL 滞在時間表示(ARG)
		ENDIF
		IF CFLAG:ARG:經常去的地方 >= 0
			PRINTFORML 经常去的地方：%GET_MAPNAME(CFLAG:ARG:經常去的地方)%
		ENDIF
		IF CFLAG:ARG:自宅位置 >= 10 && !CFLAG:ARG:神社在住
			PRINT 自宅位置：
			LOCAL = CFLAG:ARG:自宅位置 / 100 + 5000
			PRINTFORM %STR_TR(LOCAL)% 
			LOCAL = CFLAG:ARG:自宅位置 / 10 + 6000
			PRINTFORML 【 %STR_TR(LOCAL)% 】
		ELSEIF CFLAG:ARG:神社在住
			PRINT 自宅位置：
			LOCAL = CFLAG:ARG:自宅位置 / 100 + 5000
			PRINTFORM %STR_TR(LOCAL)% 
			LOCAL = CFLAG:ARG:初期位置 + 8000
			PRINTFORML 【 %STR_TR(LOCAL)% 】
		ELSE
			PRINTL 自宅位置：■■■■■ 【 ■■■■■ 】
		ENDIF
		PRINT 工作情报：
		PRINTFORML %CSTR:ARG:工作情報%
		PRINT 工作地点：
		IF TALENT:ARG:風俗嬢
			PRINTFORML 旧地狱温泉
		ELSEIF CSTR:ARG:2 != ""
			PRINTFORML %CSTR:ARG:2%
		ELSE
			PRINTFORML ？？？
		ENDIF
	ENDIF
ENDIF
PRINTL 　
IF ARG == RANDOM_CHARANUM
	;現状、複雑な種族分岐などは無しで
	CALL PRINTLINE, "角色介绍"
	PRINTL 
	PRINTFORML ～\@ TALENT:ARG:風俗嬢 ? # 路人 \@%CSTR:ARG:路人子種族%～　●能力：%CSTR:RANDOM_CHARANUM:路人子能力%
	PRINTFORML %CSTR:RANDOM_CHARANUM:路人子プロフィール１%
	PRINTFORML %CSTR:RANDOM_CHARANUM:路人子プロフィール２%
ELSEIF CSVCSTR(ARG, 10) != ""
	CALL PRINTLINE, "角色介绍"
	PRINTL 
	;角色介绍文を口上の展開によって改変したい場合「@CHARA_INFO_KOJO_KX」を使用する
	;口上の存在判定 and RESULTSに文字列代入
	CALL KOJO_ACTIVE_INFO(ARG)
	RESULT = 0
	TRYCALLFORM CHARA_INFO_KOJO%RESULTS%_K{ARG}
	IF !RESULT
		FOR LOCAL,10,20
			SIF CSVCSTR(ARG, LOCAL) != ""
				PRINTFORML %CSVCSTR(ARG, LOCAL,)%
		NEXT
	ENDIF
ENDIF
SETCOLOR C_YELLOW
IF ARG == MASTER && FLAG:甲斐性無
	PRINTFORML 笑死～是个不敢告白的杂鱼
	PRINTFORML 
ENDIF
SETCOLOR C_PINK
IF CFLAG:ARG:继承
	SIF GETBIT (CFLAG:ARG:继承, 0)
		PRINTFORML 和%CALLNAME:MASTER%的不可思议的缘分
	SIF GETBIT (CFLAG:ARG:继承, 1)
		PRINTFORML 和%CALLNAME:MASTER%的强烈的缘分
ENDIF
IF ARG == MASTER
	IF TALENT:ARG:恋人
		PRINT 与
		LOCAL:3 = 1
		FOR LOCAL:1 ,1 , CHARANUM
			IF TALENT:(LOCAL:1):恋人
				SIF !(LOCAL:3 % 15)
					PRINTL 
				LOCAL:3 ++
				PRINTFORM ［%CALLNAME:(LOCAL:1)%］
			ENDIF
		NEXT
		PRINTL 相恋
	ENDIF
ENDIF

IF CFLAG:ARG:允许无套 == 2
		SETCOLOR C_PINK
		PRINTFORML 是你的话…危险日无套Ｈ❤也OK哦
		RESETCOLOR
ELSEIF CFLAG:ARG:允许无套 == 1
		SETCOLOR C_AQUA
		PRINTFORML 如果你非要求的话…无套Ｈ❤也不是不行呢
		RESETCOLOR
ELSEIF GETBIT(CFLAG:ARG:既成事實,1)
		SETCOLOR C_YELLOW
		PRINTFORML 和你Ｈ也是可以的❤
		RESETCOLOR
ENDIF
	
SIF TALENT:ARG:風騷
	PRINTFORML 是个已经觉醒的喜欢搔首弄姿的人
SIF CFLAG:ARG:清い交際
	PRINTFORML 通过纯洁的交往和%CALLNAME:MASTER%成为了恋人。
SIF CFLAG:ARG:既成事實 & 合意_接吻
	PRINTFORML 愿意和%CALLNAME:MASTER%接吻
IF CFLAG:ARG:既成事實 & 合意_诶嘿嘿
	PRINTFORML 愿意和%CALLNAME:MASTER%进行性行为。
ELSEIF CFLAG:ARG:ヤラせちゃった
	PRINTFORML 虽因一时冲动与%CALLNAME:MASTER%发生了性关系、但并没有放开身心与%CALLNAME:MASTER%进行性行为的意愿。
ENDIF
SIF TALENT:ARG:処女 && TALENT:ARG:風騷
	PRINTFORML 虽然是处女、不过如果被人追求的话大概就会献身吧
IF CFLAG:ARG:体目当て
	IF TALENT:ARG:体型 == -2
		KARADAMEATE = 那稚嫩的
	ELSEIF TALENT:ARG:胸圍 > 0
		KARADAMEATE = 那丰满的
	ELSEIF TALENT:ARG:処女 > 0
		KARADAMEATE = 那纯洁的
	ELSE
		KARADAMEATE = 那怜爱的
	ENDIF
	PRINTFORML %CALLNAME:MASTER%觊觎着%KARADAMEATE%的身体
ENDIF
RESETCOLOR
IF TALENT:ARG:恋慕
	IF TALENT:ARG:無知
		PRINTFORML %CALLNAME:ARG%暗自决定成为%CALLNAME:MASTER%的新娘
	ELSEIF !(CFLAG:ARG:既成事實 & 合意_诶嘿嘿)
		IF TALENT:ARG:貞操 > 0
			PRINTFORML 明明认为肉体上的关系很不检点、%CALLNAME:ARG%却在内心深处渴求着与%CALLNAME:MASTER%进行身体上的交流。
		ELSE
			PRINTFORML 因为%CALLNAME:MASTER%至今还没有碰触自己而感到焦虑不安
		ENDIF
	ENDIF
ENDIF
IF TALENT:ARG:妊娠願望
	IF !CFLAG:ARG:面識
		PRINTFORML 无论谁都好...想要孩子...
	ELSEIF CFLAG:ARG:允许无套 == 2
		PRINTFORML 幻想着有一天%CALLNAME:MASTER%能让自己怀孕
	ELSE
		PRINTFORML 虽然没有明确的意识到自己的心意、但还是感觉有点想要%CALLNAME:MASTER%的孩子
	ENDIF
ENDIF
CALL Valentine_History(ARG)
PRINTFORML 
CALL PRINTLINE, "弹幕技能"
PRINTL 
CALL DANMAKU_OPPONENT_STATUS(ARG, 1)

@滞在時間表示(ARG)

IF CFLAG:ARG:来訪時間 < CFLAG:ARG:帰宅時間
	PRINTFORML {CFLAG:ARG:来訪時間 / 60}时～{CFLAG:ARG:帰宅時間 / 60}时
ELSE
	PRINTFORML {CFLAG:ARG:来訪時間 / 60}时～翌 {CFLAG:ARG:帰宅時間 / 60}时
ENDIF

@起床時間表示(ARG)

IF CFLAG:ARG:起床時間 < CFLAG:ARG:就寝時間
	PRINTFORML {CFLAG:ARG:起床時間 / 60}时～{CFLAG:ARG:就寝時間 / 60}时
ELSE
	PRINTFORML {CFLAG:ARG:起床時間 / 60}时～翌 {CFLAG:ARG:就寝時間 / 60}时
ENDIF



@肉体情報(ARG)
;#DIM DADDY
;#DIM 自覚絶頂
#LOCALSIZE 2
#LOCALSSIZE 1
#DIM DYNAMIC AS_COLUMNS
#DIM EXPECTED_WIDTH
#DIM START_LINECOUNT
#DIMS DYNAMIC LEFT_COLUMN, 60
#DIMS DYNAMIC RIGHT_COLUMN, 60

;自覚絶頂 = EXP:ARG:絶頂経験 - EXP:ARG:無自覚絶頂経験

IF MAXWIDTH() > CHAR_PER_LINE 
	AS_COLUMNS = 1
	EXPECTED_WIDTH = MAXWIDTH() / 2
	START_LINECOUNT = LINECOUNT
    CALL 肉体情报表(ARG, EXPECTED_WIDTH-2)
    CALL HTML_READ_AS_COLUMN(LINECOUNT - START_LINECOUNT)
	ARRAYCOPY "RESULTS", "LEFT_COLUMN"
    CALL 肉体情报里(ARG, EXPECTED_WIDTH-2)
    CALL HTML_READ_AS_COLUMN(LINECOUNT - START_LINECOUNT)
    ARRAYCOPY "RESULTS", "RIGHT_COLUMN"

    FOR LOCAL, 0, VARSIZE("LEFT_COLUMN")
        SIF LEFT_COLUMN:LOCAL == "" && RIGHT_COLUMN:LOCAL == ""
            BREAK
        LOCAL:1 = STRLENS(HTML_TOPLAINTEXT(LEFT_COLUMN:LOCAL))
        HTML_PRINT @"<p align='left'>%LEFT_COLUMN:LOCAL%%" "*MAX((EXPECTED_WIDTH-LOCAL:1),0)%%RIGHT_COLUMN:LOCAL%</p>"
    NEXT
ELSE
	EXPECTED_WIDTH = MAXWIDTH()
    CALL 肉体情报表(ARG, EXPECTED_WIDTH)
    PRINTL
    CALL 肉体情报里(ARG, EXPECTED_WIDTH)
ENDIF
@肉体情报表(ARG, EXPECTED_WIDTH)
#LOCALSIZE 1
#LOCALSSIZE 1
#DIM EXPECTED_WIDTH
CALL PRINTBUTTON_EX("肉体情报（表）",-999,0, , , 1, EXPECTED_WIDTH)
;部位 -----------------------------------------------------------------------
PRINTFORML ━━━【身】━━━
;继承-----------------------------------------------------------------------
	SETCOLOR C_CREAM
SIF GETBIT (CFLAG:ARG:继承, 2)
	PRINTFORML %CALLNAME:MASTER%非常清楚怎样做能让其爱上自我安慰的滋味
;高级标签-----------------------------------------------------------------------
IF TALENT:ARG:弄濕難易
	PRINT 这副身体
	IF TALENT:ARG:弄濕難易 < 0
		PRINT 不太容易湿
	ELSEIF TALENT:ARG:弄濕難易> 0
		PRINT 非常容易湿
	ELSE 
		;PRINT 和平常人一样
	ENDIF
ENDIF
IF TALENT:ARG:漏尿癖
	PRINT  变得敏感的尿道只要高潮就会喷出尿来
ENDIF
RESETCOLOR
PRINTL
;经验-----------------------------------------------------------------------
SETCOLOR C_RED
SIF EXP:ARG:絶頂経験
	PRINTFORML 总共绝顶过{EXP:ARG:絶頂経験}次
	
SIF EXP:ARG:自慰経験
	PRINTFORML 自慰过{EXP:ARG:自慰経験}次
	
SIF EXP:ARG:道具使用経験
	PRINTFORML 使用过成人玩具{EXP:ARG:道具使用経験}次
	
SIF EXP:ARG:奉仕快楽経験
	PRINTFORML 侍奉快乐{EXP:ARG:奉仕快楽経験}次
	
SIF EXP:ARG:露出快楽経験
	PRINTFORML 露出快乐{EXP:ARG:露出快楽経験}次
	
SIF EXP:ARG:放尿経験
	PRINTFORML 漏过{EXP:ARG:放尿経験}次圣水
	
SIF CFLAG:ARG:累計精浴
	PRINTFORML 被浇上过{CFLAG:ARG:累計精浴}次精液　
	
SIF EXP:ARG:緊縛経験
	PRINTFORML 被捆绑过{EXP:ARG:緊縛経験}次
	
SIF EXP:ARG:出産経験
	PRINTFORML 生过{EXP:ARG:出産経験}次孩子

SIF EXP:ARG:異常経験
	PRINTFORML 遭遇过{EXP:ARG:異常経験}次异常事件
RESETCOLOR
;技巧-----------------------------------------------------------------------
;感度-----------------------------------------------------------------------
;履历-----------------------------------------------------------------------
SETCOLOR C_P_PURPLE
	SIF CFLAG:ARG:强行内射
		PRINTFORML 有被%CALLNAME:MASTER%强行中出过
	SIF CFLAG:ARG:睡眠姦 == 1
		PRINTFORML 被%CALLNAME:MASTER%在睡着时恶作剧的侵犯过
	SIF CFLAG:ARG:睡眠姦 == 2
		PRINTFORML 被%CALLNAME:MASTER%在睡着时侵犯过
	IF CFLAG:ARG:烂酔奸 == 2
		PRINTFORML 有被%CALLNAME:MASTER%趁醉侵犯过
	ELSEIF CFLAG:ARG:烂酔奸 == 1
		PRINTFORML 有被%CALLNAME:MASTER%趁醉侵犯过而且没有察觉
	ENDIF
RESETCOLOR
;中毒-----------------------------------------------------------------------
;填充-----------------------------------------------------------------------
SIF CFLAG:ARG:子宝補正
	PRINTFORML 怀孕补正{CFLAG:ARG:子宝補正}
;部位-----------------------------------------------------------------------
PRINTFORML
PRINTFORML ━━━【指】━━━
;继承-----------------------------------------------------------------------
;高级标签-----------------------------------------------------------------------
SETCOLOR C_CREAM
IF TALENT:ARG:靈活手指
	PRINTFORML 非同一般的灵活手指
ENDIF
RESETCOLOR
;经验-----------------------------------------------------------------------
SIF EXP:ARG:手淫経験
	PRINTFORML 手淫{EXP:ARG:手淫経験}次

;技巧-----------------------------------------------------------------------
SELECTCASE ABL:ARG:指
	CASE IS >= 6
		SETCOLOR C_RED
		PRINTL 【巅峰】手指究竟怎样用这种速度做出这般动作的…如今已经❤不重要了…
		RESETCOLOR
	CASE IS == 5
		SETCOLOR C_PINK
		PRINTL 【凶器】手指的灵活程度即便是幻想乡也很难找到更厉害的了
		RESETCOLOR
	CASE IS == 4
		SETCOLOR C_ORANGE
		PRINTL 【大师】指的技巧已经可以开班授徒了
		RESETCOLOR
	CASE IS == 3
		SETCOLOR C_YELLOW
		PRINTL 【达人】手指的使用技巧已经变得十分上道了
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【熟练】手指的使用开始熟练了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【生疏】接下来的路还长着呢
		RESETCOLOR
	CASE IS == 0
		PRINTL 【笨拙】手…不是这样弄的
ENDSELECT
IF ARG == MASTER
	IF ABL:ARG:指 >= 6
		SETCOLOR C_RED
		PRINTFORML 啊哒哒哒哒…喔哒！你已经…一库了…
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 5
		SETCOLOR C_PINK
		PRINTFORML 在灵巧手指的爱抚下转眼间就能令少女心荡神驰，加O鹰？我能打十个！
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 4
		SETCOLOR C_ORANGE
		PRINTFORML 路过这位姑娘…要不要来个很舒服的按摩呢～
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 3
		SETCOLOR C_YELLOW
		PRINTFORML 高超的指法能精准的刺激少女的各种穴位
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 2
		SETCOLOR C_GREEN
		PRINTFORML 学会用巧妙的指技来取悦少女了
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 1
		SETCOLOR C_AQUA
		PRINTFORML 嘛…就算是夸夸你吧
		RESETCOLOR
	ELSEIF ABL:ARG:指 == 0
		PRINTFORML 笨蛋！这样弄只会痛啊！
	ENDIF
ENDIF
;感度-----------------------------------------------------------------------
;履历-----------------------------------------------------------------------
;中毒-----------------------------------------------------------------------
;填充-----------------------------------------------------------------------
;部位-----------------------------------------------------------------------
PRINTFORML
PRINTFORML ━━━【胸】━━━
;继承-----------------------------------------------------------------------
SETCOLOR C_CREAM
SIF GETBIT (CFLAG:ARG:继承, 5)
	PRINTFORML %CALLNAME:MASTER%非常清楚该如何让其最有感觉
;高级标签-----------------------------------------------------------------------
IF TALENT:ARG:胸圍
	IF TALENT:ARG:胸圍 == 2
		PRINTFORML 能把人晃晕的爆乳
	ELSEIF TALENT:ARG:胸圍 == 1
		PRINTFORML 手掌抓不住的巨乳
	ELSEIF TALENT:ARG:胸圍 == 0
		PRINTFORML 普普通通的大小
	ELSEIF TALENT:ARG:胸圍 == -1
		PRINTFORML 有些可爱的贫乳
	ELSE  
		PRINTFORML ……绝壁
	ENDIF
ENDIF
IF TALENT:ARG:淫乳
	PRINT 被彻底调教过的
	IF TALENT:ARG:胸圍 < 0
		PRINT 胸
	ELSEIF TALENT:ARG:胸圍 > 0
		PRINT 巨乳
	ELSE  
		PRINT 乳房
	ENDIF
	PRINTFORML 稍微碰到、全身就会瘫软下来。自己都没发现，偶尔会无意识的揉搓起来
ENDIF

IF TALENT:ARG:母乳体質
	PRINTFORML \@ EXP:ARG:噴乳経験 >= 100 ? 满满甘甜的母乳只要稍微刺激就会喷射# 揉捏的话就会轻易渗出甘甜的母乳吧\@
ENDIF
	RESETCOLOR
;经验-----------------------------------------------------------------------
SIF EXP:ARG:噴乳経験
	PRINTFORML 喷过{EXP:ARG:噴乳経験}次乳汁
SIF EXP:ARG:乳交経験
	PRINTFORML 乳交{EXP:ARG:乳交経験}次
SIF EXP:ARG:Ｂ絶頂経験
	PRINTFORML 用胸部高潮过{EXP:ARG:Ｂ絶頂経験}次
;技巧-----------------------------------------------------------------------
SELECTCASE ABL:ARG:胸
	CASE IS >= 6
		SETCOLOR C_RED
		PRINTL 【巅峰】欧派赛高！
		RESETCOLOR
	CASE IS == 5
		SETCOLOR C_PINK
		PRINTL 【凶器】使用胸部的技巧即便是幻想乡也很难找到更厉害的了
		RESETCOLOR
	CASE IS == 4
		SETCOLOR C_ORANGE
		PRINTL 【大师】胸的榨精技巧已经可以开班授徒了
		RESETCOLOR
	CASE IS == 3
		SETCOLOR C_YELLOW
		PRINTL 【达人】胸部的使用技巧已经变得十分上道了
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【熟练】胸部的使用开始熟练了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【生疏】接下来的路还长着呢
		RESETCOLOR
	CASE IS == 0
		PRINTL 【笨拙】胸部？该…怎样做呢？
ENDSELECT
;感度-----------------------------------------------------------------------
SELECTCASE ABL:ARG:Ｂ感覚
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTL 【敏感度远超常人】任何时候只要掐住乳头，就会吐着舌头强烈高潮
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTL 【极度敏感】如今要是裸露着乳房，即便是微风吹过的刺激也能产生快感了
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTL 【感度拔群】就连走路时的衣服摩擦都会兴奋起来，时常能看到乳头挺立着
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTL 【十分敏感】发情时胸部会胀痛着刺激大脑，如果用力揉就会舒服的高潮
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【敏感】胸部已经可以产生明显的快感了，利用优秀的技巧，可以只靠胸部达到高潮
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【素质】只要有技巧的爱抚，乳头就会挺起，很有调教价值
		RESETCOLOR
	CASE IS == 0
		PRINTL 【未开发】没什么特别的感觉
ENDSELECT
;履历-----------------------------------------------------------------------
;中毒-----------------------------------------------------------------------
;填充-----------------------------------------------------------------------
;部位---------------------------------------------------------------------
IF TALENT:ARG:性別 == 1 || TALENT:ARG:性別 == 3
PRINTFORML
PRINTFORML ━━━【阴蒂】━━━　
;继承---------------------------------------------------------------------
;高级标签---------------------------------------------------------------------
;经验---------------------------------------------------------------------
SIF EXP:ARG:Ｃ絶頂経験
	PRINTFORML 阴蒂高潮过{EXP:ARG:Ｃ絶頂経験}次
;技巧---------------------------------------------------------------------
;感度---------------------------------------------------------------------
SELECTCASE ABL:ARG:Ｃ感覚
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTL 【敏感度远超常人】哪怕是在日常里都时刻充血挺立着，只需对着吹口气就能高潮
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTL 【极度敏感】如今可说这里已经变成完美的性器了，不经意触碰到都会吐着舌头强烈高潮
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTL 【感度拔群】就连走路也会有快感，烦恼着如何减少衣物的摩擦
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTL 【十分敏感】轻轻一捏就会舒服的高潮
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【敏感】阴蒂已经可以产生明显的快感了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【素质】只要爱抚小豆豆就会一颤一颤的，很有调教价值
		RESETCOLOR
	CASE IS == 0
		PRINTL 【未开发】即便被爱抚也没什么特别的感觉
ENDSELECT

;履历---------------------------------------------------------------------
ENDIF
;阴蒂分支未缩进的IF-ENDIF结束---------------------------------------------------------------------
@肉体情报里(ARG, EXPECTED_WIDTH)
#DIM DADDY
#LOCALSIZE 8
#LOCALSSIZE 2
#DIM EXPECTED_WIDTH
DADDY = CFLAG:ARG:誰の子
CALL PRINTBUTTON_EX("肉体情报（里）",-999,0, , , 1, EXPECTED_WIDTH)

SIF TALENT:ARG:容易自慰 || TALENT:ARG:自慰狂|| EXP:ARG:無自覚絶頂経験|| TALENT:ARG:反発抑制|| TALENT:ARG:合意誤認
;部位---------------------------------------------------------------------
	PRINTFORML ━━━【心】━━━
;继承---------------------------------------------------------------------
;高级标签---------------------------------------------------------------------
SETCOLOR C_CREAM
SIF TALENT:ARG:容易自慰
	PRINTFORML 天生拥有一个容易自慰的灵魂❤…
SIF TALENT:ARG:自慰狂
	PRINTFORML ❤无时无刻都在想着自我安慰❤…
RESETCOLOR

;经验---------------------------------------------------------------------
SIF EXP:ARG:無自覚絶頂経験
	PRINTFORML 在不知情的情况下绝顶过{EXP:ARG:無自覚絶頂経験}次
;技巧---------------------------------------------------------------------
;感度---------------------------------------------------------------------
;履历---------------------------------------------------------------------
;中毒---------------------------------------------------------------------
;填充---------------------------------------------------------------------
SETCOLOR C_P_PURPLE
SIF TALENT:ARG:反発抑制
	PRINTFORML 处于催眠状态中、无法对%CALLNAME:MASTER%的出格行为生气
SIF TALENT:ARG:合意誤認
	PRINTFORML 处于催眠状态中、认为自己和%CALLNAME:MASTER%是互诉终身的恋人
RESETCOLOR
;部位---------------------------------------------------------------------
PRINTFORML
PRINTFORML ━━━【口】━━━
;继承---------------------------------------------------------------------
SETCOLOR C_CREAM
SIF GETBIT (CFLAG:ARG:继承, 6)
	PRINTFORML %CALLNAME:MASTER%非常清楚该如何让其最有感觉
;高级标签---------------------------------------------------------------------
SIF TALENT:ARG:精愛味覚
	PRINTFORML 吼啦❤被精液彻底浸润过的身体❤已经…回不去了❤…
IF TALENT:ARG:舌頭靈活
	PRINTFORML 非同一般的灵活舌头
ENDIF
IF TALENT:ARG:猫舌
	PRINTFORML 是猫一般的带刺的舌头
ENDIF
IF TALENT:ARG:接吻魔
	PRINTFORML 开发完成的性感嘴唇❤
ENDIF
RESETCOLOR
;经验---------------------------------------------------------------------
SIF EXP:ARG:接吻経験
	PRINTFORML 接吻过{EXP:ARG:接吻経験}次
SIF EXP:ARG:口淫経験
	PRINTFORML 口淫过{EXP:ARG:口淫経験}次
SIF CFLAG:ARG:累計精飲
	PRINTFORML 喝过{CFLAG:ARG:累計精飲}ml精液
SIF EXP:ARG:Ｍ絶頂経験
	PRINTFORML 用嘴高潮过{EXP:ARG:Ｍ絶頂経験}次

;技巧---------------------------------------------------------------------
SELECTCASE ABL:ARG:舌
	CASE IS >= 6
		SETCOLOR C_RED
		PRINTFORML 【巅峰】会当凌绝顶❤就用这柔软的舌头让你绝顶吧
		RESETCOLOR
	CASE IS == 5
		SETCOLOR C_PINK
		PRINTFORML 【凶器】舌头的灵活程度即便是幻想乡也很难找到更厉害的了
		RESETCOLOR
	CASE IS == 4
		SETCOLOR C_ORANGE
		PRINTFORML 【大师】舌的技巧已经可以开班授徒了
		RESETCOLOR
	CASE IS == 3
		SETCOLOR C_YELLOW
		PRINTFORML 【达人】舌头的使用技巧已经变得十分上道了
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTFORML 【熟练】舌头的使用开始熟练了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTFORML 【生疏】接下来的路还长着呢
		RESETCOLOR
	CASE IS == 0
		PRINTFORML 【笨拙】还是笨拙的舌头呢
ENDSELECT

IF ARG == MASTER
	IF ABL:ARG:舌 >= 6
		SETCOLOR C_RED
		PRINTFORML 下次就用～尝试过 终身难忘来给自己做宣传吧
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 5
		SETCOLOR C_PINK
		PRINTFORML 只要想，就可以用卓越的舌技来俘获少女
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 4
		SETCOLOR C_ORANGE
		PRINTFORML 舌技大师击败了一个又一个发起挑战的少女
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 3
		SETCOLOR C_YELLOW
		PRINTFORML 能巧妙地使用舌头取悦少女
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 2
		SETCOLOR C_GREEN
		PRINTFORML 努力的话用舌头好像也可以满足少女了
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 1
		SETCOLOR C_AQUA
		PRINTFORML 去舔啊！不舔如何能攻下女孩子
		RESETCOLOR
	ELSEIF ABL:ARG:舌 == 0
		PRINTFORML 你这个水平 你怎么睡得着觉的
	ENDIF
ENDIF
;感度---------------------------------------------------------------------
SELECTCASE ABL:ARG:Ｍ感覚
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTL 【敏感度远超常人】日常都在不自觉的发痒，不管是接吻还是侍奉只要刺激到都会翻着白眼强烈高潮
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTL 【极度敏感】即便本身的设计并不是用来寻欢作乐的，但如今可说这里已经变成完美的性器官了
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTL 【感度拔群】就连日常咀嚼与吞咽也会产生快感，烦恼着如何正常生活
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTL 【十分敏感】经过开发，即便只用嘴也能舒服的高潮
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【敏感】口部已经可以产生明显的快感了，继续调教下去这里也能成为合格的性器。
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【素质】嘴唇很容易受到刺激，很有调教价值
		RESETCOLOR
	CASE IS == 0
		PRINTL 【未开发】即便被爱抚也没什么特别的感觉
ENDSELECT
;履历---------------------------------------------------------------------
PRINTFORM 初吻履历：
IF TALENT:ARG:無接吻経験 > 0
	CALL COLORMESSAGE(@"还保有初吻",C_YELLOW,1)
ELSEIF TALENT:ARG:無接吻経験 < 0
	CALL COLORMESSAGE(@"还保有初吻",C_YELLOW,1)
	PRINTFORM 虽然是这样认为的、但其实……
	CALL COLORMESSAGE(@"%CSTR:ARG:初吻喪失履歴%",C_PINK,1)
ELSEIF CFLAG:ARG:初吻喪失記念日
	IF STRFIND(CSTR:ARG:初吻喪失履歴, "￥ＢＲ") > 0
		LOCAL = RESULT
		SPLIT CSTR:ARG:初吻喪失履歴, "￥ＢＲ", LOCALS
		CALL COLORMESSAGE(@"%LOCALS:0%",C_PINK,1)
		PRINTFORM 虽然是这样认为的、但其实……
		CALL COLORMESSAGE(@"%LOCALS:1%",C_PINK,1)
		RESULT = LOCAL
		VARSET LOCALS
	ELSE
		CALL COLORMESSAGE(@"%CSTR:ARG:初吻喪失履歴%",C_PINK,1)
	ENDIF
ELSEIF ARG != MASTER
	CALL COLORMESSAGE(@"在和%CALLNAME:MASTER%相遇之前就失去了",C_AQUA,1)
ENDIF
;中毒---------------------------------------------------------------------
IF ABL:ARG:精液中毒 >= 16
	SETCOLOR C_RED
	PRINTFORML 如今只要喝下精液❤、身体就会立刻发情❤
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 >= 12
	SETCOLOR C_PINK
	PRINTFORML 呐…已经很久没有尝到那个味道了…你❤的❤味❤道❤
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 >= 8
	SETCOLOR C_ORANGE
	PRINTFORML 嗅嗅…你的…色色的味道很重哦❤都闻到了❤～
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 >= 4
	SETCOLOR C_YELLOW
	PRINTFORML 啊～已经按你说的都喝下去啦…真是的❤…
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 >= 2
	SETCOLOR C_GREEN
	PRINTFORML 吞下去什么的…办不到啦…
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 == 1
	SETCOLOR C_AQUA
	PRINTFORML 嘴吧里黏糊糊的感觉很恶心！
	RESETCOLOR
ELSEIF ABL:ARG:精液中毒 == 0
	PRINTFORML 精液这种东西怎么可能含进嘴里？！恶
ENDIF
;填充---------------------------------------------------------------------
;部位---------------------------------------------------------------------
PRINTFORML
PRINTFORML ━━━【肛】━━━
;继承---------------------------------------------------------------------
	SETCOLOR C_CREAM
SIF GETBIT (CFLAG:ARG:继承, 4)
	PRINTFORML 能打开肛门快感的开关已经被%CALLNAME:MASTER%知晓了
;高级标签---------------------------------------------------------------------
IF TALENT:ARG:尻穴狂
	PRINTFORML \@ EXP:ARG:肛射経験 >= 100 ? 菊穴只要被浓稠滚烫的精液射进去就会高潮# 已经无法想象菊花不被玩弄的日子了\@
ENDIF
	RESETCOLOR
;经验---------------------------------------------------------------------
SIF EXP:ARG:肛射経験
	PRINTFORML 后庭被射入过{EXP:ARG:肛射経験}次
SIF CFLAG:ARG:累計肛門精液
	PRINTFORML 现在为止被{CFLAG:ARG:累計肛門精液}ml精液注入了
SIF EXP:ARG:Ａ絶頂経験
	PRINTFORML 后庭高潮过{EXP:ARG:Ａ絶頂経験}次

;技巧---------------------------------------------------------------------
IF ARG
	SELECTCASE 插入不可(ARG)
		CASE 3
			PRINTFORML 无论如何也无法容纳%CALLNAME:MASTER%肉棒的尺寸
			LOCAL:6 ++
		CASE 2
			IF EXP:ARG:Ａ経験 < 50 && TALENT:MASTER:禁断的知識
				PRINTFORML 不稍微放松一些就没办法把%CALLNAME:MASTER%的肉棒放进来吧
				LOCAL:6 ++
			ELSEIF !TALENT:MASTER:禁断的知識
				PRINTFORML %CALLNAME:MASTER%的肉棒就这样插进去也太残酷了吧
				LOCAL:6 ++
			ENDIF
		CASE 1
			IF EXP:ARG:Ａ経験 < 50 && !TALENT:MASTER:禁断的知識
				PRINTFORML 不稍微放松一些就没办法把%CALLNAME:MASTER%的肉棒放进来吧
				LOCAL:6 ++
			ENDIF
		CASE -1
			IF ABL:ARG:肛門 < 2
				PRINTFORML 与%CALLNAME:MASTER%肉棒的尺寸有些不合
				LOCAL:6 ++
			ENDIF
		CASE -2
			IF ABL:ARG:肛門 < 3
				PRINTFORML 太大了即使插进去也不会感到舒服的样子…
				LOCAL:6 ++
			ENDIF
	ENDSELECT
	SELECTCASE ABL:ARG:肛門
			CASE IS >= 6
				SETCOLOR C_RED
				PRINTFORML 【极上名器】完全调适为%CALLNAME:MASTER%专用形态的菊穴肉襞一张一缩地蠢动着
				RESETCOLOR
			CASE IS == 5
				SETCOLOR C_PINK
				PRINTL 【名器】收缩力可以使手嗦里、吸力相当犀利
				RESETCOLOR
			CASE IS == 4
				SETCOLOR C_ORANGE
				PRINTL 【大师】使用后面的技巧可以算得上是独领风骚了
				RESETCOLOR
			CASE IS == 3
				SETCOLOR C_YELLOW
				PRINTL 【达人】变成了非常好用极为融洽的穴了
				RESETCOLOR
			CASE 2
				SETCOLOR C_GREEN
				PRINTL 【熟练】已经习惯被插入了
				RESETCOLOR
			CASE 1
				SETCOLOR C_AQUA
				PRINTL 【生疏】开始柔软并变得好使了
				RESETCOLOR
			CASE 0
				IF !CFLAG:ARG:尻穴処女喪失記念日
					PRINTL 【未开通】崭新出厂的新货
				ELSEIF EXP:ARG:Ａ経験 < 20
					PRINTL 【笨拙】还不太习惯被异物插入的样子
				ENDIF
	ENDSELECT
ENDIF
;感度---------------------------------------------------------------------
SELECTCASE ABL:ARG:Ａ感覚
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTL 【敏感度远超常人】日常都在不自觉的发痒，任何东西刺激到都会吐着舌头强烈高潮
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTL 【极度敏感】即便本身的设计并不是用来寻欢作乐的，但如今可说这里已经变成完美的性器官了
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTL 【感度拔群】就连日常排泄也会有快感，烦恼着如何清洁
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTL 【十分敏感】可以说这里是好用的第二个穴了，用力插进去就会舒服的高潮
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【敏感】后庭已经可以产生明显的快感了，继续调教下去这里也能成为合格的性器。
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【素质】只要爱抚周围就会一缩一缩的，很有调教价值
		RESETCOLOR
	CASE IS == 0
		PRINTL 【未开发】即便被爱抚也没什么特别的感觉
ENDSELECT
;履历---------------------------------------------------------------------
PRINTFORM 肛门处女丧失履历：
IF CSTR:ARG:尻穴処女喪失履歴 != ""
	CALL COLORMESSAGE(@"%BREAKENG(CSTR:ARG:尻穴処女喪失履歴,,,EXPECTED_WIDTH / 2 - 10,"")%",C_PINK,1)
ELSEIF !EXP:ARG:Ａ性交経験
	CALL COLORMESSAGE(@"还没有被使用过",C_YELLOW,1)
ELSE
ENDIF
;中毒---------------------------------------------------------------------
SELECTCASE ABL:ARG:肛射中毒
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTFORML 精子❤！精子❤！精子❤！%CALLNAME:MASTER%的精子❤～啊❤～%CALLNAME:MASTER%请灌满我吧❤～
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTFORML 呐～下次就用后面吧…嗯？因为…因为不用带套嘛…才不是想让你射进来…八嘎❤
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTFORML 为什么射进去后会微笑？哪…哪里笑了…哎呀❤讨厌❤
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTFORML 总是这样不听人说就射进来…嘛～因为很舒服所以原谅你…
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTFORML 射进去以后痒痒的…唔…没…没什么…
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTFORML 不会怀孕也不是射进来的理由啊…真是的…
		RESETCOLOR
	CASE IS == 0
		PRINTFORML 射进后面？你到底在想什么啊？
ENDSELECT
;填充---------------------------------------------------------------------
SETCOLOR C_CREAM
IF EX:ARG:肛門内精液 > 0
	PRINTFORML ❤精液量: {EX:ARG:肛門内精液,5,LEFT} 填充率: ({充填率(ARG, 2)})％❤
ENDIF
IF 充填率(ARG,2) >= 150
	PRINTFORML 超量的精液在肠壁收缩的压力下更浓了，特浓精液被肠壁直接吸收，身体接下来对精液的渴望只会愈发强烈吧
ELSEIF 充填率(ARG,2) >= 100
	PRINTFORML 直肠的所有容量完完全全的被精液填满，无数精子浸润了敏感的肠壁，在幸福和快感中来回切换
ELSEIF 充填率(ARG,2) >= 80
	PRINTFORML 直肠内翻涌着极多的精子，精子亲吻着敏感的肠壁，快感导致走路都发颤
ELSEIF 充填率(ARG,2) >= 60
	PRINTFORML 直肠内蠢动着大量的精子，横冲直撞的精子搞得肠壁发痒
ELSEIF 充填率(ARG,2) >= 40
	PRINTFORML 直肠内部被许多有活力的精子入侵着
ELSEIF 充填率(ARG,2) >= 20
	PRINTFORML 直肠内精子在左顾右盼地游来游去
ENDIF
RESETCOLOR
SETCOLOR C_P_PURPLE
SIF ABL:ARG:Ａ感覚 >= 5 && CFLAG:ARG:积攒度 > 300 && ARG
	PRINTFORML 后庭不自觉蠕动着，渴望被什么东西插进来
RESETCOLOR
;部位---------------------------------------------------------------------
IF TALENT:ARG:性別 == 1 || TALENT:ARG:性別 == 3
PRINTFORML
PRINTFORML ━━━【膣】━━━
;继承---------------------------------------------------------------------
SETCOLOR C_CREAM
SIF GETBIT (CFLAG:ARG:继承, 3)
PRINTFORML 最有感觉的地方%CALLNAME:MASTER%都非常清楚
;高级标签---------------------------------------------------------------------
IF TALENT:ARG:淫壺
	PRINTFORML \@ EXP:ARG:膣射経験 >= 100 ? 淫穴只要被浓稠滚烫的精液射进去就会高潮# 已经开发完成的淫穴❤\@
ENDIF
	RESETCOLOR
;经验---------------------------------------------------------------------
SIF EXP:ARG:膣射経験
	PRINTFORML 膣内被射入过{EXP:ARG:膣射経験}次
SIF CFLAG:ARG:累計膣内精液
	PRINTFORML 现在为止被{CFLAG:ARG:累計膣内精液}ml精液注入了
SIF EXP:ARG:Ｖ絶頂経験
	PRINTFORML 小穴高潮过{EXP:ARG:Ｖ絶頂経験}次
;技巧---------------------------------------------------------------------
IF ARG
	SELECTCASE 插入不可(ARG)
		CASE 3
			PRINTFORML 无论如何也无法容纳%CALLNAME:MASTER%肉棒的尺寸
			LOCAL:5 ++
		CASE 2
			IF EXP:ARG:Ｖ経験 < 50 && TALENT:MASTER:禁断的知識
				PRINTFORML 不稍微放松一些就没办法把%CALLNAME:MASTER%的肉棒放进来吧
				LOCAL:5 ++
			ELSEIF !TALENT:MASTER:禁断的知識
				PRINTFORML %CALLNAME:MASTER%的肉棒就这样插进去也太残酷了吧
				LOCAL:5 ++
			ENDIF
		CASE 1
			IF EXP:ARG:Ｖ経験 < 50 && !TALENT:MASTER:禁断的知識
				PRINTFORML 不稍微放松一些就没办法把%CALLNAME:MASTER%的肉棒放进来吧
				LOCAL:5 ++
			ENDIF
		CASE -1
			IF ABL:ARG:膣 < 2
				PRINTFORML 与%CALLNAME:MASTER%肉棒的尺寸有些不合
				LOCAL:5 ++
			ENDIF
		CASE -2
			IF ABL:ARG:膣 < 3
				PRINTFORML 太大了即使插进去也不会感到舒服的样子…
				LOCAL:5 ++
			ENDIF
	ENDSELECT
	IF !LOCAL:5
		SELECTCASE ABL:ARG:膣
			CASE IS >= 6
				SETCOLOR C_RED
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【极上名器】本人不知情的情况下、已经开发到极致的处女穴早已准备好随时取悦%CALLNAME:MASTER%
				ELSE
					PRINTFORML 【极上名器】肉襞中每一个褶皱都是为了更容易榨取%CALLNAME:MASTER%的精液而努力蠕动着
				ENDIF
				RESETCOLOR
			CASE IS == 5
				SETCOLOR C_PINK
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【名器】在本人不知情的情况下、已经变成了只是为取悦%CALLNAME:MASTER%的穴
				ELSE
					PRINTFORML 【名器】完全调适为%CALLNAME:MASTER%专用形态的膣腔肉壁一张一缩地蠢动着
				ENDIF
				RESETCOLOR
			CASE IS == 4
				SETCOLOR C_ORANGE
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【大师】在本人不知情的情况下、开发成能让%CALLNAME:MASTER%流连忘返的小穴
				ELSE
					PRINTFORML 【大师】开发后的膣腔肉壁吸力惊人、任何肉棒都抵抗不住榨精的程度
				ENDIF
				RESETCOLOR
			CASE IS == 3
				SETCOLOR C_YELLOW
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【达人】不知不觉间变为了能让%CALLNAME:MASTER%感到非常舒服的小穴
				ELSE
					PRINTFORML 【达人】变成了非常好使极为融洽的穴了
				ENDIF
				RESETCOLOR
			CASE 2
				SETCOLOR C_GREEN
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【熟练】是能让%CALLNAME:MASTER%兴奋不已的小穴了、但其本人还并不知晓
				ELSE
					PRINTFORML 【熟练】已经习惯了%CALLNAME:MASTER%的插入了
				ENDIF
				RESETCOLOR
			CASE 1
				SETCOLOR C_AQUA
				IF TALENT:ARG:処女 == -1
					PRINTFORML 【生疏】不知不觉间被%CALLNAME:MASTER%搞到感到柔软了、十分好用
				ELSE
					PRINTFORML 【生疏】开始柔软并变得好使了
				ENDIF
				RESETCOLOR
			CASE 0
				IF TALENT:ARG:処女 == 1
					PRINTL 【处女】不懂性的未使用过的阴道
				ELSEIF EXP:ARG:Ｖ経験 < 10
					PRINTL 【笨拙】开始懂得性、惶恐的接触着性知识的阴道用力的夹着
				ELSEIF EXP:ARG:Ｖ経験 < 20
					PRINTL 【笨拙】几乎没怎么用阴道里还很僵硬
				ENDIF
		ENDSELECT
	ENDIF
ENDIF
;感度---------------------------------------------------------------------
SELECTCASE ABL:ARG:Ｖ感覚
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTL 【敏感度远超常人】时时刻刻都在不自主的收缩，任何东西插入都会吐着舌头强烈高潮
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTL 【极度敏感】就连子宫也会配合着寻求快感了，插入进去的物体想拿出来都困难
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTL 【感度拔群】阴道内壁已经像G点一样敏感了，任何东西进去都会被强力的吮吸
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTL 【十分敏感】有东西插进去就会舒服的高潮，阴道收缩的力度已经非常厉害了
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTL 【敏感】内部已经可以产生明显的快感了，G点的位置也已经被完全摸清楚了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTL 【素质】收缩的很厉害，很有调教价值
		RESETCOLOR
	CASE IS == 0
		PRINTL 【未开发】还产生不了什么特别的感觉
ENDSELECT
;履历---------------------------------------------------------------------
IF TALENT:ARG:2 & 1
	PRINTFORM 处女丧失履历：
	IF CSTR:ARG:処女喪失履歴 != ""
		CALL COLORMESSAGE(@"%BREAKENG(CSTR:ARG:処女喪失履歴,,,EXPECTED_WIDTH / 2 - 10,"")%",C_PINK,1)
	ELSEIF !CSVTALENT(ARG, GETNUM(TALENT, "処女")) && TALENT:ARG:処女 == 1 && !TALENT:ARG:路人
		CALL COLORMESSAGE(@"世界线改变了、还没有被使用过",C_YELLOW,1)
	ELSEIF !CSVTALENT(ARG, GETNUM(TALENT, "処女")) && TALENT:ARG:処女 == 0
		CALL COLORMESSAGE(@"在和%CALLNAME:MASTER%相遇之前失去了",C_AQUA,1)
	ELSE
		IF TALENT:ARG:処女 == 1
			VARSET LOCALS
			SIF ABL:ARG:Ｖ感覚 >= 5
				LOCALS:0 = ，尽管如此、敏感到只要给予刺激就会轻易的陷入绝顶
			CALL COLORMESSAGE(@"还没被任何人进入%LOCALS:0%",C_YELLOW,1)
		ELSEIF TALENT:ARG:処女 == -1
			CALL COLORMESSAGE(@"没有意识到已经被夺走了处女",C_PINK,1)
		ENDIF
	ENDIF
ENDIF
;中毒---------------------------------------------------------------------
SELECTCASE ABL:ARG:膣射中毒
	CASE IS >= 16
		SETCOLOR C_RED
		PRINTFORML 精子❤！精子❤！精子❤！无时无刻都在渴求%CALLNAME:MASTER%的精子❤～啊❤让我怀孕吧%CALLNAME:MASTER%大人❤～
		RESETCOLOR
	CASE IS >= 12
		SETCOLOR C_PINK
		PRINTFORML 射进来❤射进来❤～把我灌得满满的❤～什么？会怀孕？事到如今不要管那种事情啦❤～
		RESETCOLOR
	CASE IS >= 8
		SETCOLOR C_ORANGE
		PRINTFORML 一被膣内射精就会有强烈的幸福感，失去了%CALLNAME:MASTER%的精子恐怕就无法活下去了吧
		RESETCOLOR
	CASE IS >= 4
		SETCOLOR C_YELLOW
		PRINTFORML 子宫内缺少%CALLNAME:MASTER%的精子就会主动渴求，无法想象没有%CALLNAME:MASTER%精子的日子了
		RESETCOLOR
	CASE IS == 2
		SETCOLOR C_GREEN
		PRINTFORML 一被膣内射精子宫就会躁动难耐，已经离不开%CALLNAME:MASTER%精子的灌溉了
		RESETCOLOR
	CASE IS == 1
		SETCOLOR C_AQUA
		PRINTFORML 膣内已经被%CALLNAME:MASTER%的精子完全污染、子宫也正逐步被浸染
		RESETCOLOR
	CASE IS == 0
		PRINTFORML 不行！为什么总是想射进来！不行！
ENDSELECT
;填充---------------------------------------------------------------------
SETCOLOR C_CREAM
IF EX:ARG:膣内精液 > 0
	PRINTFORML ❤精液量: {EX:ARG:膣内精液,5,LEFT} 填充率: ({充填率(ARG, 1)})％❤
ENDIF
;SIF CFLAG:ARG:累計膣内精液
;	PRINTFORML 现在为止{CFLAG:ARG:累計膣内精液}ml的精液被注入了
;SIF EXP:ARG:膣射経験
;	PRINTFORML 膣内被射入过{EXP:ARG:膣射経験}次
SETCOLOR C_P_PURPLE	
SIF ABL:ARG:Ｖ感覚 >= 5 && CFLAG:ARG:积攒度 > 300 && ARG
	PRINTFORML 自己的手指根本无法排解，现在想和%CALLNAME:MASTER%做想的不得了
ENDIF
RESETCOLOR
;阴道分支未缩进的IF-ENDIF结束---------------------------------------------------------------------
IF TALENT:ARG:性別 == 1 || TALENT:ARG:性別 == 3
	PRINTFORML
	PRINTFORML ━━━【子宫】━━━
		SETCOLOR C_CREAM
	IF TALENT:ARG:子宮口性感
		PRINTFORML 开发完成的柔软子宫口❤学会了吮吸肉棒
	ENDIF
		RESETCOLOR
	SIF EXP:ARG:子宮口開発経験
		PRINTFORML 子宫被开发过{EXP:ARG:子宮口開発経験}次

	IF NOTICE_CYCLE(ARG)
		IF CFLAG:ARG:生理周期 == 7 && 妊娠可否(ARG)
			SELECTCASE 充填率(ARG,1) 
				CASE IS >= 250
					SETCOLOR C_RED
					PRINTFORML 娇嫩的卵子正颤抖着被%CALLNAME:MASTER%的精子不断爱抚❤即将屈服
				CASE IS >= 200
					SETCOLOR C_PINK
					PRINTFORML 娇嫩的卵子正与%CALLNAME:MASTER%的大量精子共舞❤亲热贴贴
				CASE IS >= 150
					SETCOLOR C_ORANGE
					PRINTFORML 娇嫩的卵子正在接受着%CALLNAME:MASTER%精液深情的沐浴❤奋力抵抗
				CASE IS >= 100
					SETCOLOR C_YELLOW
					PRINTFORML 子宫被%CALLNAME:MASTER%的精液涨的满满的、许许多多的精子觊觎着娇嫩的卵子❤
				CASE IS >= 50
					SETCOLOR C_GREEN
					PRINTFORML %CALLNAME:MASTER%强壮的精子正在努力的向娇嫩的卵子游去
				CASE IS >= 20
					SETCOLOR C_AQUA
					PRINTFORML 大量的精子正奋力追逐着娇嫩的卵子
			ENDSELECT
		ELSE
			SELECTCASE 充填率(ARG,1) 
				CASE IS >= 250
					SETCOLOR C_RED
					PRINTFORML 子宫根本无法容纳如此多的精液，鼓胀着的大量精液在子宫中无处可去❤，在子宫高潮收缩的压力下进入输卵管直接侵犯卵巢
				CASE IS >= 200
					SETCOLOR C_PINK
					PRINTFORML 子宫的所有容量完完全全地被精液填满，无数精子浸润了敏感的子宫❤，在幸福和快感中来回切换
				CASE IS >= 150
					SETCOLOR C_ORANGE
					PRINTFORML 子宫内翻涌着极多的精子，精子亲吻着敏感的子宫❤，幸福感导致走路都发颤
				CASE IS >= 100
					SETCOLOR C_YELLOW
					PRINTFORML 蜜穴里满满的都是%CALLNAME:MASTER%的精液❤，大量的精子横冲直撞搞得子宫发痒
				CASE IS >= 50
					SETCOLOR C_GREEN
					PRINTFORML 穴内蠢动着大量的精子，子宫内部被许多有活力的精子入侵了
				CASE IS >= 20
					SETCOLOR C_AQUA
					PRINTFORML 精子在肉壶里有活力地游来游去
			ENDSELECT
		ENDIF
		RESETCOLOR
		;充填率和危险期分离
		IF (TALENT:ARG:150 || TALENT:ARG:151)
			IF !TALENT:ARG:初潮
				SETCOLOR C_P_PURPLE
				PRINTFORML 初潮还没有来，虽有卵子却未成熟
			ELSE
				SETCOLOR C_PINK
				PRINTFORML 尽管心智尚未成熟，但身体足够成熟、可以生育。
			ENDIF
		ENDIF
		IF ((CHECK_CHARA(ARG, "幽霊") || CHECK_CHARA(ARG, "人形") || CHECK_CHARA(ARG, "蓬莱人")) && !CFLAG:ARG:兒童人数) || TALENT:ARG:妊娠
			PRINTFORM 奇迹的是，她
			IF CHECK_CHARA(ARG, "幽霊")
				PRINTFORM 虚幻的
			ELSEIF CHECK_CHARA(ARG, "人形")
				PRINTFORM 人工的
			ELSEIF CHECK_CHARA(ARG, "蓬莱人")
				PRINTFORM 永恒不变的
			ENDIF
			PRINTFORML 子宫已经能够孕育生命。
		ENDIF
		IF 妊娠可否(ARG)
			SELECTCASE CFLAG:ARG:生理周期
				CASE 9
					SETCOLOR C_P_PURPLE
					PRINTFORML 卵子已经失去了活性，等待生理期排出体外 预计明日开启新的生理周期
				CASE 8
					SETCOLOR C_CREAM
					PRINTFORML 卵子随时间正逐渐失去活性
				CASE 7
					SETCOLOR C_RED
					PRINTFORML 危险日的输卵管里娇嫩的卵子正在等待着受精
				CASE 6
					SETCOLOR C_PINK
					PRINTFORML 排卵日 卵子即将排出 预计明日为危险日
				CASE 5
					SETCOLOR C_ORANGE
					PRINTFORML 新的卵子即将成熟 预计明日排卵日 预计危险日还有二天到来
				CASE 4
					SETCOLOR C_YELLOW
					PRINTFORML 新的卵子成长顺利 危险日预计还有三天到来
				CASE 3
					SETCOLOR C_GREEN
					PRINTFORML 新的卵子正在逐渐成长中 危险日预计还有四天到来
				CASE 2
					SETCOLOR C_AQUA
					PRINTFORML 新的卵子准备中 危险日预计还有五天到来
				CASE 1
					PRINTFORML 月经即将结束 准备产生新的卵子
				CASE 0
					PRINTFORML 新的生理周期开启 月经来潮中
			ENDSELECT
		ENDIF
		RESETCOLOR
	ENDIF
	IF ARG == MASTER && EX:ARG:子宮内精液
		PRINTFORML %CALLNAME:MASTER%子宫内的精液详情
		FOR LOCAL,1,CHARANUM
			SIF !CFLAG:ARG:(LOCAL + 2000)
				CONTINUE
			SIF CFLAG:ARG:(LOCAL + 2000) > 100
				SETCOLOR C_YELLOW
			PRINTFORMLC %CALLNAME:LOCAL%{CFLAG:ARG:(LOCAL + 2000)}
			RESETCOLOR
		NEXT
		PRINTFORML 
	ENDIF
	LOCAL = MAX(1,CFLAG:ARG:WithChildCount)
	IF TALENT:ARG:妊娠
		SETCOLOR C_RED
		IF CFLAG:ARG:妊娠経過日数 < 20
			PRINTFORML 生理期停了
		ELSEIF ARG == MASTER
			IF GROUPMATCH(TALENT:ARG:PREGNANCY_TYPE,2,3)
				PRINTFORML 在子宫内，接受了%CALLNAME:DADDY%精子的受精卵正在茁壮成长
			ELSE
				PRINTFORML 子宫内正孕育着%CALLNAME:DADDY%的孩子
			ENDIF
				;Custom code, date range for hyperpregnancy.
			IF CFLAG:ARG:妊娠経過日数 == PregnancyProgress:ARG:(LOCAL-1)
				PRINTFORML 现在妊娠{CFLAG:ARG:妊娠経過日数}日
			ELSE
				PRINTFORML 现在妊娠{PregnancyProgress:ARG:(LOCAL-1)}{CFLAG:ARG:妊娠経過日数}日
			ENDIF
			CALL LOOK_BELLY(ARG)
			SIF INRANGE(CFLAG:ARG:妊娠経過日数,20,29)
					PRINT 还没有肉眼可见的变化
			PRINTL
		ELSE
			PRINTFORML 子宫内正孕育着%CALLNAME:MASTER%的孩子
			PRINTFORML 现在妊娠{CFLAG:ARG:妊娠経過日数}日
			CALL LOOK_BELLY(ARG)
			SIF INRANGE(CFLAG:ARG:妊娠経過日数,20,29)
					PRINT 还没有肉眼可见的变化
			PRINTL
		ENDIF
	ELSEIF TALENT:ARG:NESTING
		PRINTFORML 正在培育受精卵
		IF TALENT:ARG:NESTING == PregnancyProgress:ARG:(LOCAL-1)
			PRINTFORML 现在是产卵后的第{TALENT:ARG:NESTING}天
		ELSE
			PRINTFORML 现在是产卵后的第{PregnancyProgress:ARG:(LOCAL-1)}天到第{TALENT:ARG:NESTING}天
		ENDIF
	ENDIF
	IF 充填率(ARG,3) >= 15 && !TALENT:ARG:妊娠
		CALL LOOK_BELLY(ARG)
		PRINTL
	ENDIF
	SETCOLOR C_CREAM
	IF EX:ARG:子宮内精液 > 0
		PRINTFORML ❤精液量: {(EX:ARG:子宮内精液),5,LEFT}填充率: ({充填率(ARG, 4)}％)❤
	ENDIF
	RESETCOLOR
	IF ARG == MASTER
		LOCAL = SUMCARRAY(CFLAG:LOCAL:累计射精,1, CHARANUM)
		IF LOCAL
			PRINTFORML ----------%CALLNAME:0%❤累计榨精-----{LOCAL}mL----------
		LOCAL:1 = MAXCARRAY(CFLAG:LOCAL:累计射精,	   1, CHARANUM)
		LOCAL:2 = FINDCHARA(CFLAG:LOCAL:累计射精,LOCAL:1, 1, CHARANUM)
			SETCOLOR C_V_PINK
			PRINTFORML %CALLNAME:(LOCAL:2),11,RIGHT%: 被榨精{LOCAL:1}mL, 被榨干{EXP:(LOCAL:2):被榨経験,3}次.
			RESETCOLOR
		ENDIF
		LOCAL:3 = 0
		FOR LOCAL,1,CHARANUM - 1
			SIF !CFLAG:LOCAL:累计射精
				CONTINUE
			SIF CFLAG:LOCAL:累计射精 > 10000
				SETCOLOR C_YELLOW
			PRINTFORM %CALLNAME:LOCAL,11,RIGHT%❤{CFLAG:LOCAL:累计射精,7,RIGHT}
			RESETCOLOR
			LOCAL:3 ++
			SIF LOCAL:3 % 5 == 0
				PRINTL 
		NEXT
	ENDIF
	PRINTL 
ENDIF


SIF ARG == MASTER
	CALL ちん遍歴(MASTER)

@ちん遍歴(ARG)
#DIM 暂定一位の相手
#DIM 暂定一位の量
#DIM 暂定一位の种类
SIF !GETBIT(TALENT:ARG:2, 1)
	RETURN
PRINTFORML ━━━【男根】━━━
SELECTCASE TALENT:ARG:形状
CASE 1
	LOCALS = 像儿童般可爱的
CASE 2
	LOCALS = 有点寒酸的
CASE 3
	LOCALS = 平淡无奇的
CASE 4
	LOCALS = 可以发光的
CASE 5
	LOCALS = 布满突起的
CASE 6
	LOCALS = 又粗又大的
CASE 10
	LOCALS = 像马一样的
ENDSELECT
PRINTFORM %CALLNAME:ARG%%LOCALS%肉棒
LOCAL:1 = SUMCARRAY(CFLAG:LOCAL:累計精飲,1, CHARANUM)
LOCAL:2 = SUMCARRAY(CFLAG:LOCAL:累計精浴,1, CHARANUM)
LOCAL:3 = SUMCARRAY(CFLAG:LOCAL:累計膣内精液,1, CHARANUM)
LOCAL:4 = SUMCARRAY(CFLAG:LOCAL:累計肛門精液,1, CHARANUM)
IF !TALENT:PLAYER:1
	PRINTFORML 至今还是崭新出厂的
ELSE
	SIF FLAG:享用処女
		PRINTFORML 到现在为止享用了{FLAG:享用処女}人的处女、
	PRINTFORML 在少女们的嘴里射过{LOCAL:1}、身体上射过{LOCAL:2}、小穴里射过{LOCAL:3}、肛门里射过{LOCAL:4}的精液
	;各射精シチュの最大值调查
	;→もっとも大量的、出したシチュの决定
	;→もっとも大量的、出した相手の决定
	LOCAL:1 = MAXCARRAY(CFLAG:LOCAL:累計精飲,1, CHARANUM)
	LOCAL:2 = MAXCARRAY(CFLAG:LOCAL:累計精浴,1, CHARANUM)
	LOCAL:3 = MAXCARRAY(CFLAG:LOCAL:累計膣内精液,1, CHARANUM)
	LOCAL:4 = MAXCARRAY(CFLAG:LOCAL:累計肛門精液,1, CHARANUM)
	暂定一位の量 = 0
	FOR LOCAL:0, 1, 5
		SIF 暂定一位の量 > LOCAL:(LOCAL:0)
			CONTINUE
		暂定一位の种类 = LOCAL:0
		暂定一位の量   = LOCAL:(LOCAL:0)
	NEXT
	SELECTCASE 暂定一位の种类
	CASE 1
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計精飲,LOCAL:1, 1, CHARANUM)
		LOCALS = 嘴里
	CASE 2
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計精浴,LOCAL:2, 1, CHARANUM)
		LOCALS = 身体
	CASE 3
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計膣内精液,LOCAL:3, 1, CHARANUM)
		LOCALS = 膣内
	CASE 4
		暂定一位の相手 = FINDCHARA(CFLAG:LOCAL:累計肛門精液,LOCAL:4, 1, CHARANUM)
		LOCALS = 菊穴
	ENDSELECT
	SIF 暂定一位の量 > 0
	PRINTFORML 特别喜欢%CALLNAME:暂定一位の相手%的%LOCALS%
ENDIF
RESETCOLOR

PRINTL 【素质】
SETCOLOR C_PINK
SIF FLAG:路人孕ませ数
	PRINTFORML 已经让{FLAG:路人孕ませ数}个路人怀孕了呢
IF TALENT:MASTER:万能孕
	PRINTL 已经进化成无论是碳基生物还是硅基生物都能让她们怀孕的超越人类智慧的鸡鸡
ELSE
SIF TALENT:MASTER:讓巫女懷孕
	PRINTL 让巫女受孕的天杀的鸡鸡
SIF TALENT:MASTER:讓妖精懷孕
	PRINTL 让妖精受孕的犯罪的鸡鸡
SIF TALENT:MASTER:讓神霊懷孕
	PRINTL 让神灵受孕的大不敬鸡鸡
SIF TALENT:MASTER:讓付喪神懷孕
	PRINTL 让付丧神受孕的无节操鸡鸡
SIF TALENT:MASTER:讓鬼懷孕
	PRINTL 让鬼受孕的能震慑鬼的鸡鸡
SIF TALENT:MASTER:讓天狗懷孕
	PRINTL 让天狗受孕的神速鸡鸡
SIF TALENT:MASTER:讓蓬莱懷孕
	PRINTL 让蓬莱人受孕的超越时空的鸡鸡
SIF TALENT:MASTER:讓妖怪懷孕
	PRINTL 让妖怪受孕的胆大包天的鸡鸡
SIF TALENT:MASTER:禁断的知識
	PRINTL 让少女闻之胆寒的禁断的鸡鸡
SIF TALENT:MASTER:讓幽霊懷孕
	PRINTL 让幽灵受孕的灵体的鸡鸡
SIF TALENT:MASTER:讓人偶懷孕
	PRINTL 让人偶受孕的真爱的鸡鸡
ENDIF
RESETCOLOR
SETCOLOR C_YELLOW
IF TALENT:MASTER:魅力 && TALENT:MASTER:千客万来 && TALENT:MASTER:内裤走私者 && TALENT:MASTER:謎之魅力 && TALENT:MASTER:回復速度 == 1 && TALENT:MASTER:魅力 
	PRINTL 已经进化成拥有超高让少女沉醉其中魅力的欲罢不能的鸡鸡
ELSE
SIF TALENT:MASTER:魅力
	PRINTL 让少女沉迷其中的充满魅力的鸡鸡
SIF TALENT:MASTER:千客万来
	PRINTL 能让少女们不自觉的找你的宝藏的鸡鸡
SIF TALENT:MASTER:内裤走私者
	PRINTL 被少女搜身时能转移注意力的吸睛的鸡鸡
SIF TALENT:MASTER:謎之魅力
	PRINTL 让少女醉心于你的谜之魅力的鸡鸡
SIF TALENT:MASTER:回復速度 == 1
	PRINTL 只需恋人一个眼神就能准备OK的高速回复的鸡鸡
SIF TALENT:MASTER:魅力
	PRINTL 能把少女搞的神魂颠倒的充满魅力的鸡鸡
ENDIF
IF TALENT:MASTER:Ｃ鈍感無視 && TALENT:MASTER:Ｂ鈍感無視 && TALENT:MASTER:Ｖ鈍感無視 && TALENT:MASTER:Ａ鈍感無視 && TALENT:MASTER:魅惑
	PRINTL 已经进化成能让任何少女甘愿屈服的究极的鸡鸡
ELSE
SIF TALENT:MASTER:Ｃ鈍感無視
	PRINTL 能让任何少女忍不住自慰的强欲的鸡鸡
SIF TALENT:MASTER:Ｂ鈍感無視
	PRINTL 能让任何少女的奶子产生感觉的逗乳的鸡鸡
SIF TALENT:MASTER:Ｖ鈍感無視
	PRINTL 能让任何少女的蜜穴不断吮吸的专业的鸡鸡
SIF TALENT:MASTER:Ａ鈍感無視
	PRINTL 能让任何少女的后庭高潮连连的调教的鸡鸡
SIF TALENT:MASTER:魅惑
	PRINTL 能让任何少女沉溺于接吻的魔性的鸡鸡
ENDIF
RESETCOLOR
SETCOLOR C_AQUA
IF TALENT:MASTER:居場所察知 == 1 && TALENT:MASTER:集合 && TALENT:MASTER:汚部屋察知 && TALENT:MASTER:劣情察知 == 1
	PRINTL 已经进化成任何少女都无处躲藏的雷达鸡鸡
ELSE
SIF TALENT:MASTER:居場所察知 == 1
	PRINTL 能察觉到少女所处位置的探测的鸡鸡
SIF TALENT:MASTER:集合
	PRINTL 能在时间停止中卷走少女的集合的鸡鸡
SIF TALENT:MASTER:汚部屋察知
	PRINTL 能了解附近哪里能扫到内裤的寻宝的鸡鸡
SIF TALENT:MASTER:劣情察知 == 1
	PRINTL 可以帮你看穿欲求不满少女的如意的鸡鸡
ENDIF
IF TALENT:MASTER:熟悉擦弹 && TALENT:MASTER:霊力充填 && TALENT:MASTER:Extend && TALENT:MASTER:大角虫
	PRINTL 已经进化成利用弹幕战中擦弹来获得快感的无敌的鸡鸡
ELSE
SIF TALENT:MASTER:熟悉擦弹
	PRINTL 享受着弹幕从旁边飞过的回避的鸡鸡
SIF TALENT:MASTER:霊力充填
	PRINTL 从弹幕中擦弹享受快感的充能的鸡鸡
SIF TALENT:MASTER:Extend
	PRINTL 一般的弹幕根本拿他没办法的复生的鸡鸡
SIF TALENT:MASTER:大角虫
	PRINTL 危急时刻可以放出一发B的爆裂的鸡鸡
ENDIF
SIF TALENT:MASTER:左拥右抱
	PRINTL 连作者都没想到你能沉迷到这种地步的无话可说的鸡鸡
RESETCOLOR
SETCOLOR C_CREAM
SIF TALENT:MASTER:濃厚精液
	PRINTFORML 积攒了数日份精液的肉棒散发出令人窒息的雄性气味
SIF BASE:ARG:精力 >= 1500 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 沉甸甸的阴嚢里蓄积了大量的精子
SIF BASE:ARG:精力 >= 2000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 勤奋的睾丸还在不断生产大量的精子…给他颁个奖吧…
SIF BASE:ARG:精力 >= 3000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 话说这个精子的量？！怎么可能？！
SIF BASE:ARG:精力 >= 5000 && !GETBIT(TALENT:ARG:性別,0)
	PRINTFORML 探测器显示这是个拥有53万精子力的男人…真可怕…
RESETCOLOR

@妊娠関連(ARG)
PRINTL
CALL PRINTLINE, "妊娠关联"
PRINTFORML %"上一次体内射精量",16% : {EX:ARG:14}
PRINTFORML %"妊娠后经过时间",16% : {CFLAG:ARG:903}
PRINTFORML %"现在育儿中儿童数",16% : {CFLAG:ARG:育児人数}
PRINTFORML %"现在育儿经过时间",16% : {CFLAG:ARG:908}
PRINTFORML %"孩子数量",16% : {CFLAG:ARG:兒童人数}
IF CFLAG:ARG:兒童人数
	CALL SHOW_CHILDDATA(ARG)
ENDIF

@予定
#DIM 委托编号

;custom code, this can get very long
CALL PRINTBUTTON_EX(@"日程表", 904, TFLAG_ScheduleHide, , , 1)
SIF TFLAG_ScheduleHide
	RETURN
PRINTL 
SELECTCASE FLAG:抱負
	CASE 1
		LOCALS = 自慰奖励
	CASE 2
		LOCALS = 同性爱推进
	CASE 3
		LOCALS = 牝穴开拓
	CASE 4
		LOCALS = 尻穴开发
	CASE 5
		LOCALS = 乳挟振兴
	CASE 6
		LOCALS = 子孙繁栄
	CASE 9
		LOCALS = 子孙繁栄
ENDSELECT
IF FLAG:抱負
	PRINTFORML 今年的抱负: %LOCALS%
	PRINTL
ENDIF
IF FLAG:宴会開催FLAG
	IF FLAG:開始日 - DAY <= 0
		PRINT 本日
	ELSEIF FLAG:開始日 - DAY == 1 ;custom code
		PRINTFORM 明日 
	ELSE
		PRINTFORM {FLAG:開始日 - DAY}日后
	ENDIF
	CALL 宴会予定表示
	PRINTL 
	PRINT 宴会规模：
		SELECTCASE FLAG:宴会規模
			CASE IS >= 5000
				PRINT 特大
			CASE IS >= 2500
				PRINT 大
			CASE IS >= 1500
				PRINT 中
			CASEELSE
				PRINT 小
		ENDSELECT

	SIF FLAG:36 > 0
		PRINTL 　雨天会中止
ENDIF
PRINTL
IF FLAG:借书返还期限 >= 2
	FOR LOCAL, 1, BookTitles + 1
		SIF ITEM:(100 + LOCAL)
			PRINTFORML 借来的书：%ITEMNAME_TR((100 + LOCAL))%
	NEXT
	;PRINTL 
	IF  FLAG:借书返还期限 == 2
		PRINTFORML 借书的归还日：本日
	ELSE
		PRINTFORML 借书的归还日：{FLAG:借书返还期限 - 2}日后
	ENDIF
	PRINTL
ENDIF

CALL SHOW_ALL_IRAI_SLOT

SELECTCASE CFLAG:MASTER:小槌
	CASE 4
		PRINT 用小槌将某部位变大
		IF CFLAG:MASTER:魔力回収 == 6
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 5
		PRINT 用小槌将一根东西成两根
		IF CFLAG:MASTER:魔力回収 == 6
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 6
		PRINT 被小槌变成小人
		IF CFLAG:MASTER:魔力回収 == 3
			PRINTL 中
		ELSE
			PRINTL 了
		ENDIF
	CASE 7
		PRINTL 被小槌从小人变回去了
ENDSELECT
SIF CFLAG:MASTER:小槌 && CFLAG:MASTER:魔力回収 < 6
	PRINTFORML 距离魔力回收还有{CFLAG:MASTER:魔力回収}日
SIF CFLAG:MASTER:小槌
	PRINTL 

PRINTFORML ☆%CALLNAME:39%☆----所在地: %NAME_FROM_PLACE(CFLAG:39:現在位置)% 来访:{CFLAG:39:来訪時間 / 60,2,RIGHT}～{CFLAG:39:帰宅時間 / 60,2,RIGHT}时 睡眠:{CFLAG:39:就寝時間 / 60,2,RIGHT}～{CFLAG:39:起床時間 / 60,2,RIGHT}时
CALL PRINTLINE, "危险日"
FOR LOCAL,1,CHARANUM
	IF ESTRUS_CYCLE(LOCAL) == 150 && (TALENT:LOCAL:妊娠 != 1&& CFLAG:LOCAL:妊娠経過日数 == 0&&CFLAG:LOCAL:出産経過日 == 0)
	SIF TALENT:LOCAL:思慕 == 1
		SETCOLOR C_PINK
	SIF TALENT:LOCAL:炮友 > 0
		SETCOLOR 0xFF6347
	SIF TALENT:LOCAL:恋慕
		SETCOLOR 255, 120, 200
	PRINTFORM %CALLNAME:LOCAL%.
	RESETCOLOR
	ENDIF
NEXT
PRINTL
CALL PRINTLINE, "□未收集胖次□----注: 亮粉色的是稀有胖次(恋慕限定)",,1
FOR LOCAL,1,CHARANUM - 1		;不含路人子
	IF !PANTS_ALREADY_COLLECTED(LOCAL) && EQUIP:LOCAL:下半身内衣２
	SIF TALENT:LOCAL:思慕 == 1
		SETCOLOR C_PINK
	SIF TALENT:LOCAL:炮友 > 0
		SETCOLOR 0xFF6347
	SIF TALENT:LOCAL:恋慕
		SETCOLOR 255, 120, 200
	PRINTFORM %CALLNAME:LOCAL%.
	RESETCOLOR
	ENDIF
NEXT
PRINTL


@胖次収集状況(ARG)
#LOCALSIZE 1
#LOCALSSIZE 1
;addition custom code
;CALL ADD_CUSTOM_UNDERWEAR_CHECK_CHARA(NO:ARG)
CALL PRINTLINE, "胖次收集状况"
;addition custom code, duplicated characters
IF FLAG:胖次収集状況タイプB == 0
	CALL DISPLAY_COLLECTION(NO:ARG)
	PRINTFORML 总数：{RESULT:0,4}枚　　类别：{RESULT:1,2}种　　重复：{RESULT:0 - RESULT:1,4}枚
ELSE
	CALL DISPLAY_COLLECTION_B(NO:ARG)
	PRINTFORML 总数：{RESULT:0,4}枚　　类别：{RESULT:1,2}/{RESULT:2}种　　重复：{RESULT:0 - RESULT:1,4}枚
ENDIF
;qol custom code
SIF FLAG:胖次収集状況タイプB
	SETCOLOR C_L_GREEN
PRINT 　
PRINTBUTTON "[显示未获得]", 9996
PRINTL
RESETCOLOR

@浮気把握状況(C_ID)
#DIM C_ID
#DIM LINE_BREAK
LINE_BREAK = 0
;prevents you from seeing your own knowledge of your relationships
SIF C_ID == MASTER
	RETURN
CALL PRINTBUTTON_EX(@"%CALLNAME:C_ID%掌握的%CALLNAME:MASTER%的肉体关系 （黄字是公认）", 168, TFLAG:168, , , 1)
IF !TFLAG:浮気歴表示
	PRINTFORML 
	FOR LOCAL,1,CHARANUM
		SIF LOCAL == C_ID
			CONTINUE
		IF GET_UWAKI_HISTORY(C_ID, LOCAL)
			SIF GET_UWAKI_HISTORY(C_ID, LOCAL) == 2
				SETCOLOR C_YELLOW
			SIF 0;LINEISEMPTY()
				PRINT 　
			PRINTFORMLC %CALLNAME:LOCAL%
			;LINE_BREAK ++
			SIF 0;LINE_BREAK % (PRINTCPERLINE() - 1) == 0
				PRINTL 
		ENDIF
		RESETCOLOR
	NEXT
	SIF 1;LINE_BREAK % (PRINTCPERLINE() - 1) != 0
		PRINTL 
ENDIF

@PRINT_STATE_PREFERENCE(ARG)
PRINTL
CALL PRINTLINE, "趣味嗜好"
PRINTL 喜好：
IF ARG
	CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "感性：好き"), "POSITIVE", ABL:ARG:親密 < 5)
ELSEIF IFPf
	CALL SHOW_TASTE(WPf, "POSITIVE")
ENDIF
PRINTFORML 
PRINTL 讨厌：
IF ARG
	CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "感性：嫌い"), "NEGATIVE", ABL:ARG:親密 < 5)
ELSEIF IFPf
	CALL SHOW_TASTE(WPf:1, "NEGATIVE")
ENDIF
DRAWLINE
PRINTL 喜欢的味道：
CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "料理：喜欢的味道"), "POSITIVE", ABL:ARG:親密 < 3)
PRINTL 讨厌的味道：
CALL SHOW_TASTE(GET_STR(, "キャラデータ", ARG, "料理：讨厌的味道"), "NEGATIVE", ABL:ARG:親密 < 3)
PRINTL 助手效果：
CALL DISH_TASTE_FROM_CHARA(ARG, "OUTPUT")
CALL SHOW_TASTE(RESULTS, "ASSIDATA")
IF ARG == MASTER && EX_DISH_NAME != ""
	PRINTFORML ＜%EX_DISH_NAME%＞
	CALL SHOW_TASTE(DISH_TASTE, "DISH_DATA")
ENDIF
IF CFLAG:ARG:喜欢的体位
	DRAWLINE
	SETCOLOR C_PINK
	PRINT 内心深处的渴求：
	SELECTCASE CFLAG:ARG:喜欢的体位
	CASE 1
		PRINTFORML 被%CALLNAME:MASTER%从正面压制着抽插蜜穴❤很容易就投降了
	CASE 2 
		PRINTFORML 让%CALLNAME:MASTER%从后面狠狠进攻蜜穴❤根本就忍耐不了嘛
	CASE 3 
		PRINTFORML 骑在%CALLNAME:MASTER%身上动❤能用蜜穴把他榨干兴奋到不行
	CASE 4 
		PRINTFORML 和%CALLNAME:MASTER%面对面做❤没有比这样更让蜜穴舒服的了
	CASE 5 
		PRINTFORML 背对着%CALLNAME:MASTER%做爱❤简直就像玩具一样被玩弄蜜穴
	CASE 6
		PRINTFORML 被%CALLNAME:MASTER%从正面压制着抽插菊穴❤很容易就投降了
	CASE 7 
		PRINTFORML 让%CALLNAME:MASTER%从后面狠狠进攻菊穴❤根本就忍耐不了嘛
	CASE 8 
		PRINTFORML 骑在%CALLNAME:MASTER%身上动❤能用菊穴把他榨干兴奋到不行
	CASE 9 
		PRINTFORML 和%CALLNAME:MASTER%面对面做❤没有比这样更让菊穴舒服的了
	CASE 10 
		PRINTFORML 背对着%CALLNAME:MASTER%做爱❤简直就像玩具一样被玩弄菊穴
	ENDSELECT
	PRINTL 　
	RESETCOLOR
ENDIF

@PRINT_STATE_GIFTDATA(ARG, 最大表示行数)
#DIM 最大表示行数
#DIM 表示开始
;qol custom code, replaced
CALL PRINT_STATE_GIFTDATA_TR(ARG, 最大表示行数)
RETURN

SIF !GIFT_GOT:ARG:1
	RETURN
;custom code, since there can be 100 gifts and bloat the fuck out
CALL PRINTBUTTON_EX(@"你送出的礼物", 900, TFLAG_GiftsHide, , , 1)
SIF TFLAG_GiftsHide
	RETURN

SIF !最大表示行数
	最大表示行数 = 100

FOR LOCAL, 0, 100
	;フラグ0番が100を兼ねているのでこの形に
	IF !GIFT_GOT:ARG:((LOCAL + 1) % 100)
		表示开始 = MAX(LOCAL + 1 - 最大表示行数, 1)
		BREAK
	ENDIF
NEXT

;将收藏置于最前
SIF CFLAG:ARG:获得的礼物
	CALL PRINT_GIFTDATA(CFLAG:ARG:获得的礼物, ARG, "角色の")
FOR LOCAL, 表示开始, 表示开始 + 最大表示行数 + 1
	SIF GIFT_GOT:ARG:LOCAL && GIFT_GOT:ARG:LOCAL != CFLAG:ARG:获得的礼物
		CALL PRINT_GIFTDATA(GIFT_GOT:ARG:LOCAL, ARG, "角色の")
NEXT

@Valentine_History(ARG)
IF CFLAG:ARG:バレンタイン
	PRINTFORML 在情人节给了我%Valentine_Chocolate(ARG)%\@ CFLAG:ARG:バレンタイン > 100? （已回礼）# \@
ENDIF

@Valentine_Chocolate(ARG)
#FUNCTIONS
SELECTCASE CFLAG:ARG:バレンタイン % 100
	CASE 1
		LOCALS = 黑雷神巧克力
	CASE 2
		LOCALS = 普通的巧克力
	CASE 3
		LOCALS = 高级巧克力
	CASE 4
		LOCALS = 手制巧克力
ENDSELECT
RETURNF LOCALS

@PERSONALITY_TYPE(ARG)
#FUNCTIONS
SELECTCASE CFLAG:ARG:性格傾向
	CASE 1
		RETURNF "弱势系"
	CASE 2
		RETURNF "强势系"
	CASE 3
		RETURNF "坦率系"
	CASE 4
		RETURNF "认真系"
	CASE 5
		RETURNF "其他"
ENDSELECT

@SHOW_CHILDDATA(C_ID, ARGS)
#DIM C_ID
#DIM DADDY

VARSET LOCAL
FOR LOCAL,1,MAXCHILD + 1
	SIF CHILDNAME:C_ID:LOCAL == ""
		CONTINUE
	IF ARGS == "ICON"
		IF CHILD_SEX:C_ID:LOCAL == 1
			SETCOLOR C_PINK
			PRINT ♀ 
		ELSE
			SETCOLOR C_BLUE
			PRINT ♂ 
		ENDIF
		RESETCOLOR
	ELSE
		DADDY = CHILD_DADDY:C_ID:LOCAL
		PRINTFORM 母：%CALLNAME:C_ID%　　父：%CALLNAME:DADDY%
		PRINTFORML
		PRINTFORM 第%TOKANJI(LOCAL)%\@ CHILD_SEX:C_ID:LOCAL == 1 ? 女 # 子 \@ %CHILDNAME:C_ID:LOCAL, 15, LEFT%-%NAME_FROM_PLACE(CHILD_AREA:C_ID:LOCAL)%-爱情度：{CHILD_LOVE:C_ID:LOCAL}　\@ CHILD_SEX:C_ID:LOCAL == 1 ? ♀ # ♂ \@  %PRINT_DATE_F(CHILD_BIRTHDAY:C_ID:LOCAL)%(第{CHILD_BIRTHDAY:C_ID:LOCAL}日)  出生于%CHILD_WEATHER_CN(CHILD_WEATHER:C_ID:LOCAL)%星期%GET_DAY_CN(CHILD_BIRTHDAY:C_ID:LOCAL)%　
		PRINTFORM %BL(31)%
		CALL Qol_Info_Child(C_ID, LOCAL)
	ENDIF
	LOCAL:1 ++
NEXT
SIF ARGS == "ICON"
PRINTL 
RETURN LOCAL:1
