;@M_KOJO_雾雨迷境_CHECK_K11_CHARADATA(ARGS, ARG, ARG:2)
;;SELECTCASE ARGS
;   CASE "SPECIAL_MENU"
;;  DISH_NAME = 巧脆魔法菇
; RESULTS = 甜点
; CALL 材料設定("蘑菇")
;DISH_TASTE = 洋食/油炸食品/甜/松脆
	;DISH_COMMENT = 除一般调剂外，另外使用了魔法调制而成，选对蘑菇便是如同爱情般的甜蜜DA⭐ZE～否则会出现幻觉哦～
;RETURN 1
;ENDSELECT
;RETURN 1
;============================
;DIYICI_CHARU
;============================
@DIYICI_XINGZHUANG_CHARU
SELECTCASE TALENT:MASTER:形状
CASE 1
	PRINTFORMW 「和%CALLNAME:MASTER%一样可爱的呢！」
CASE 2
	PRINTFORMW 「唔....让我来让你变舒服就好啦！」
CASE 3
	PRINTFORMW 「温柔点...的说」
CASE 4
	PRINTFORMW 「哈？发光的？」
	PRINTFORMW 「%CALLNAME:MASTER%！不会吃了毒蘑菇吧！」 
	PRINTFORMW 「我...我还是第一次，不会就...中毒了吧！」
CASE 6
	PRINTFORMW 「唔靠....」
	PRINTFORMW  「这个大小....我还是第一次...」
	PRINTFORMW 「%CALLNAME:MASTER%...这...进不来da...aaze...！」
ENDSELECT


;==================================
;乐器名字
;==================================
@Music_INSTRUMENT(ARG, ARG:1)
#FUNCTIONS
#DIMS INSTRUMENT


SELECTCASE TFLAG:使用楽器
	CASE 1
		INSTRUMENT = 电子琴
	CASE 2
		INSTRUMENT = 钢琴
	CASE 3
		INSTRUMENT = 吉他
	CASE 4
		INSTRUMENT = 小号
	CASE 5
		INSTRUMENT = 小提琴
ENDSELECT

RETURNF INSTRUMENT

;==================================================
;你为什么要外遇为什么要外遇为什么要外遇为什么要外遇！
;我捅死你！
;==================================================
@Other_Girl
#FUNCTIONS


FOR LOCAL,1,CHARANUM
	IF CHk_DATENOW(CFLAG:LOCAL:约会中)
		RETURNF CALLNAME:LOCAL
	ENDIF
NEXT

;==================================================
;UPDATE
;==================================================
@K11_UPDATEDATE
#LOCALSIZE 5
#LOCALSSIZE 10
LOCALS '= "唠叨话","开关类","字符画测试","点击即玩"
SETCOLOR 0xFFD700
HTML_PRINT "<p align='center'><font color = '#FFFF00' ><b>☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆</b></font></p>"
HTML_PRINT "<p align='center'><font color = '#FFD700' ><b><u>《雾雨迷境》UPDATE</u></b></font></p>"
HTML_PRINT "<p align='center'><font color = '#FFFF00' ><b>☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆</b></font></p>"
PRINTFORML
PRINTFORML
PRINTFORML
DRAWLINE
gLineCount = LINECOUNT
$update_1_marrisawuyu
SIF LINECOUNT - gLineCount > 0
	CLEARLINE LINECOUNT - gLineCount
ALIGNMENT CENTER
FOR I,0,4
	PRINTFORM [{I}] - %LOCALS:I, 16, LEFT%
NEXT
PRINTL
ALIGNMENT LEFT
INPUT
SELECTCASE RESULT
	CASE 0
		CALL ASK_M("听听作者唠叨",1,"我想打游戏，打游戏，感慨什么的以后再说！",1)
		SELECTCASE RESULT
			CASE 0
				PRINTFORML 此口上可能含有OOC，以及技术不足呀
				PRINTFORMW 但是作者依旧在持续更新，若是有对沙沙有什么想法，也就是建议，以及对口上的不爽，bug，可以在任何地方提出
				PRINTFORMW 但如果本口上真的给各位玩家带来了什么负面情绪，希望各位火力输出给作者，请别憋坏了身子，也别把气撒给了魔理沙
				PRINTFORMW 更多留言在口上文件夹里，若是有想法看的请去看吧！
				PRINTFORMW 本口上很意识流，就是该色的地方不色，不色的地方非常不色，嘻嘻
			CASE 1
				PRINTFORMW 好！玩！爽！
		ENDSELECT
		GOTO update_1_marrisawuyu
	CASE 1
		LOCAL = LINECOUNT
		$NO_WAY_1
		SIF LINECOUNT - LOCAL > 0
			CLEARLINE LINECOUNT - LOCAL
		CALL ASK_M("特殊指令“少女行动DA☆ZE”！",1,"其他开关",1,"返回",1)
		SELECTCASE RESULT
		CASE 0
			PRINTFORMDW 此指令多添加了“介绍”其他少女tw中所行的功能，目前可能多少为笨批本人收集到的，如有缺漏，贴吧说下
			PRINTFORMDL
			;PRINTFORMDW 这个指令开启需要将本口上文件根目录中的chara_data_11压缩包解压并覆盖到
			;PRINTFORMDW eratw\ERB\キャラデータ
			;PRINTFORMDW 位置中，记住，一定要覆盖！
			GOTO NO_WAY_1
		CASE 1
			PRINTFORML 这是一个是否开启魔理沙“放尿”剧情的开关
			PRINTFORMW (非常抱歉，目前口上内容好像只有这么一个开关.....)
			GOTO NO_WAY_1
		CASE 2
		ENDSELECT
		GOTO update_1_marrisawuyu
	CASE 2
		CALL FONT_AA_11(0)
		WAIT
		GOTO update_1_marrisawuyu
	CASE 3
	;CASE 4
	;	PRINTFORML 打开根目录\/ERB\/口上・メッセージ関連\/个人口上\011 Marisa [魔理沙]\/雾雨迷境
	;	PRINTFORMW 解压chara_data_11_魔理沙到\/ERB\/キャラデータ
	;	PRINTFORMW 就可以啦！
ENDSELECT
RESETCOLOR
